  body,
    body > section, 
    body > header, 
    body > nav,
    body > aside,
    body > section,
    body > footer {
      border: 2px solid  #808080;
      -webkit-border-radius: .67em;
      -moz-border-radius: .67em;

    }