body > section {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  background-color:#F2F2F2;
  color:#333;
  display:inline-block;
  border-radius: .5em;
  min-height: 11em;
  margin-left:2em;
  margin-top: 5em;
  border: 1px solid #D2D2D2;
  width:29em;
}
body > section h1 {
  text-align:center;
  color:#333;
  font-size:1.25em;
  margin:1em;
}
body > section p {
  text-align:center;
  color:#333;
  margin-bottom:1em;
}
body > section a {
  display:block;
  margin:2em 0 1em 7.5em;
}
