#about_us {
  display:block;

  padding: 0 .25em;
  margin-bottom:3em;
}
#about_us > article {
  display:inline-block;
  width: 34.5em;
}
#about_us > article > h1 {
  font-size:2em;
  margin-bottom:1em;
}
#about_us > article > p {
  font-size:1.25em;
  margin-bottom:.75em;
  line-height:1.25em;
}
#about_us > figure {
  vertical-align:top;
  margin-top:3.5em;
  display:inline-block;
  margin-left: 3.5em;
}
#about_us > figure img {
  border-radius: 1em;
  width:13em;
}
