#home_author {

  #signed_in {
    & > nav > a[href='/author'] > img {
      opacity:1;
    }
  }

  #stats > div {
    width:7.25em;
    padding-left:1.25em;
    &:nth-child(7){
      @include left_width($offset_color)
    }
  }
}
