#authors {
  display:inline-block;
  width:32em;
}
#authors > header {
  width:auto;
  display:inline-block;

}
#authors > header > p {
  margin-top: 1em;
}
#authors > header > h1 {
  font-size:2em;
  line-height:1em;
}
#authors > header > form {
  display:inline-block;
  margin:2em auto 0 2em;
}
#authors > header > form > h2 {
  margin:2em 0;
}
#authors > header > form > select {
  display:inline-block;
  margin-right:1em;
}
#authors > figure {
  background-color:white;
  border:.15em solid #666;
  border-radius:.5em;
  margin-top:1em;
  text-align:center;
  display:block;
  min-height: 20em;
  line-height: 20em;
}
#authors > figure img {
  display:inline;
  vertical-align:middle;
}
#authors > figure > figcaption {
  text-align:center;
  cursor:pointer;
  display:block;
  margin: 2em auto;
}
#authors > textarea {
  vertical-align:bottom;
  display:block;
  font-size:1em;
  margin:0;
  padding:0;
  width:30em;
  height:10em;
  margin: 1em auto;
  border:.15em solid gray;
}

#authors > aside {
  display:inline-block;
}
#authors > aside > img {
  margin-top:3em;
  border-radius:.5em;
  -webkit-box-shadow: 0 .75em 1.75em silver;
  -moz-box-shadow: 0 .75em 1.75em silver;
}