#home_author {
  #stats > div {
    width:7.25em;
    padding-left:1.25em;
    &:nth-child(7){
      @include left_width($offset_color)
    }

    p[data-cents]:before {
      content: "$";
    }
  }
}
