#contact p {
  margin:.25em;
}
#contact {
  font-size:1.25em;
  display:block;
  width:13em;
  margin: 1em auto 1em auto;
  padding:1em;
  line-height:1.25em;
  min-height:12em;
}
#contact > address {
  margin-top:2em;
}