#home_getting_started {
  section {
    padding:2em;
    & > header.step {
      display:inline-block;
      padding:0;
      margin:0;
      // outline: 15empx solid silver;
      font-size: 15em;
      line-height: 1em;
      color:$light;
    }
    & > div {
      vertical-align: top;
      width:grid-width(9);
      margin-left:5em;
      color:$light;
      display:inline-block;

      & > h1 {
        color:$light;
        margin-bottom: 0.5em;
      }
      & > a {
        position:relative;
        @include header_text;
        text-transform:none;
        color:$light;
        font-size: 1.5em;
        border-radius: 0.25em;
        vertical-align: middle;
        display: inline-block;
        padding:0.5em 1em 0.5em 1.75em;
        $facebook:#5F78AC;
        background-color:$facebook;
        @include background-image(linear-gradient($facebook 25%, shade($facebook, 20%) 100%));
        box-shadow: 2px 2px 2px $shadow;
        &:before {
          content: "";
          width:1.25em;
          height:1.25em;
          position: absolute;
          top:0.6em;
          left:0.5em;
          opacity:0.3;
          background: image-url('providers/facebook/f.svg') no-repeat 0% 0%;
        }
      }
      & > p {
        font-size: 1em;
        &.fine_print {
          &:before {
            content:"*";
          }
          font-size: 0.85em;
        }

      }
    }
  }

  #banner {
    margin-bottom: grid-width(1);
    padding-bottom:0;
    header {
      width:grid-width(13);
      & > h1 {
        text-shadow: 1px 0px $shadow;
        margin:0;
        color:$copper_text;
        font-size: 2.2em;
      }
      & > h4, p {
        font-family: 'Cantarell', sans-serif;      
        color:#888;

      }
      & > h4 {
        margin:0.4em 0;
        font-size: 1.2em;
      }
      & > p {
        margin:0;
        font-size: 1em;
      }
    }
  }

  #step_one {
    margin-bottom:0;
    background-color:#939598;

  }

  #step_two {

    margin-bottom:0;
    background-color:#BCBEC0;
    & > figure > img {
      display:none;
    }
    &.safari {
      .safari {display: block}
      .chrome, .mozilla {
        display:none;
      }
    }
    &.chrome{
      .chrome {display: block}
      .safari, .mozilla {
        display:none;
      }
    }
    &.mozilla {
      .mozilla {display: block}
      .chrome, .safari {
        display:none;
      }

    }


    &.mozilla{

    }

    & > div {
      & > a {
        background-color:$copper;
        border:none;
        @include background-image(linear-gradient($copper 25%, shade($copper, 20%) 100%));
        &:before {
          left:0.25em;
          border-right: none;
          box-shadow:none;
          background: image-url('icons/letter_logo_white.svg') no-repeat 0% 0%;
        }
      }
      & > p {
        font-size: 1em;
      }
    }
    figure {
      margin-left: 4em;
      display:inline-block;
      width:grid-width(5);
    }

  }

  #step_three {
    background-color:#939598;
    margin-bottom: grid-width(2);
    & > aside {
      input, select {
        min-width:3em;
        border:none;
        border-radius:0.25em;
        background-color:$light;
      }
      input[type=submit] {
        min-height: 2em;
        min-width: 4em;
        margin-right: none;
      }
      select {
        min-width:6em;
      }
      margin-left: 3em;
      display:inline-block;
      width:15.5em;

      fieldset.pay {
        color:$light;

        font-size: 0.85em;
        display: inline-block;
        width:grid-width(5);

        &  a {color:$light;}
      }
    }
  }

}

#home_getting_started_old {

  section {
    margin-bottom: grid-width(1);
    &.chrome {
      .safari, .firefox{
        display:none !important;
      }
    }
    &.safari {
      .chrome, .firefox{
        display:none !important;
      }
    }
    &.firefox {
      .chrome, .safari{
        display:none !important;
      }
    }
  }

  figure {
    padding:3em 2em;
    vertical-align: top;
    & > figcaption {
      vertical-align: top;
      display:inline-block;
      width:grid-width(10);
      & > h2 {
        font-size: 1.75em;
        &:nth-child(3) {
          margin-top:1em;
        }
      }
    }
    & > img {
      display:inline-block;
    }
  }

  figure#any_url {
    figcaption {
      margin-right:grid-width(3);
    }
  }

  figure#sign_up_install_button {
    background-color: $offset;
    @include full_width($offset);
    & > figcaption {}
    & > img {
      display:block;
    }
    nav {
      margin-top:grid-width(1);
      margin-left:2em;
      display:inline-block;
      width:grid-width(9);
      & > a {
        width:11.5em;
        display:block;
        margin-bottom:3em;
        &.safari {
          margin-top:-2em;
          margin-bottom:0;
        }
        &.firefox {
          margin-top:3em;
          margin-bottom:0;
          & > img {
            display:inline-block;
            margin-left:2em
          }
        }
      }
    }
  }

  figure#start_tipping {
    figcaption {
      margin-right: grid-width(3);
    }
  }
}