#home_index, #home_tipped {
  height:100%;

  input {
    width:100%;
    height:100%;
    font-size:2rem;
    padding:1rem;
    text-align:center;
    background-color:$offset_color;
    transition: all 0.5s ease-in;
    border:2px solid $shadow;
    font-family: 'Doppio One', sans-serif;
    margin-bottom:1rem;

    &:active,
    &:focus {
      border:2px solid $copper;
      font-family: 'Nothing You Could Do', cursive;
      &::-webkit-input-placeholder {
         color:$copper;
      }

      &:-moz-placeholder { /* Firefox 18- */
         color:$copper;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         color:$copper;
      }

      &:-ms-input-placeholder {
         color:$copper;
      }
    }
  }

  section.pages {
    display:none;
  }

  ::-webkit-input-placeholder {
     color:$header;
  }

  :-moz-placeholder { /* Firefox 18- */
     color:$header;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color:$header;
  }

  :-ms-input-placeholder {
     color:$header;
  }

}


