#home_index {
  input {
    @include button;
    margin-bottom:1rem;
    &:active,
    &:focus {
      border:2px solid $copper;
      font-family: 'Nothing You Could Do', cursive;
      &::-webkit-input-placeholder {
        text-transform:capitalize;
         color:$copper;
      }

      &:-moz-placeholder { /* Firefox 18- */
        text-transform:capitalize;
         color:$copper;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        text-transform:capitalize;
         color:$copper;
      }

      &:-ms-input-placeholder {
        text-transform:capitalize;
         color:$copper;
      }
    }
  }

  ::-webkit-input-placeholder {
     color:$header;
  }

  :-moz-placeholder { /* Firefox 18- */
     color:$header;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color:$header;
  }

  :-ms-input-placeholder {
     color:$header;
  }
}

#home_index {
  section.trending.pages {
    vertical-align: top;
    display:block;
    margin-top:1rem;
    padding: 0.5rem 1rem;
    & > article {
      height:7.5rem;
      overflow:hidden;
      border-radius: 0.15rem;
      border:0.1rem solid $input_border;
      background-color:$offset_color;
      vertical-align: top;
      margin-bottom:1rem;
      & > header {
        font-size: 0;
        width:36%;
        height:100%;
        display:inline-block;
        figure {
          width:100%;
          height:100%;
          display:block;
          font-size: 1rem;
          overflow:hidden;
        }
        figure img {
          vertical-align: middle;
          min-width: 100%;
          height: 100%;
        }
      }

      & > footer {
        overflow:hidden;
        font-size: 0;
        padding:0;
        margin:0;
        display:inline-block;
        vertical-align: top;
        width:60%;
        margin: 0 1%;
        h2 {
          height:4rem;
          text-align: center;

        }
        p, h2, h3{
          line-height: 1.3;
          overflow:hidden;
          font-size: 1rem;
          font-family: 'Patua One', sans-serif;
          font-family: 'Doppio One', sans-serif;
          font-family: 'Cantarell', sans-serif;
          letter-spacing: 0;
          color:$header;
        }
        h3 {
          margin-bottom: 0.25rem;
          font-size: 0.75rem;
          opacity: 0.75;
          text-align: center;
          text-transform: lowercase;
        }
        menu {
          font-size:0;
          padding:0;
           a {
            border:none;
            font-size: 1rem;
            padding:0.25rem;
            display:inline-block;
            color:$copper;
            vertical-align: top;
            background:none;
            width:49%;
            &:last-of-type {
              margin-left:1%;
              float:right;
            }
          }
        }
      }

    }
  }

}

