#home {
  width:55.5em;
}
#home > header {
  min-height:9em;
}
#home > header > hgroup {
  margin:2em 0 0 9em;
  font-size:2em;
}
#home > header > hgroup > h2,
#home > header > hgroup > ul {
  display:inline-block;
}
#home > header > hgroup > h2 {
  color:#333;
}
#home > header > hgroup > ul {
    min-width:2.5em;
}
#home > header > hgroup > ul > li {
  color:#BD902C;
  display:none;

}
#home > header > hgroup > ul > li:first-child{
  display:inline-block;
}
#home > article {
  display:inline-block;
  width: 32em;
  margin-right:4em;
}
#home > article > h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}
#home > article > p {
  font-size: 1.5em;

  margin-bottom: 1em;
  line-height: 1.35em;
}
#home > article > ol {
  -webkit-padding-start: 0;
  margin-top:2em;
  vertical-align:top;
  width:55.5em;
}
#home > article > ul {
  list-style: circle inside ;
  font-size: 1.5em;
  width: 25em;
  margin-bottom: 1em;
  line-height: 1.15em;

}
#home > article > ul > li {
  line-height:1.5em;
}
#home > article > ul > li > a {
  text-decoration:underline;
}
#home > article > ul > li > a > img {
  vertical-align:bottom;
  text-decoration:none;
  margin-left:0.25em;
  padding:0.25em;
}
#home > figure {
  display:inline-block;
  vertical-align:top;
  margin-left:1em;
  width:18em;
}
#home > figure > figcaption {
  text-align:center;
  display:none;
}
#home > figure > img {
  width:13em;
}

.twtr-hd, .twtr-ft {
  display:none;
}


.twtr-widget .twtr-tweet-wrap {
padding: .5em 0 !important;
overflow: hidden;
zoom: 1;
  display:none; 
}

