#home_index {
  & > header {
    background-color: transparent;
    @include transition(background-color 1.4s);
    &:hover {
      background-color: #231F20;
      @include transition(background-color .7s $ease-in-sine);
    }
  }
  #banner {
    z-index:2;
    background: image-url('banner.png') no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 26.8em;
  }
  #banner > header {
    display:inline-block;
    margin-top:8em;
    margin-right:grid-width(4);
    width:grid-width(11);
  }
  #banner > header > h1 {
    margin:0;
    opacity:.8;
    line-height:1em;
    color:#ffffff;
    font-size:2.5em;
  }
  #banner > header a {
    font-family: 'Doppio One', sans-serif;
    color:#999999;
    text-decoration:none;
    font-size:.05em;
    line-height:3.5em;
  }
  #banner > a#play_video {
    text-decoration:none;
    cursor:pointer;
    display:inline-block;
    opacity:.5;
    font-size:4em;
    color:#000000;
    @include transition(opacity 1s);
    &:hover {
      opacity:.7;
      @include transition(opacity 1s);
    }
  }
  #banner > a > img {
    height:2em;
  }
  #banner > img {
    padding-left:.10em;
    height:1em;
  }

  #connecting {
    margin-bottom: .5em;
  }
  #connecting {
    position:relative;
    padding-top:4em;
    padding-bottom:4em;
    z-index:-1;
    background-color: rgba(182, 195, 181, .3);
  }
  #connecting > img {
    width: grid-width(12);
    display:inline-block;
  }
  #connecting > aside {
    vertical-align:top;
    width: grid-width(9);
    margin-left: grid-width(13);
    display:inline-block;
  }
  #connecting > aside > p {font-size:.85em;}

  #how {
    background-color: rgba(182, 195, 181, .3);
    padding-top:2em;
  }
  #how > header {
    margin-bottom:2em;
  }
  #how > header > h1,
  #how > header > p,
  #how > header > button {
    margin:0;
    display:inline-block;
    vertical-align:top;
    margin-right: grid-width(1);
  }
  #how > header > h1 {
      line-height:1em;
    width: 6em;
    margin-right: 1em;
  }
  #how > header > p {
    font-size:.85em;
    width: grid-width(9);
  }
  #how > header > button {
    font-family: 'Doppio One', sans-serif;
    width: grid-width(4);
    text-align:center;
    padding:.5em 0;
    border-radius:.25em;
    background-color:#cc9933;
    border:none;
    outline:none;
    @include background-image(linear-gradient(#cc9933 40%, shade(#cc9933, 25%) 100%, transparent 50%));
    color:white;
  }
  #how > nav > a:first-child  {
    background-color:darken(rgba(182, 195, 181, .3), 1%);
  }
  #how > nav {

  }
  #how > nav > a {
    border-radius:.5em .25em 0 0 ;
    padding:.25em;
    padding-top:.5em;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    width:grid-width(3);
    height:4em;
    line-height:2.5em;
  }
  #how > nav > a > img {
    position:relative;
    z-index:200;
    opacity:.7;
    width:5em;
    display:inline-block;
    vertical-align:bottom;
  }

  #samples {
    padding-bottom:2em;
    background-color:darken(rgba(182, 195, 181, .3), 15%);
  }
  #samples > figure {
    padding-top:2em;
  }
  #samples > figure > img {
    width:grid-width(22);
    display:block;
    @include box-shadow(1em 1em 1.5em -0.75em rgba(0, 0, 0, .5));
  }

  #button {
    position:relative;
    padding-top:3em;
    padding-bottom:4em;
  }
  #button > aside {
    display:inline-block;
    width:grid-width(7);
  }
  #button > img.logo {
    @include box-shadow(inset -1.5em -1.5em 2.5em -1.5em rgba(0, 0, 0, .5));
    display:inline-block;
    vertical-align:bottom;
    line-height:5em;
    padding:1em;
    width:5em;
    height:5em;
    border:.2em solid #888;
    background-color:#ffffff;
    border-radius:6em;
    margin-left:grid-width(3);
  }
  #button > img.top, img.bottom {
    position:absolute;
    left:grid-width(12.5);
    width:3em;
    height:1.25em;
  }
  #button > img.top {
    top:0;
  }
  #button > img.bottom {
    bottom:0;
    @include transform(rotate(180deg));
  }
  #button > a {
    width:grid-width(6);
    height:5em;
    vertical-align:bottom;
    display:inline-block;
    background-color: #231F20;
    margin-left:grid-width(3);
    margin-bottom:2em;
  }

  #more {
    padding-top:4em;
    padding-bottom:5em;
    background-color: rgba(182, 195, 181, .3);
  }
  #more > h1 {
    font-size:2.2em;
    margin-bottom:1.5em;
    text-align:center;
    opacity:.6;
    text-shadow: 1px 1px 1px white;
    &:before, &:after{
      padding:1.5em;
      content:".................................................................................";
      font-size:1px;
      vertical-align:top;
    }
  }
  #more > article {
    display:inline-block;
    margin-right: 7px;
    margin-bottom:2em;
    width:grid-width(7);
  }

}
