#home_index {
  & * {
//    outline:1px solid silver;
  }
  & > header {
    position:absolute;
    top:0;
    z-index:300;
    background-color: transparent;
    @include transition(background-color 1.4s);
    &:hover {
      background-color: $header;
      @include transition(background-color .7s $ease-in-sine);
    }
  }
  a.button {
    @include copper_button;
  }
  #banner {
    z-index:2;
    background: image-url('home/katie.png') no-repeat left top;
    @include background-size(cover);
    height: 26.8em;
  }
  #banner > header {
    display:inline-block;
    margin-top:7em;
    margin-right:grid-width(1);
    width:grid-width(10);
  }
  #banner > header > h1 {
    margin:0;
    opacity:.8;
    line-height:1em;
    color:#ffffff;
    font-size:2.5em;

  }
  #banner > header a {
    font-family: 'Doppio One', sans-serif;
    color:#999999;
    text-decoration:none;
    font-size:.05em;
    line-height:3.5em;
  }
  #banner > a#play_video {
    margin-top:2.5em;
    text-decoration:none;
    cursor:pointer;
    vertical-align:top;
    display:inline-block;
    opacity:.5;
    font-size:3em;
    color:#000000;
    @include transition(all 1s);
    &:hover {
      opacity:.7;
      @include transition(all 1s);
      @include transform(scale(1.05,1.05));
    }
  }
  #banner > a > img {
    height:2em;
  }
  #banner > img {
    padding-left:.10em;
    height:1em;
  }

  #connecting {
    margin-bottom: .5em;
    position:relative;
    padding-top:4em;
    padding-bottom:4em;
    z-index:-1;
    background-color: $offset_color;
  }
  #connecting > img {
    width: grid-width(12);
    display:inline-block;
  }
  #connecting > aside {
    vertical-align:top;
    width: grid-width(9);
    margin-left: grid-width(13.5);
    display:inline-block;
  }
  #connecting > aside > p {font-size:.85em;}

  #how {
    background-color: $offset_color;
    padding-top:2em;
  }
  #how > header {
    margin-bottom:2em;
  }
  #how > header > h1,
  #how > header > p,
  #how > header > a.button {
    margin:0;
    display:inline-block;
    vertical-align:top;
    margin-right: grid-width(1);
  }
  #how > header > h1 {
      line-height:1em;
    width: 6em;
    margin-right: 1em;
  }
  #how > header > p {
    font-size:.85em;
    width: grid-width(9);
  }

  #how > nav > a.selected  {
    opacity:0.9;
    background-color:darken($offset_color, 1%);
  }
  #how > nav {}
  #how > nav > a {
    color:darken($offset_color, 30%);;
    display:inline-block;
    width:grid-width(3);
    height:4em;
    padding:.25em;
    padding-top:.5em;
    line-height:2.5em;
    border-radius:.5em .5em 0 0 ;
    vertical-align:middle;
    text-align:center;
    text-decoration:none;
  }
  #how > nav > a > img {
    position:relative;
    z-index:200;
    opacity:.7;
    width:5em;
    display:inline-block;
    vertical-align:bottom;
  }

  #samples {
    padding:0;
    position:relative;
    overflow: hidden;
    width:100%;
    padding-bottom:3em;
    background-color:darken($offset_color, 15%);
    @include triangle_down($offset_color)
  }
  #samples > figure {
    width:300%;
    padding-top:2em;
  }
  #samples > figure > img {
    margin-left: grid-width(1);
    width:grid-width(22);
    display:inline-block;
    overflow:hidden;
    @include box-shadow(1em 1em 1.5em -0.75em rgba(0, 0, 0, .5));
  }
  #samples > figure > img:first-child{
    margin-left: grid-width(2);
  }

  #button {
    background-color:$offset_color;
    vertical-align:top;
    padding-top:3em;
    padding-bottom:6em;
  }
  #button > header {
    display:inline-block;
    width: grid-width(5.5);
  }
  #button > header > h1 {
    line-height:1.25em;
    font-size: 2em;
    margin:0;
  }
  #button > figure {
    display: inline-block;
    position:relative;
    margin-left: grid-width(4);
  }
  #button > figure > a#facebook_sign_in {
    cursor:pointer;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-9em;
    margin-top:-2em;
    z-index:4;
  }
  #button > figure > a > img.logo {
    z-index:3;
    margin:1em auto 1em auto;
    display:block;
    @include box-shadow(inset -1.5em -1.5em 2.5em -1.5em rgba(0, 0, 0, .5));
    vertical-align:middle;
    border-radius:5em;
    width:3em;
    height:3em;
    background-color:white;
    padding:1em;
    border: .3em solid #5f5f5f;
  }
  #button > figure > figcaption {
    display:block;
    margin-top:2em;
  }

  #congrats {
    position:relative;
    header {
      vertical-align:bottom;
      position:relative;
      height: grid-width(3.5);
      line-height:grid-width(3.5);
      margin-bottom:1em;
    }
    header > h3 {
      @include background-image( linear-gradient(black 0, $darkness 75%, transparent 32%),image-url('icons/congrats.svg'));
      background-repeat: no-repeat;
      background-position:center;
      @include background-size(cover);
      font-size:2em;
      line-height:1em;
      position:absolute;
      top:0;
      right:0;
      display:inline-block;
      color:white;
      padding:.75em;
      height: grid-width(1);
    }
    header > h1 {
      padding:0;
      margin:0;
      font-size:2em;
      width:grid-width(6);
      display:inline-block;
      vertical-align:bottom;
      line-height:1.25em;
    }
    & > p {
      display:inline-block;
      width:grid-width(9.5);
      font-size:.85em;
      margin-right:1em;
      margin-bottom:grid-width(2);
    }
    & > p.sub {
      width:grid-width(10);
      vertical-align:top;
      font-size:.75em;
      color:#999999;
    }
    footer {
      padding:1em;
      vertical-align:bottom;
      display:inline-block;
      text-align:center;
      background-color:$offset_color;
      position:absolute;
      right:7em;
      bottom:0;
    }
    footer > h3 {
      font-family: 'Cantarell', sans-serif;
      font-size:.85em;
      color:#999999;
      margin-bottom:0.5em;
    }
    footer > p {
      opacity:1;
      color:$darkness;
      margin:0;
      line-height:1em;
      font-family: 'Bree Serif', serif;
      font-size:2em;
    }
    footer > p:before{
      content: "$";
    }
  }
  #facebook {
    min-height:4em;
    margin-bottom:.25em;
    padding-top:grid-width(1);
    background-color:$offset_color;
  }
  .settings {
    display:inline-block;
    width:grid-width(10.75);
    padding-top:2em;
    padding-bottom:1em;
    padding-right:1em;
    background-color:$offset_color;
  }
  .settings > header {
    display:inline-block;
    width:grid-width(7.25);
  }
  .settings > a > img {
    vertical-align:top;
    margin-left:4em;
    opacity:.5;
    color:black;
    width:2.5em;
  }
}
