#home_settings {
  #identities {
    display:block;

    & > div {
      vertical-align:top;
      display:inline-block;
      width:18em
    }
    & > div > h2 {
      margin-bottom:1em
    }
    & > aside {
      display:inline-block;
    }
    & > div > figure {
      display:inline-block;
      padding:.5em 0;
      margin-right:.5em;
    }
    & > div > figure * {
      display:inline-block;
      vertical-align:middle
    }
    & > div > figure > form,
    & > div > figure > figcaption {
      opacity:0;
      width:0;   
    } 
    & > aside {
      @include hidden;
    }
   
    & > div > figure > form > input {
      padding:0 .2em;
      font-size:1em;
    }

    & > aside > header {
      height:1em;
      margin-bottom:1.5em
    }
    & > aside > nav {}
    & > aside  > nav a {
      margin-right:.65em
    }
  }

  #identities.edit {
  
    & > aside {
      @include active;
    }
    & > div > figure > figcaption {
      opacity:1;
      @include transition (width 0.5s ease-in 0s);
      margin-left:0.5em; 
      white-space: nowrap;
      width: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > div > figure > form {
      opacity:1;
      @include transition (opacity 0.3s ease-in 0.5s);
    }
    & > div > figure > form.hide {
      opacity:0;
      @include transition (opacity 0.3s ease-in 0.25s);
    }
  }

  #address {
    min-height:grid-width(4);
  }
  #address > form > input[type=submit] {
    width:4em;
  }


  #signed_in > nav > a[href='/settings'] > img {
    opacity:1;
  }
  & > nav {
    margin-bottom:3em;
    text-align:center;
  }
  & > nav > a {
    @include settings_pointer
  }
  #rate > div > p:before{
    content: "$";
  }
  #card {
    height: grid-width(6);
    margin-bottom:3em;
    #number {
      width:10em;
    }
    #cvc {
      width:grid-width(1);
    }
  }
  #card > div {
    display:none;
    width:40em;
    @include column-count(3);
    @include column-gap(2em);
  }
  #card > div > section {
    height:5em;
    margin:0;
  }
  #card > div > section > p {
    margin:0
  }
  #card > form a {
    font-weight:bold;
  }
  #card p.number:before {
   content: "**** **** **** ";
  }
  #card > form > h1 {
    display:none;
    opacity:0;
    @include transition (opacity 3.0s ease-in-out);
  }
  #card > form > h1.message {
    @include transition (opacity 3.0s ease-in-out);
    display:block;
    opacity:1;
    margin:0 0 .5em 0;
    color:red;
    font-size:1.2em;
  }

  a[href="/terms"] {
    text-decoration: underline;
  }
}