#home_settings {

  #rate > div > p:before{
    content: "$";
  }
 
  #sharing {

    & > form {
      display:inline-block;
      opacity:1;
    }
  }

  #orders {
    & > nav > a {
      @include settings_pointer;
    }
  }
}