#home_statistics {
  section {
    width:44em;
    min-height: 30em;
    margin: 10em auto 1em auto;
  }
  figure {
    margin-right:5em;
    vertical-align:top;
    height:15em;
    display:inline-block
  }
  figure:nth-child(3){
    margin-right:0;
  }
  figure:nth-child(2) > img{
    opacity:.9;
  }
  figure > img {
    opacity:.8;
    vertical-align:top;
    width: 10em;
    height:10em;
  }
  figure > figcaption {
    text-align:center;
    font-size:2em;
    margin-top:1em;
  }
  footer {
    position:fixed;
    bottom:0;
  }
}