#home_tip_some_pages {
  #banner {
    header{
      width:grid-width(10);
      margin-right: grid-width(3);
      display: inline-block;
      h1{
        margin:0;
        font-size: 2.5em;
        color:$copper_text;
      }
      p {
        margin:0;
        font-size: 1.5em;
      }
    }
    figure{
      width:grid-width(7);
      display:inline-block;
      figcaption{
        color:#555555;
        font-family: 'Nothing You Could Do', cursive;
        font-size: 1.5em;
        p{
          text-align:center;
          margin:0;
        }
      }
    }
  }
}