#home_welcome {

  #banner {
    width:grid-width(24);
    margin: grid-width(1) auto;
    padding-right: 0;
    & > header {
      hgroup {
        display:inline-block;
        width:grid-width(8);
        & > h1 {
          text-shadow: 1px 1px $shadow;
          font-size:2.4em;
          line-height: 1.4em;
          margin: 0;
          vertical-align: bottom;
          color:$button_color;
          opacity:1;
        }
        & > p {
          margin: 0;
          font-size:1.25em;
          color:$text;
          opacity:1;
        }
      }
      & > figure {
        // outline: 1px solid red;
        width:grid-width(13);
        margin-left: grid-width(1);
        display:inline-block;
        vertical-align:bottom;
        & > figcaption {
          font-size:0.85em;
          display:block;
          width:grid-width(8);
        }
        & > a:nth-child(2) > img {
          width:grid-width(6);
          // max-height: 2em;
        }
        & > a {
          margin-top: 1em;
          vertical-align:top;
          display:inline-block;
        }
        & > a.button {
          opacity:0.5;
        }
        & > img {
          display:inline-block;
          vertical-align:middle;
          width:2em;
          height:2em;
          margin: 1em 0.5em 0 0.5em;
          opacity:0.35;
        }
      }
    }

  }
}