#home_welcome {
  & > header {
    width:100%;
    z-index:300;
    background-color: transparent;
    @include transition(background-color 1.4s);
    &:hover {
      background-color: $header;
      @include transition(background-color .7s $ease-in-sine);
    }
  }

  #banner {
    margin-top:-4em;
    background-image: image-url('home/katie.jpg');
    background-position:center top;
    background-repeat:no-repeat;
    background-color:transparent;
    height: 24em;
    width:auto;
    @include background-size(cover);
    @include full_width(black);
    @include box-shadow(0 -0.5em 1.75em 1em rgba(0, 0, 0, .3));
    & > header {
      margin:0 auto 0 auto;
      width:grid-width(22);

      & > hgroup {
        display:inline-block;
        width:grid-width(10);
        display:inline-block;
        margin-top: grid-width(1.5);
        
        line-height:1.35em;
        & > h1 {
          text-shadow: 3px 3px $darkness;
          font-size:2.4em;
          line-height:1.3em;
          color:$light-text;
          opacity:.8;
        }
        & > p {
          font-size:1em;
          text-shadow: 2px 2px $darkness;
          color:$light-text;
          opacity:.9;
        }
      }

      & > figure {
        width:grid-width(8);
        height:grid-width(8);
        position:relative;
        vertical-align:top;
        display:inline-block;
        margin-top:1em;
        margin-left:4em;
      }
      & > figure > figcaption {
        opacity:.7;
        color:$light-text;
        position:absolute;
        line-height:1.25em;
        width:3em;
        top:2em;
        left:1em;
      }
      & > figure > figcaption:nth-child(2) {
        top:3.5em;
        left:8.5em;
      }
      & > figure > figcaption:nth-child(3) {
        top:8.5em;
        left:5em;
      }
      & > figure > img {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-4em;
        margin-top:-4em;
        width:8em;
        height:8em;
        opacity:0.6;
      }
      & > figure > img:nth-child(4){
        @include animation-name(spinning);
        @include animation-duration(5s);
        @include animation-timing-function(linear);
        @include animation-iteration-count(infinite);
        @include animation-play-state(paused);
        width:16em;
        height:16em;
        margin-left:-8em;
        margin-top:-8em;
        opacity:0.3;

        &.spinning {
          @include animation-play-state(running);
        }
      }
      & > figure > figcaption {
        text-shadow: 2px 3px $darkness;
        font-family: 'Nothing You Could Do', cursive;
        font-size:1.75em;
      }
    }
  }

  #samples {
    @include box-shadow(inset 0 .75em 1.5em -0.75em rgba(0, 0, 0, .1), inset 0 -0.5em 1.5em -1em rgba(0, 0, 0, .3));
    padding:0;
    position:relative;
    overflow:hidden;
    width:100%;
    padding-bottom:5em;
    background-color:rgba(230,232,233, .5);

    & > nav > a.selected {
      position:relative;
      & > img {
        opacity:1;
      }
      &:after {
        margin-left:-1.5em;
        position:absolute;
        top:-1em;
        left:52.5%;
        content:"";
        width: 0;
        height: 0;
        border-left: 1.5em solid transparent;
        border-right: 1.5em solid transparent;
        border-top: 1em solid rgba(251, 250, 248, 0.7);
      }
    }
    & > nav {
      width:grid-width(24);
      margin: 1em auto 0 auto;
      display:block;
    }
    & > nav > a {
      cursor:default;
      color:darken($offset_color, 30%);;
      display:inline-block;
      width:grid-width(3);
      height:4em;
      padding:.25em;
      padding-top:.5em;
      line-height:2.5em;
      border-radius:.5em .5em 0 0 ;
      vertical-align:middle;
      text-align:center;
      text-decoration:none;
    }
    & > nav > a[data-distance='nope']{
      cursor:auto;
    }
    & > nav > a > img {
      position:relative;
      z-index:200;
      opacity:.7;
      width:5em;
      display:inline-block;
      vertical-align:bottom;
    }
    & > nav > a.selected > img.logo {
      display:inline;
    }
    & > nav > a.selected > img.mask {
      display:none;
    }
    & > nav > a > img.logo {
      display:none;
    }
    & > figure {
      width:700%;
      padding-top:2em;
    }
    & > figure > img:first-child {
      margin-left:1em;
    }
    & > figure > img {
      margin-left: grid-width(1);
      display:inline-block;
      @include box-shadow(1em 1em 1.5em -0.75em rgba(0, 0, 0, .5));
    }
  }

  #join {
    margin-top:3em;
    margin-bottom:5em;

    & > header {
      width: grid-width(11);
      margin-bottom:2em;
    }
    & > header > h1 {
      text-shadow: 3px -3px $light-text;
      line-height:1.25em;
      font-size: 2.5em;
      margin:0;
    }
    & > figure {
      display:block;
      vertical-align:top;
    }
    & > figure > figcaption {
      font-size:.70em;
      display:block;
      margin-top:.5em;
      width:grid-width(13);
    }
    & > figure > a {

      vertical-align:top;
      display:inline-block;
    }
    & > figure > a.button {
      opacity:0.5;
    }
    & > figure > a:nth-child(3) {
      position:relative;
      padding-left: 3em;
    }
    & > figure > a:nth-child(3) > img {
      position:absolute;
      top:0;
      left:0;
      padding:.5em;
      width:1.15em;
      height:1.15em;
      border-right:1px solid darken(#907744, 10%);
    }
    & > figure > img {
      display:inline-block;
      vertical-align:middle;
      width:2em;
      height:2em;
      margin:.25em;
      opacity:.21;
    }
  }
}