<html lang="en_us">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <script src="/behavior/jquery.js"></script>
    <style type="text/css" media="screen">
      html {
        background-color: transparent;
      }
      #sign_in {
        position:fixed;
        background-color:#FBF6F1;
        left:50%;
        top:50%;
        height:20em;
        width:20em;
        margin-top:-10em;
        margin-left:-10em;
      }
    </style>
  </head>
  <body id="sign_in">
    <h1>DirtyWhiteCouch</h1>
    <section>
      <%= render :partial => 'shared/signin' %>
      <a id="home" href="http://dirtywhitecouch.com" target="new" title="What's this all about?">?</a>
    </section>
  </body>
</html>
