<html lang="en_us">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <script src="/behavior/jquery.js"></script>
  </head>
  <body id="sign_in">
    <h1>DirtyWhiteCouch</h1>
    <section>
      <%= render :partial => 'shared/signin' %>
      <a id="home" href="http://dirtywhitecouch.com" target="new" title="What's this all about?">?</a>
    </section>
  </body>
</html>
