<html lang="en_us">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <script src="/behavior/jquery.js"></script>
    <style type="text/css" media="screen">
      body > section {
        text-align:center;
      }
      #home{
        font-weight:bold;
        text-decoration: none;
        color:silver;
        font-size:2em;
      }
      hgroup {
        margin-bottom:1em;
      }
    </style>
  </head>
  <body id="sign in" onload="">
    <style type="text/css" media="screen">
      html {
        background-color: transparent;
      }
      body {
        position:fixed;
        background-color:#FBF6F1;
        left:50%;
        top:50%;
        height:20em;
        width:20em;
        margin-top:-10em;
        margin-left:-10em;
      }
      body > h1 {
        text-align:center;
      }
      hgroup > h1 {
        color:red;
        text-align:center;
        font-weight:bold;
        font-size:2em;
      }
      hgroup > nav {
        text-align:center;
      }
    </style>
    <h1>DirtyWhiteCouch</h1>
    <section>
      <%= render :partial => 'shared/signin' %>
      <a id="home" href="http://dirtywhitecouch.com" target="new">?</a>
    </section>
  </body>
</html>
