<section id="sign_in">
  <span>X</span>
  <h1>DirtyWhiteCouch</h1>
  <%= render :partial => 'shared/signin' %>
  <a id="home" href="http://dirtywhitecouch.com" target="new" title="What's this all about?">?</a>
</section>
