<%-content_for :head do-%>
  <title>Sing In - copper.is</title>
<%-end-%>

<section id="sign_in">
  <span>X</span>
  <h1>copper.is</h1>
  <%= render :partial => 'shared/signin' %>
  <a id="home" href="http://copper.is" target="new" title="What's this all about?">?</a>
</section>
