html * {
  color: #808080;
  background-color: transparent;
}
html {
  background-color: gray;
}

html > body {
  background-color: #FBF6F1;
}
body > header > hgroup > h1 > a{
  color:#E30613;
}

p {
  color:#666666;
}

article > h1 {
  color:#333333;
}