html {
  line-height:18px;
}
html * {
  -webkit-margin-collapse: collapse;
}
body {
  width:58.5em;
  min-height:5em;
  margin: 1em auto 1em auto;
  -moz-border-radius: 1em;
  border: .25em solid #333;
  border-radius: 1em;
  padding-bottom:1em;
}
body a {
  text-decoration:none;
  color: #808080;
  font-weight:normal;
/*  -webkit-text-stroke-color:gray;
  -webkit-text-stroke-width:.01em;
*/


}
body a:hover {
  text-decoration: none;
/*  -webkit-animation-name: pulse-font;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
*/
}
body > section ,
body > header ,
body > nav ,
body > footer {
  vertical-align:top;
  position:relative;
  margin-right:1.5em;
  margin-left:1.5em;
}
body > header {
  padding-top: 1em;
}

body > header > a {
 display:inline-block;
 font-size:2.5em;
 font-weight:normal;
 font-family:'Andale Mono';
}

body > header > a > img {
  width:3em;
}
body > header > hgroup {
  font-size:2em;
  display:inline-block;
  margin-left:5em;
  vertical-align:top;
}
body > header > hgroup > h1 {
  display:inline-block;
  margin-left:1em;
}
body > header > nav {
  float:right;
  display:inline-block;
}
body > header > nav > li {
  margin-left: 1em;
  display:inline-block;
}
body > header > nav > li > a {
  font-size: 1.25em;
}
body > header > ol {
  margin:1em 0;
  min-height:1.5em;
}
body > header > ol > li {
  font-size:1.10em;
  background:#FFFFCC;
  padding:.25em;
  border:.10em solid #FFFFCC;
  border-radius:.25em;
  -moz-border-radius:.25em;
}
body > header > div > span {
  padding-right:.5em;
}
body > section {
  display:inline-block;
  margin-bottom: .5em;
  width:40em;
  min-height:44em;
}
body > section > header h1,
body > section > h1 {
  margin-top: .5em;
  font-size: 2.25em;
  margin-bottom: .60em;
}
body > section > p {
  font-size: 1.15em;
}
body > section > header > p {
  margin-left:.5em;
}
body > section > form {}
body > section > form fieldset {
  margin-bottom:0;
}
body > section > form fieldset > legend {
  display:inline-block;
  margin-left:   .5em;
  font-size:     1.25em;
}
body > section > form label {
  display: inline-block;
  font-size: 1.5em;
}
body > section > form input {
  display:inline-block;
  width: 16.5em;
  font-size:1.5em;
  border: 0.10em solid gray;
  border-radius:.21em;
  -moz-border-radius:.21em;
}
body > section > form input[type=submit] {
  width: 10em;
  margin: 2.5em 0 0 1em;
  padding: .25em 0 .25em 0;
  border-width: .13em;
  border-radius: .25em;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  font-size: 1em;
}

body > footer {
  display:block;
  border-top: .10em solid #C6C8C7;
  border-bottom: .10em solid #C6C8C7;
  padding:.5em .5em .5em .5em;
  vertical-align:middle;
  margin:1em 1.5em;
  min-height: 3em;

}
body > footer > nav {
  vertical-align:top;
  margin-top:.75em;
  margin-right:2.5em;
  display:inline-block;
  min-height:2em;
}
body > footer > nav > a {
  display:inline-block;
  margin-bottom: .25em;
  margin-left: 1em;
  font-size: 1em;
  color:#919393;
  text-shadow: 2px 2px 2px white;
}

body > article {
  padding:1em;
}

body > article > h1 {
  line-height: 1.25em;
  font-size: 2em;
  color: #666666;
  margin: 1em 0;
}

body > article > p {
  line-height:1.5em;
}

body > article > ul {
  margin-top:1em;
  margin-left:2em;
}

body > article > ul > li {
  margin-top:.75em;
}