body > section > header{
  position:relative;
  margin-bottom: 1em;
}
  body > section > header > h1{
    font-size: 2.28em; /*36px*/
    display:inline-block;
  }
  body > section > header > nav{
    -webkit-transition-delay: 150ms;
    z-index:10;
    text-align:center;
    padding:1.25em;
    display:inline-block;
    border: 0.15em solid transparent;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
  }
    body > section > header > nav a {
      display:none;
      font-size:1.25em;
    }
    body > section > header > nav a.selected {
      display:block;
      text-align:center;
      font-weight:normal;
      font-size:2.25em;
      text-decoration: underline;
    }
    body > section > header > nav:hover {
      -webkit-transition-delay: 150ms;
      background-color: yellow;
      border: 0.15em solid #808080;
      -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
      border-radius: .5em;
    }
    body > section > header > nav:hover a {
      margin:.5em auto;
      display:block;
      text-decoration:none;
    }
    body > section > ol {
      margin-left: 1.5em;
      margin-bottom: 1.5em;
      display:none;
    }
    body > section > ol.selected {
      opacity:1;
      display:block;
    }
    body > section > ol > li {
      margin-top: 1em;
      position:relative;
    }
