@import url('animation.css');

#sign_in > h1 {
  text-align:center;
}
#sign_in > section {
  text-align:center;
}
#sign_in > section > hgroup {
  margin-bottom:1em;
}
#sign_in > section > hgroup > h1 {
  color:red;
  text-align:center;
  font-weight:bold;
  font-size:2em;
}
#sign_in > section > hgroup > nav {
  text-align:center;
}
#sign_in > section > #home{
  font-weight:bold;
  text-decoration: none;
  color:silver;
  font-size:2em;
}
