body > section > form{
  margin-left: 3.5em;
  margin-bottom:2em;
  border: 0.15em solid #808080;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  background-color: #ddd;
  width: 33em;
  height: 12em;
}
body > section > form div{
  display:none!important;
}
body > section > form > fieldset > label{
  position:absolute;
  top: 4.5em;
  left: 5.5em;
  margin-top: 3.5em;
  color: #CCC
}
body > section > form > fieldset textarea {
  border: 0.05em solid #808080;
  background-color: white;
  width: 21.75em;
  height: 6em;
  font-size: 1.5em;
  margin-left:.-1em;
}
body > section > form > input[type=submit]{
  margin-top:1em;
  margin-left: 23em;
  background-color: white;
}
