li.selected{
  text-decoration:underline;
}

  body > section > ul {
    position:relative;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }
    body > section > ul > li {
      display:inline-block;
      margin: 0;
    }
    body > section > ul > li[itemprop="domain"] {
      width: 15em;
      font-size: 1.5em;
      font-weight: normal;
    }
    body > section > ul > li[itemprop="publisher"] {
      display:block;
      margin-left:0;
      width: 15em;
    }
    body > section > ul > li[itemprop="earned"] {}
    body > section > ul > li[itemprop="tips"] {
      position:absolute;
      top:0;
      right:9.5em;
      width: 4em;
      height: 4em;
      margin-top:-1em;
      padding: 1em 1em .5em .5em;
      font-size: .75em;
      text-align: center;

      border: 0.20em solid #808080;
      -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
      border-radius: .5em;
    }
    body > section > ul > li[itemprop="average"] {
      display:inline-block;
      margin-left:1em;
      margin-bottom: .5em;
    }
