db/*.sqlite3
db/test.sqlite3-journal
log/*.log
tmp/**/*
tmp/**
coverage
config/database.yml
TAGS
.gitignore
.env
.bundle
.DS_Store
public/favicon.ico


app/models/order.rb

config/database.yml

.powder
