<section class="github">
  <%-if github.image? -%>
    <h2><%= image_tag "providers/github.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if github.image? -%>
      <%= image_tag github.image %>
    <%-else-%>
      <%= image_tag "providers/github.png", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=github.name%></p>
  <button type="button">remove</button>
</section>