<section class="soundcloud">
  <%-if soundcloud.image? -%>
    <h2><%= image_tag "providers/soundcloud.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if soundcloud.image? -%>
      <%= image_tag soundcloud.image %>
    <%-else-%>
      <%= image_tag "providers/soundcloud.png", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=soundcloud.name%></p>
  <button type="button">remove</button>
</section>
