<figure class="twitter">
  <%= image_tag "providers/twitter/sign_in.png"%>
  <figcaption><%=twitter.username%></figcaption>
  <%-if current_user.identities.count > 1-%>
  <form action='<%=identity_path(twitter)%>' method="post">
    <input name="_method" type="hidden" value="delete"/>
    <input type="submit" name="submit" value="X">
  </form>
  <%-end-%>
</figure>