<section class="twitter">
  <%-if twitter.image? -%>
    <h2><%= image_tag "providers/twitter.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if twitter.image? -%>
      <%= image_tag twitter.image %>
    <%-else-%>
      <%= image_tag "providers/twitter.png", :class => "provider" %>
    <%-end-%>    
  </figure>
  <p><%=twitter.name%></p>
  <button type="button">remove</button>
</section>
