@require 'lib/device'
@require 'lib/flex'

body
  margin:0
  display-flex()
  flex-direction:column

  & > main
    +phone-only()
      padding:0.5rem

  +tablet()
    flex-flow row wrap

    & > header,
    & > footer
      flexx: 0 1 100%

    & > menu
      flexx: 1 0.22 15%

    & > main
      flexx: 1.618 1 85%
