@require 'color'
@require 'typography'

body
  & > menu
    -webkit-padding-start:0
    background-color: hsla(5,5%,90%,0.5)

    & > a
      color: hsla(0,13%,55%,0.90)
      font-weight:100
      font-size:1.1rem
      letter-spacing:1px
      border:none
      text-align:center
      text-decoration:none
      border-radius:0.25em

  & > header
    background-color: hsla(5,30%,5%,0.5)

    background-image: radial-gradient(
      circle at top left,
      hsla(5,50%,90%,1),
      hsla(5,40%,85%,1)
    )

  & > footer
    background-color: hsla(5,3%,0%,0.9)
