@require 'lib/device'

body > header
  margin:gutter gutter 0 2rem

  +tablet()
    margin-left:0
    display-flex()

  & > figure
    display:inline-block

    &:first-of-type
      width:1.5rem;
      opacity:0.25
      standard-transition opacity
      &.show
        opacity:1
        standard-transition opacity

      & > svg
        width:1.5rem
        height:1.5rem

      +tablet()
        display:none
    &:nth-child(2)
      +phone-only()
        margin-left:3.5rem
    +tablet()
      flexx: 0 0.22 20%
    +laptop()
      flexx: 0 0.22 16.5%

    a
      display:inline-block
      +tablet()
        display: block;
        text-align: center;
      svg
        display:inline-block;
        height:2rem
        width:6rem
