@require 'typography'
@require 'lib/user-select'
@require 'lib/box-sizing'

*
  box-sizing border-box
  margin:0
  line-height:1.33
  text-align:center

html
  background-color:transparent
  width:100%
  height:100%
  font-size:100%
  text()
  color: hsla(0,3%,55%,0.90)
  letter-spacing:1
  user-select none
  background-image:
    radial-gradient(
      circle at top left,
      hsla(5,93%,99%,1),
      hsla(5,39%,95%,1)
    )
