require 'lib/user-select'
require 'lib/box-sizing'

*
  background-color: hsla(5,100%,99%,0.25) /* nested items will have a natural offset because of opacity */
  box-sizing border-box
  margin:0
  text-transform:capitalize
  line-height:3
  text-align:center


html
  background-color:transparent
  width:100%
  height:100%
  font-size:100%
  font-family:"Helvetica Neue Ultralight", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  color: hsla(0,3%,55%,0.90)
  letter-spacing:1
  user-select none
  background-image:
    radial-gradient(
      circle at top left,
      hsla(5,93%,99%,1),
      hsla(5,39%,95%,1)
    )
