@require 'typography'
@require 'lib/user-select'
@require 'lib/box-sizing'

*
  // outline: 1px solid silver
  box-sizing: border-box
  margin:0
  line-height:1.33
  border:none;

html
  background-color:transparent
  width:100%
  height:100%
  user-select none
  text()
  font-size:100%
