
html.satan
  -webkit-text-size-adjust: 100% // don't resize text on orientation change
  background-color: $light
  background-image: image-url('shared/texture_light.png')
  user-select none

body.satan
  max-width: 25rem
  margin:0 auto
  @include text
  &:after
    content:""
    position:fixed
    z-index:-1
    top:0
    bottom:0
    left:0
    right:0
    opacity:0.11
    @include background-image(radial-gradient($light 22%, $copper 100%))

  & > data
    display:none

  & > header
    height:0
    overflow:hidden

  & > aside,
  & > header,
  & > footer,
  & > main
    width:100%
    vertical-align: top
    margin:0
    & > menu.fan
      & > a
        vertical-align: top
        width:48%
        display:inline-block
        &:nth-child(odd)
          margin-right:4%

  h1, h2, h3, h4, h5, h6
    @include header_text
    text-transform:capitalize

  a
    font-family: 'Doppio One', sans-serif
    color:$text
    text-decoration:none
    cursor:pointer
    &[itemprop=url]
      text-transform: lowercase

  summary
    text-transform:capitalize

  ul, ol, dl
    list-style: none
