@require 'color'

main > section
  & > header
    // margin:gutter 0
    & > h1
      header-text()
      font-family: 'Nothing You Could Do', cursive
      margin:gutter 0
      text-transform:capitalize
      text-align: center
      color:copper
      +tablet()
        font-size:2rem
