@require 'color'

section
  & > header > h1
    text-align: center
    header-text()
    font-family:'Bree Serif', serif
    text-transform:capitalize
    font-family: 'Nothing You Could Do', cursive
    color:copper
    +tablet()
      font-size:2rem
