article[itemtype=page]
  font-size:0;
  padding:0.5rem
  margin-bottom:0.75rem
  overflow:hidden
  vertical-align: top
  border-radius: 0.15rem
  border-gradient()

  & > figure
    display:inline-block
    width:4rem
    height:4rem

    border-radius: 50%
    background-color: tan
    margin-right:1rem;
    overflow:hidden
    vertical-align: middle
    -webkit-filter: sepia(15%)

    & > img
      vertical-align: middle
      min-width: 100%
      height: 100%
      z-index:-1

  & > header
    display:inline-block
    vertical-align: middle
    width:14rem
    font-size:1rem

    +laptop()
      width:50%

    h2,
    h3
      text-shadow: 1px 1px 0 lighten(tan, 15%)
      line-height: 1.45
      overflow:hidden
      font-size: 1rem

    h2
      text-align:left
      max-height:3rem
      a
        header-text()

    h3
      margin: 0.25rem 0
      font-size: 0.75rem
      opacity: 0.6
      text-align: left
      text-transform: lowercase

  & > footer
    vertical-align: top
