@require 'color'
@require 'typography'
@require 'lib/border-gradient'
@require 'lib/device'

article[itemtype=page]
  font-size:0
  margin-bottom:gutter
  vertical-align: top

  border-gradient()

  & > figure
    display:inline-block
    width:4rem
    height:4rem
    border-radius: 50%
    border-color:tan
    background-color:tan
    margin-right:gutter
    overflow:hidden
    vertical-align: middle
    -webkit-filter: sepia(15%)

    img
      vertical-align: middle
      min-width: 100%
      height: 100%
    svg
      width:4rem
      height:4rem

  & > footer
    display:inline-block
    vertical-align: middle
    width:13.75rem
    font-size:1rem

    +laptop()
      width:60%

    h2,
    h3
      line-height: 1.45
      overflow:hidden
      font-size: 1rem

    h2
      text-align:left
      a
        header-text()
        font-family:'Doppio One', sans-serif
        color:dark
        opacity:0.9

    h3
      display:inline-block
      margin-right: 0.25rem
      font-size: 0.75rem
      opacity: 0.3
      vertical-align:top
      text-align: left
      text-transform: lowercase
    p
      body-text()
      opacity:0.75
      max-height:3.5rem
      font-size:0.85rem
      overflow:hidden;
      +laptop()
        width:75%
    nav
      display:inline-block
      margin-top:-1rem
      vertical-align:top
      line-height:1
      a
        line-height:1
        vertical-align:top
        color:copper
        font-family:'Bree Serif', serif
        font-size:2rem
        letter-spacing:1px
