@require 'color'
section[itemtype=page]


  & > header
    margin-top:gutter
    +tablet()
      display:inline-block;
      margin-top:3rem
      margin-right:gutter
      max-width:34rem

    & > h1
      text-align: center
      margin-bottom:gutter
      opacity:0.9
    & > p
      line-height:1.45
      font-size:1.1rem
    nav
      margin:gutter 0
      text-align:center
      a
        font-size:1.5rem
        header-text()
        font-size:1.5rem
        color:copper

  figure
    margin-bottom:gutter
    +tablet()
      display:inline-block;
      width:41rem

      vertical-align:top
      // margin:gutter 0
      text-align: center
    img
      max-width:18.5rem
      border:1px solid riser
      border-radius:0.25rem
      +tablet()
        max-width:40rem
