body.pages.index
  placeholder(header)

  input
    button()
    margin-bottom:0.75rem
    &:active,
    &:focus
      placeholder(copper)
      border:2px solid copper
      font-family: 'Nothing You Could Do', cursive

  section.trending.pages
    vertical-align: top
    display:none
    margin-top:0.25rem
    padding: 0.5rem 0.75rem
