#pages_index, #home_tip_some_pages {

  section#pages {
    & > figure {
      margin: 0 4em 2em 0;
      vertical-align: top;
      display:inline-block;
      overflow:hidden;
      &:nth-child(3n+3){
        margin-right:0;
      }

      & > figcaption {
        @include text;
        font-size:1em;
        display:block;
        width:grid-width(6);
        height:1em;
        line-height:1em;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1em;
      }
      & > a {
        display:block;
      }
      & > a > img {
        border:2px solid $light;
        border-radius:0.5em;
        display:block;
        width:grid-width(6);
        height:grid-width(4);
      }
    }
  }

  section#admin{
    &.hide {
      nav {
        height:0;
        margin:0;
        & > a {
          opacity:0;
          @include transition (opacity 0.25s ease-out 0);
        }
      }
    }

    nav {
      margin:1em auto;
      a {
        opacity:1;
        display:inline-block;
        margin: 1em 0 0 2em ;
        width:grid-width(3);
        @include transition (opacity 0.25s ease-out 1s);
        @include inset_button($text);
      }
      a:first-child {
        margin-left: 1em;
      }
    }
  }
}