#pages_index {
  & > section#banner {
    padding:0;
    & > header {
      margin-left: grid-width(2);
    }
  }
  &.adopted {
    & > details[data-author_state=adopted]{
      display:inline-block;
    }
  }

  &.triage {
    & > details[data-author_state=triage]{
      display:inline-block;
    }
  }

  &.fostered {
    & > details[data-author_state=fostered]{
      display:inline-block;
    }
  }

  &.manual {
    & > section.pages > details[data-author_state=manual]{
      display:inline-block;
      // height:grid-width(8);
      // width:grid-width(8);
    }
  }

  & > section.pages {
    & > details[data-author_state]{
      display:none;
      // width:0;
      // height:0;
      // padding:0;
    }
  }
}



#pages_index.admin {
  section#banner {
    margin-bottom:0;
    details {
      & > summary {
        outline: none;
        text-align:center;
        &::-webkit-details-marker { display:none; }
      }
      & > summary > img.admin {

        opacity:0.05;
        width:2rem;
        height:2rem;
        cursor:pointer;
        @include transition (all 0.25s ease-out 0.15s);
        &:hover {
          opacity:1;
          @include transition (all 0.25s ease-out 0.15s);
        }
      }
    }
  }

  #admin_nav {
      a[href="/pages"] > img{
        opacity:0.99;
      }
  }
}

