#pages_show {
  & > iframe{
    position:fixed;
    width:100%;
    height:100%;
  }
  & > footer {
    display:none;
  }
  #banner {
    overflow:hidden;
    padding:grid-width(1);
    margin-top: 0;
    background-color: $dark;
    @include full_width($dark);
    hgroup {
      margin-right:grid-width(8);
      display:inline-block;
      vertical-align: top;
      &:last-child{

        height:100%;
        margin-right: 0;
        & > a {
          font-size: 1.5em;
          font-family: 'Bree Serif', serif;
        }        
      }
      h1 {
        margin:0;
        font-size:2.5em;
        color:$light;
        font-family: 'Doppio One', sans-serif;
      }
      p {
        margin:0;
        font-size:1.25em;
        color:$light;
        font-family: 'Cantarell', sans-serif;
      }
    }

    figure {
      opacity:0;
      height:0;
      figcaption{
        font-family: 'Nothing You Could Do', cursive;
        font-size:1.75em;
        color:$light;
        p {
          text-align:center;
          margin:0;
        }
      }
    }
    figure.chrome{
      height:auto;
      opacity:1;
      @include transition (opacity 1.5s ease-in 2s);
      position:absolute;
      top:2em;
      right:-10em;
      display:inline-block;
      img {
        position:absolute;
        top:-2em;
        right:-2em;
        @include transform(rotate(132deg));
      }
    }
    figure.safari{
      z-index: 5;
      height:auto;
      opacity:1;
      @include transition (opacity 1.5s ease-in 2s);
      position:absolute;
      top:3em;
      left:-14em;
      display:inline-block;
      img {
        position:absolute;
        top:-4em;
        left:6em;
        @include transform(rotate(85deg));
      }
    }
    figure.mozilla{
      height:auto;
      opacity:1;
      @include transition (opacity 1.5s ease-in 2s);
      position:absolute;
      top:2em;
      right:-3em;
      display:inline-block;
      img {
        position:absolute;
        top:-2em;
        right:-2em;
        @include transform(rotate(132deg));
      }
    }

  }

  & > iframe {
    width:100%;
    height:100%;
  }

}

