#pages_show {
  * { box-sizing: border-box; }

  #copper_button {
    /** http://tympanus.net/codrops/2012/01/11/css-buttons-with-pseudo-elements/ **/
    display:block;
    margin: -2.85em auto .5em auto;
    width:1.5em;
    height:1.5em;

    @include inset_button($copper);
  
    & > img {
      opacity:0.8;
      position:absolute;
      top:0;
      left:0;
      width:1.5em;
      height:1.5em;
      padding:0.25em;
    }
  }
  
  & > iframe#page_url {
    width:100%;
    min-height: 768px;
  }

}

