@import url("/design/index.css");
body > header {
  min-height:8.5em;
}
body > section {
  margin-top: 1.5em;
  width:30em;
}
body > section > details {
  background-color:white;
  margin-bottom: 1em;
  padding: .5em 0;
  display:block;
}
body > section > details > summary {
  margin:.5em;
  cursor: pointer;
}
body > section > details > summary > h2 {
  font-weight:normal;
  display: inline-block;
  width:19em;
}
body > section > details > summary > time {
  display: inline-block;
  text-align:left;
  vertical-align:top;
  width:9em;
}
body > section > details[open] > summary > h2 {
  text-decoration:none;
}
body > section > details[open=open] {
  position:relative;
  border:.15em solid orange;
  border-radius:.25em;
  -moz-border-radius:.25em;
}
body > section > details[open=open] > section {
  margin:.5em;
  display:block;
}
body > section > details[open=open] > aside {
  border:.15em solid orange;
  background: white;
  position: absolute;
  float:right;
  top: -1px;
  left:31em;
  width:22.5em;
  padding: .5em 1em;
  border-radius:.25em;
  -moz-border-radius:.25em;
}
body > section > details[open=open] > aside > article {
  margin:1em 0;
  line-height: 1.5em;
}
body > section > details[open=open] > aside > article p {
  margin: 1em 0;
}
body > section > details[open=open] > aside > article br {
  padding:1em;
}
body > section > details[open=open] > aside > img {
  display:inline-block;
  margin-right: 1em;
  border-radius:.25em;
  -moz-border-radius:.25em;
  max-width:8em;
}
body > section > details[open=open] > aside > a {
  display:inline-block;
  vertical-align:top;
  border:.15em solid #09AF61;
  margin: 1.5em 0 0 2em ;
  padding:.25em 1em;
  font-size: 1.25em;
  color: #09AF61;
  border-radius:.25em;
  -moz-border-radius:.25em;
}
body > section > details[open=closed] {
  opacity:.5;
}
body > section > details[open=closed] > section {
  margin:.5em;
  display:none !important;
}
body > section > details[open=closed] > aside {
  display:none !important;
}
body > section > details > aside > dl {
  vertical-align:top;
  width:30em;
  display:inline-block;
  font-size: .75em;
}
body > section > details > aside > dl > dt {
  vertical-align:top;
  display:inline-block;
  margin-top:.5em;
  width:5em;
}
body > section > details > aside > dl > dd {
  display:inline-block;
  width:24em;
  margin-top:.5em;
}
body > section > details > section > details {
  margin-left:0em;
  width: 15em;
  display: inline-block;
}
body > section > details > section > details > summary {
  cursor:pointer;
  margin-top:2em;
  margin-bottom:2em;
  font-size:.85em;
  text-decoration: underline;
}
body > section > details > section > details[open=open] > summary {
  text-decoration: none;
}
body > section > details > section > details > dl > dt {
  width:9em;
  font-size:.85em;
  display:inline-block;
  margin-bottom:.25em;
}
body > section > details > section > details > dl > dd {
  display:inline-block;
  margin-bottom:.5em
}
