<p>
  A request has been made to reset the Weave account password for <%= @user.email %>.
  Click on the link below or copy paste it into your browser address bar to change the password.
</p>
<p>
  <%= link_to password_reset_edit_url(@user.perishable_token), password_reset_edit_url(@user.perishable_token) %>
</p>