<section class="facebook">
  <%-if facebook.image? -%>
    <h2><%= image_tag "providers/facebook-2.jpg", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if facebook.image? -%>
      <%= image_tag facebook.image %>
    <%-else-%>
      <%= image_tag "providers/facebook-2.jpg", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=facebook.name%></p>
  <button type="button">remove</button>
</section>