<section class="tumblr">
  <%-if tumblr.image? -%>
    <h2><%= image_tag "providers/tumblr.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if tumblr.image? -%>
      <%= image_tag tumblr.image %>
    <%-else-%>
      <%= image_tag "providers/tumblr.png", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=tumblr.name%></p>
  <button type="button">remove</button>
</section>
