<section class="vimeo">
  <%-if vimeo.image? -%>
    <h2><%= image_tag "providers/vimeo.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if vimeo.image? -%>
      <%= image_tag vimeo.image %>
    <%-else-%>
      <%= image_tag "providers/vimeo.svg", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=vimeo.name%></p>
  <button type="button">remove</button>
</section>
