<nav>
  <a href="#pages">Pages</a>
  <a href="#users">Users</a>
  <a href="#authors">Authors</a>
  <a href="#orders">Orders</a>
  <a href="#checks">Checks</a>
  <a href="#tips">Tips</a>
</nav>

<section>
</section>
