<!doctype html>
<html>
  <head>
    <title>go ping yourself</title>
  </head>
  <body>
    <h1>ping</h1>
    <%= render partial:"pages/as_dl", collection:Page.recent.safe.limit(5), as: :page %>
  </body>
</html>
