<html lang="en_us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="author" href="http://www.example.com/copper_dev">
    <meta name="description" content="I'm round">
    <meta property="og:url" content="http://www.copper.is/test">
    <meta property="og:image" content="http://www.copper.is/logo.svg">
    <title>copper-test page</title>

  </head>
  <style>
    html {
      background-color:rgba(0,0,0,0.5);
    }
    nav {
      width:4em;
      margin:4em auto 0 auto;
      font-family:Arial;
      color: rgba(0,0,5,0.7);
      font-size:3em;
      text-transform:capitalize;
      text-align: center;
    }
    a {
      color:rgba(204, 153, 51, 1);
      text-transform: lowercase;
      text-decoration: none;
    }
  </style>
  <body>

    <main>
      <nav>
        <a href="<%= render :partial => 'tips/wrapped_launcher', :formats => [:js] %>">Copper.</a>
      </nav>
    </main>
    <footer>
      <nav>
        <a href="http://twitter.com/brokenbydawn">follow us on twitter</a>
      </nav>
    </footer>
  </body>
</html>
