<%-content_for :head do-%>
  <title><%=current_user.name%> - Copper</title>
  <%= stylesheet_link_tag "royalties/index" %>
<%-end-%>
<section id="royalty_orders">
  <header>
    <h1>Royalties</h1>
  </header>
  <table id="royalties">
    <thead>
      <tr>
        <th>Page</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Tips</th>
      </tr>
    </thead>
    <tbody>
      <%= render @royalty_orders %>
    </tbody>
  </table>
</section>