<h1>Reset Password</h1>
<p>Please enter your email address to reset your password</p>
<form action="/password/reset_confirmation" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value=""/>
  </fieldset>
  <input type="submit" value="Send Confirmation"/>
</form>
