<p>
  A request has been made to reset the Weave account password
  for john@example.com. Click on the link below or copy paste it into your browser 
  address bar to change the password.
</p>
<p>
  <a href="#">http://weave.us/password_reset/12354768542</a>
</p>
