li.selected{
  text-decoration:underline;
}
body > section > header > h1{
  font-size: 2.25em; /*36px*/
  display:inline-block;
}
body > section > header > nav{
  font-size: 1.5em;
  float:right;
  width: 10em;
  display:inline-block;
}

body > section > aside{
  float:right;
}
body > section > dl[item="site"] {
  margin-left: 3em;
  margin-bottom: 1em;
}
  body > section > dl[item="site"]  > dd{
    display:inline-block;
    margin: 0 0 0 -1em;
  }
  body > section > dl > dt[itemProp="total_tips"],
  body > section > dl > dt[itemProp="total_earned"]{
    float:left;
    display: inline-block;
    width: 3.5em;
    height:4em;
    font-size: .75em;
    text-align: center;
    padding: 1em 1em 0 .5em;
    border: 0.20em solid #808080;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    margin-left:none;
  }

  body > section > dl > dd[itemProp="domain"] {
    width: 18em;
    margin: 0 0 0 1em;
    font-size: 1.5em;
    font-weight: normal;
  }
  body > section > dl > dd[itemProp="publisher"] {
    margin-left:1.5em;
    width: 30em;

  }
  body > section > dl > dd[itemProp="total_earned"],
  body > section > dl > dd[itemProp="total_tips"] {
    margin-left:1.5em;
    width:10;
  }
  body > section > dl > dd[itemProp="average_tip"] {
    margin-left:15em;
    width:10em;
    margin-bottom: .5em;
  }
  