
body{
  width:61em;
  margin: 0 auto 0 auto;
  padding:0;
}

section, header, footer{
  margin: .5em;
  padding: .5em;
}

header nav, footer nav {
  float:right;
}
header nav a{
  text-decoration:none;
}
header nav a + a:before{
  content: "|";
  margin-right: .5em;
  
}

form{
  width: 11em;
}
table th{
  font-weight: bold;
}

input, label {

  display: inline-block;
  clear:right;
}

input, select{
  display:inline-block;
}