@import "shared/mixins";
$background_color: #313130;
$subtle_text: #999999;
#tips_new {
  margin-left:1em;
  width:300px;
  font-size:16px;
  section {
    position:relative;  
    background-color: $background_color;
    color:$light-text;
    height:0;
    border-radius: 0 0 0.5em 0.5em;
    padding:0 2em;
    opacity:1;
    border:2px solid $darkness;
    border-top:none;
    @include text;
    @include box-shadow(2px 3px 8px 0px hsla(0, 0, 0, 0.5));
    @include transition(min-height 0.5s ease-out 0.25s,  padding 0.5s);

    & > header {
      @include transition(min-height 0.5s ease-out 0.5s);
      min-height:0;
      padding:1em 0;
      & > a {
        display:inline-block;
        float:right;
        & > img {
          height:1em;
          width:3em;
          opacity:0.25;
          @include transition(opacity 0.5s);
          &:hover{
            @include transition(opacity 0.5s);
            opacity:1;
          }
        }
      }
      & > h1 {
        @include header_text;
        margin:1em 0 1.5em 0;
        vertical-align:middle;
        font-size:.85em;
        color:$subtle_text;
      }

      & > p[itemprop=title] {
        font-family: 'Doppio One', sans-serif;
        width:14em;
        height:1.25em;
        margin:0;
        line-height:1em;
        vertical-align: middle;
        font-size:1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    & > form {
      opacity:0;
      display:block;
      vertical-align:top;
      width:6em;
      margin: 0 auto;
      background-color:transparent;
      &:before{
        color:$light_text;
        content:"$";
        font-family: 'Bree Serif', serif;
        font-size:1.85em;
        display:inline-block;
        vertical-align: middle;
      }
      & > input[itemprop=amount_in_dollars] {
        width:1.85em;
        background-color:transparent;
        color:$light-text;
        font-family: 'Bree Serif', serif;
        margin:0;
        padding:0;
        vertical-align:top;
        font-size:2em;
        line-height:1em;
        display:inline-block;
        vertical-align: middle;
        border:0px solid $background_color;
        border-radius:.25em;
        &:focus {
          outline:none;
        }
        &.invalid {
          @include box-shadow(0px 0px .75em 2px $red);
          border-color:$red;
        }
      }
      & > a.button {
        @include copper_button;
        display:none;
        margin-left:1em;
        vertical-align:middle;
        &:hover {
          border:0.10em solid darken($button_color, 10%);
        }
      }
    }

    & > header,
    & > footer,
    &.sign_in > nav {
      @include transition(opacity 0.25s ease-in);
      opacity:0;
    }

    & footer > nav {
      margin: 1.5em auto 0 auto;
      width:7em;
      & > a {
        display:inline-block;
        margin-left:0.5em;
        vertical-align:top; 
        & > img {
          opacity:0.15;
          height:1.5em;
          width:1.5em;
          padding-top:0.25em;
          &:hover {
            @include transition(opacity 0.5s ease-out 0s);
            opacity:0.95;
          }
        }
      }
      & > form {
        margin-left:0.5em;
        font-size:0.75em;
        padding-top:0.5em;
        color:$subtle_text;
        & > label {
          padding-left:.5em;
        }      
      }
    }
  }

  section.show,
  section.details {
    padding: 0 2em;
    min-height:11em;
    @include transition( min-height 0.25s, padding 0.25s);
    & > header {
      @include transition(min-height 1s);
      min-height:2.5em;
      overflow:hidden;
    }
    & > header,
    & > form,
    &.sign_in > nav {
      @include transition(opacity 1s ease-in 0.25s);
      opacity:1;
    }
  }

  section.details {
    min-height:15em;
    & > header {
      color:$subtle_text;
    }
    & > footer  {
      @include transition(opacity 1s ease-in 0.25s);
      opacity:1;
    }
    & > form {
      width:13em;
      margin-top:1em;

      & > input[itemprop=amount_in_dollars] {
        border:2px solid $text;
        padding:0 0.25em;
      }
      & > a.button {
        display:inline-block;
      }
    }
  }

  section.sign_in {
    & > header {
      padding-bottom:0em;
      & > h1 {
        margin:1em 0 1em 0;
        text-align:center;
        color:$light_text;
        font-size:1.75em;
        opacity:0.5;
        text-shadow: 3px -3px $darkness;
        font-weight:normal;
      }
    }
    & > nav {
      width:10em;
      margin:0 auto;
      & > a {
        margin-bottom:1em;
        display:block;
        text-align:center;
      }
    }
    #close {
      color:$light_text;
      text-decoration:none;
      opacity:0.2;
      cursor:pointer;
    }
    #learn {

      @include copper_button;
    }
  }
}