$background_color: #313130;
@import "shared/mixins";
#tips_new {
  margin-left:1em;
  width:300px;
  font-size:16px;

  section {
    position:relative;
    font-family: 'Cantarell', sans-serif;
    background-color: $background_color;
    color:$light-text;
    height:0;
    border-radius: 0 0 0.5em 0.5em;
    padding:0 2em;
    opacity:1;
    border:2px solid $darkness;
    border-top:none;
    // @include box-shadow(4px 3px 8px 1px hsla(0, 0, 0, 0.65));
    @include box-shadow(2px 3px 8px 0px hsla(0, 0, 0, 0.5));
    @include transition(min-height 0.5s ease-out 0.25s,  padding 0.5s);

    & > header {
      @include transition(min-height 0.5s ease-out 0.5s);
      min-height:0;
      margin-bottom:1em;
      padding:6px 0;

      & > h1 {
        margin:1em 0;
        vertical-align:middle;
        font-size:.85em;
        color:#999999;
      }

      & > p[itemprop=title] {
        font-family: 'Doppio One', sans-serif;
        width:14em;
        height:1.25em;
        margin:0;
        line-height:1em;
        vertical-align: middle;
        font-size:1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }


    & > form {
      opacity:0;
      display:block;
      vertical-align:top;
      width:6em;
      margin: 0 auto;
      background-color:transparent;
      &:before{
        content:"$";
        font-family: 'Bree Serif', serif;
        font-size:1.85em;
        display:inline-block;
        vertical-align: middle;
      }
      & > input[itemprop=amount_in_dollars] {
        width:1.85em;
        background-color:transparent;
        color:$light-text;
        font-family: 'Bree Serif', serif;
        margin:0;
        padding:0;

        vertical-align:top;
        font-size:2em;
        line-height:1em;
        display:inline-block;
        vertical-align: middle;
        border:0px solid $background_color;
        border-radius:.25em;
        &:focus {
          outline:none;
        }
        &.invalid {
          @include box-shadow(0px 0px .75em 2px $red);
          border-color:$red;
        }
      }
      & > a.button {
        font-size:2em;
        display:none;
        margin-left:1em;
        vertical-align:middle;
        &:hover {
          border:0.10em solid darken($button_color, 10%);
        }
      }

    }

    & > header,
    & > footer {
      @include transition(opacity 0.25s ease-in);
      opacity:0;
    }
    & footer > nav {
      margin-top:1.5em;


      & > a {
        display:inline-block;
        margin-right:0.5em;
        vertical-align:top; 
        &.button {
          @include copper_button;
          display:inline-block;
          margin-left:1em;
        }

        & > img {
          opacity:0.15;
          height:1.5em;
          width:1.5em;
          padding-top:0.25em;
          &:hover {
            @include transition(opacity 0.5s ease-out 0s);
            opacity:0.95;
          }
        }
      }
    }
    &.show,
    &.details {
      padding: 0 2em;
      min-height:10em;
      @include transition( min-height 0.25s, padding 0.25s);
      & > header {
        @include transition(min-height 1s);
        min-height:2.5em;
        overflow:hidden;
      }
      & > header,
      & > form {
        @include transition(opacity 1s ease-in 0.25s);
        opacity:1;
        & > input {
          padding-left:4px;
        }
      }
    }
    &.details {
      min-height:14em;
      & > header {
        color:#999999;
      }

      & > footer {
        @include transition(opacity 1s ease-in 0.75s);
        opacity:1;
      }
      & > form {
        & > input[itemprop=amount_in_dollars] {
          border:2px solid $text;
        }
      }
    }

  }

  section.sign_in > a {
    cursor:pointer;
    color:#CCCCCC;
    text-decoration: none;
    position: absolute;
    top:1em;
    right:2em;
  }
}