#authors_edit, #identities_edit {
  #address > form > input {
    width:grid-width(13);
  }
  #address > form > input[itemprop=city] {
    width:13em;
  }
  #address > form > fieldset > select[itemprop=country_code] {
    width:grid-width(6);
    margin-bottom:1em;
  }
  #address > form > fieldset > select[itemprop=subregion_code] {
    max-width:grid-width(6);
  }
  #address > form > input[itemprop=postal_code] {
    width:grid-width(3);
  }
}
