#authors_edit,
#identities_edit {
  #address > form > input {
    width:grid-width(13);
  }
  #address > form > input[itemprop=city] {
    width:13em;
  }
  #address > form > select[itemprop=country_code] {
    width:grid-width(6);
    margin-bottom:1em;
  }
  #address > form > select[itemprop=subregion_code] {
    max-width:grid-width(6);
  }
  #address > form > input[itemprop=postal_code] {
    width:grid-width(3);
  }
}
#identities_edit {
  #address {
    padding-bottom:3em;
    position:relative;
    &:after {
      margin-left:-2em;
      position:absolute;
      bottom:-1.5em;
      left:50%;
      content:"";
      width: 0;
      height: 0;
      border-left: 2em solid transparent;
      border-right: 2em solid transparent;
      border-top: 1.5em solid $offset_color;
    }
  }
  #address > p {
    padding-bottom:3em;
    float:right;
    vertical-align:top;
    padding-left:0;
    width:10em;
    &:before {
      @include transform(rotate(140deg));
      background-image: image-url('arrows/swoop_down.svg');
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: 100%;
    }
  }
}