body {
  section#admin, aside.admin, img.admin {
    display:none;
  }
}

body.admin {
  img.admin{
    display:inline-block;
  }
  details.admin {
    border: 0.15em solid $offset;
    border:none;
    box-shadow:none;
    // height:3rem;
    @include transition (height 0.25s ease-in );
    &[open]  {
      // height:auto;
    }
    & >  nav {
      // display:block;
      // margin:2em auto;
      text-align: center;
      // vertical-align: middle;
      display:block;
      box-shadow: inset 0px 0px 51px 38px darken($offset, 10%);
      background-color:$dark;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      border: 0.15em solid black;
      width: grid-width(24);
      height:grid-width(3);
      padding:0;
      opacity:1;
      @include transition ( height 0.35s ease-in 0s);
      a {
        opacity:1;
        display:inline-block;
        margin: 2em 0 0 2em ;
        width:grid-width(3);
        @include transition (opacity 0.25s ease-out 0.15s);
        @include button($copper);
        text-align: center;
        text-transform: capitalize;
      }
      a:first-child {
        margin-left: 1em;
      }
    }
  }
}