@-webkit-keyframes  pulse {
  from {
   opacity:1;
   -webkit-animation-timing-function: ease-in;
  }
  50% {
   opacity: .5;
    -webkit-animation-timing-function: ease-in-out;
  }
  to {
   opacity:1;
   -webkit-animation-timing-function: ease-out;
  }
}
@-moz-keyframes  pulse {
  from {
   opacity:1;
   -moz-animation-timing-function: ease-in;
  }
  50% {
   opacity: .5;
    -moz-animation-timing-function: ease-in-out;
  }
  to {
   opacity:1;
   -moz-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes  pulse-copper {
  from {
    -webkit-text-stroke-color:gray;
    -webkit-text-stroke-width:.15em;
    -webkit-text-fill-color:#BD902C;
    -webkit-text-fill-color:gray;
  }
  50% {
    -webkit-text-stroke-color:#BD902C;
    -webkit-text-stroke-width:1em;
    -webkit-text-fill-color:transparent;
  }
  to {
    -webkit-text-stroke-color:gray;
    -webkit-text-stroke-width:.15em;
    -webkit-text-fill-color:#808080;
    -webkit-text-fill-color:red;
  }
}
@-moz-keyframes  pulse-copper {
  from {
    -moz-text-stroke-color:gray;
    -moz-text-stroke-width:.15em;
    -moz-text-fill-color:#BD902C;
    -moz-text-fill-color:gray;
  }
  50% {
    -moz-text-stroke-color:red;
    -moz-text-stroke-width:1em;
    -moz-text-fill-color:transparent;
  }
  to {
    -moz-text-stroke-color:gray;
    -moz-text-stroke-width:.15em;
    -moz-text-fill-color:#BD902C;
    -moz-text-fill-color:red;
  }
}

@-webkit-keyframes  pulse-white {
  from {
    -webkit-text-stroke-color:gray;
    -webkit-text-stroke-width:.15em;
    -webkit-text-fill-color:#808080;
    -webkit-text-fill-color:gray;
  }
  50% {
    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width:1em;
    -webkit-text-fill-color:white;
  }
  to {
    -webkit-text-stroke-color:gray;
    -webkit-text-stroke-width:.15em;
    -webkit-text-fill-color:#808080;
    -webkit-text-fill-color:red;
  }
}
@-moz-keyframes  pulse-white {
  from {
    -moz-text-stroke-color:gray;
    -moz-text-stroke-width:.15em;
    -moz-text-fill-color:#808080;
    -moz-text-fill-color:gray;
  }
  50% {
    -moz-text-stroke-color:white;
    -moz-text-stroke-width:1em;
    -moz-text-fill-color:white;
  }
  to {
    -moz-text-stroke-color:gray;
    -moz-text-stroke-width:.15em;
    -moz-text-fill-color:#808080;
    -moz-text-fill-color:red;
  }
}

@-webkit-keyframes bounce {
   from {
     top: 1em;
     -webkit-animation-timing-function: ease-out;
   }
   25% {
     top: 1.5em;
     -webkit-animation-timing-function: ease-in;
   }
   50% {
     top: 1em;
     -webkit-animation-timing-function: ease-out;
   }
   75% {
     top: 1.5em;
     -webkit-animation-timing-function: ease-in;
   }
   to {
     top: 1em;
   }
}
@-moz-keyframes bounce {
   from {
     top: 1em;
     -moz-animation-timing-function: ease-out;
   }
   25% {
     top: 1.5em;
     -moz-animation-timing-function: ease-in;
   }
   50% {
     top: 1em;
     -moz-animation-timing-function: ease-out;
   }
   75% {
     top: 1.5em;
     -moz-animation-timing-function: ease-in;
   }
   to {
     top: 1em;
   }
}

@-webkit-keyframes point {
   from {
     right: 0;
     -webkit-animation-timing-function: ease-out;
   }
   50% {
     right: .5em;
     -webkit-animation-timing-function: ease-in-out;
   }
   to {
     right: 0;
     -webkit-animation-timing-function: ease-in;
   }
}
@-moz-keyframes point {
   from {
     right: 0;
     -moz-animation-timing-function: ease-out;
   }
   50% {
     right: .5em;
     -moz-animation-timing-function: ease-in-out;
   }
   to {
     right: 0;
     -moz-animation-timing-function: ease-in;
   }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.working,
input[type=submit][disabled] {
  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         0.5s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-out;

  -moz-animation-name:             rotate;
  -moz-animation-duration:         0.5s;
  -moz-animation-iteration-count:  infinite;
  -moz-transition-timing-function: ease-out;
}
