#home_index,
#home_settings,
#home_author,
#home_badge,
#orders_index,
#authors_edit {
  #signed_in > img {
    display:none;
  }
  #banner {
    margin-top:2.5em;
    margin-bottom:2em;

  }
  #banner > header {
    display:inline-block;
    width:grid-width(3);
  }
  #banner > header > img,
  #banner > figure > img {
    border-radius:.25em;
    border:2px solid $darkness;
    box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.2);
    vertical-align:bottom;
    width:5em;
  }
  #banner > hgroup {
    vertical-align:top;
    display:inline-block;
    width:grid-width(8);
  }
  #banner > hgroup > h1 {
    vertical-align:top;
    font-size:2.5em;
    margin-bottom:0;
    margin-top:0;
    line-height:1em;
  }
  #banner > hgroup > p {
    color: $darkness;
    font-family: 'Doppio One', sans-serif;
    font-size:1.25em;
    margin-top:.25em;
  }
  #banner > hgroup > p > a {
    padding-left:1em;
    font-size:.6em;
    font-family: 'Cantarell', sans-serif;
    opacity:.5;
  }
  #banner > p {
    vertical-align:top;
    margin-top:0;
    display:inline-block;
    width:grid-width(12.5);
  }
}

#home_welcome {

  #banner {
    margin-top:-4em;
    background-image: image-url('home/katie.jpg');
    background-position:center top;
    background-repeat:no-repeat;
    background-color:transparent;
    height: 24em;
    width:auto;
    @include background-size(cover);
    @include full_width(black);
    box-shadow: 0 -0.5em 1.75em 1em rgba(0, 0, 0, .3);
    & > header {
      margin:0 auto 0 auto;
      width:grid-width(22);

      & > hgroup {
        display:inline-block;
        width:grid-width(9);
        display:inline-block;
        margin-top: grid-width(1.5);
        
        line-height:1.35em;
        & > h1 {
          text-shadow: 3px 3px $darkness;
          font-size:2.4em;
          line-height:1.3em;
          color:$light-text;
          opacity:.8;
        }
        & > p {
          font-size:1em;
          text-shadow: 2px 2px $darkness;
          color:$light-text;
          opacity:.9;
        }
      }

      & > figure {
        width:grid-width(8);
        height:grid-width(8);
        position:relative;
        vertical-align:top;
        display:inline-block;
        margin-top:1em;
        margin-left:3em;
      }
      & > figure > figcaption {
        text-shadow: 2px 3px $darkness;
        font-family: 'Nothing You Could Do', cursive;
        font-size:1.5em;
        opacity:.7;
        color:$light-text;
        position:absolute;
        line-height:1.25em;
        width:3em;
        top:3.25em;
        left:2.25em;
      }
      & > figure > figcaption:nth-child(2) {
        top:4.5em;
        left:9.5em;
      }
      & > figure > figcaption:nth-child(3) {
        top:9em;
        left:6em;
      }
      & > figure > img {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-3em;
        margin-top:-3em;
        width:6em;
        height:6em;
        opacity:0.6;
      }
      & > figure > img:nth-child(4){
        @include animation-name(spinning);
        @include animation-duration(5s);
        @include animation-timing-function(linear);
        @include animation-iteration-count(infinite);
        @include animation-play-state(paused);
        width:12em;
        height:12em;
        margin-left:-6em;
        margin-top:-6em;
        opacity:0.3;

        &.spinning {
          @include animation-play-state(running);
        }
      }
    }
  }

}
