 #signed_in > img {
  display:none;
}
#banner {
  margin-top:2.5em;
  margin-bottom:2em;
}
#banner > header {
  display:inline-block;
  width:grid-width(3);
}
#banner > header > a > img.author,
#banner > figure > img.author {
  border-radius:0.25em;
  border:2px solid $dark;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.2);
  vertical-align:bottom;
  width:5em;
}
#banner > hgroup {
  vertical-align:top;
  display:inline-block;
  width:grid-width(8);
}
#banner > hgroup > h1 {
  vertical-align:top;
  font-size:2.5em;
  margin-bottom:0;
  margin-top:0;
  line-height:1em;
}
#banner > hgroup > p {
  color: $dark;
  font-family: 'Doppio One', sans-serif;
  font-size:1.25em;
  margin-top:.25em;
}
#banner > hgroup > p > a {
  padding-left:1em;
  font-size:.6em;
  font-family: 'Cantarell', sans-serif;
  opacity:.5;
}
#banner > p {
  vertical-align:top;
  margin-top:0;
  display:inline-block;
  width:grid-width(9);
}


body.admin{
  #banner {
    padding:0;
    & > header {
      margin-left:grid-width(2);
    }
    & >  details.admin {
      margin-bottom:1rem;
      margin-top:-2em;
      border: 0.15em solid $offset;
      border:none;
      box-shadow:none;
      summary {
        outline: none;
        text-align:center;
        &::-webkit-details-marker { display:none; }

        img{
          @include transition (all 0.25s ease-out 0.15s);
          opacity:0.05;
          width:2rem;
          height:2rem;
          cursor:pointer;
          display:inline-block;
          &:hover {
            @include transition (all 0.25s ease-out 0.15s);
            opacity:1;
          }
        }
      }
      & > nav {
        text-align: center;
        box-shadow: inset 0px 0px 51px 38px darken($offset, 10%);
        background-color:$dark;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border: 0.15rem solid black;
        width: grid-width(24);
        height:grid-width(3);
        opacity:1;
        a {
          @include button($copper);
          display:inline-block;
          margin: 2rem 0 0 2rem ;
          min-width:grid-width(3);
          text-align: center;
          text-transform: capitalize;
        }
        a:first-child {
          margin-left: 1rem;
        }
      }
    }
  }
}