html {
  height:100%;
  font-size:16px;
  overflow-x:hidden;
  background-color: $light;
  background-image: image-url('shared/texture_light.png');
  @include user-select(none);
  @include text;
}
body {
  overflow-x:hidden;
  &:after {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:.2;
    @include background-image(linear-gradient(rgba(0,0,0,.5) 0em, lighten(rgba(0,0,0,.5), 100%) 100%));
  }

  h1, h2, h3, h4, h5, h6 {
    @include header_text;
    text-transform:capitalize;
  }
  nav > a, summary {
    text-transform:capitalize;
  }
  h2 {
    font-size:1.34em;
  }
  p {
    font-size:0.85em;
  }
  a {
    text-decoration:none;
    cursor:pointer;
  }
  ul, ol, dl {
    list-style: none;
  }

  a[href='/signout'] {
    display:none;
  }

  a.button {
    @include copper_button;
  }
  a.install {
    position:relative;
    padding-left: 2.5em;
    & > img {
      position:absolute;
      top:-0.1em;
      left:0;
      padding:.35em;
      width:1.15em;
      height:1.15em;
      border-right:1px solid darken(#907744, 10%);
    }
  }

  p.help, span.help {
    font-size:1em;
    margin:0;
    display:inline-block;
    width:grid-width(5);
    @include help_text
  }
  p.help_arrow {
    @include help_arrow 
  }

  object[itzemscoped]{
    display:none;
  }
  .working {
    @include animation-name(spinning);
    @include animation-duration(1.5s);
    @include animation-timing-function(ease);
    @include animation-iteration-count(infinite);
  }
  .hide {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.25s;
    opacity:0;
  }
  .show {
    opacity:1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .25s;
  }
}
body > header {
  @include full_width($header);
  height:3.4em;
  hgroup {
    display:none;
    &.show{
      display:inline-block;
    }
  }

  & > a:first-child {
    position:absolute;
    top:0;
    left:1em;
    vertical-align:top;
    text-decoration:none;
    color:$light;
    padding:.75em 1em;

    & > img {
      width:5em;
    }
  }
  & > nav {
    margin-top:1em;
    margin-left:9.5em;
    display:inline-block;
  }
  & > nav > a {
    font-family: 'Doppio One', sans-serif;
    color:$light;
    opacity:.5;
    font-size:.77em;
    text-decoration:none;
    text-transform:uppercase;
    margin-right:2em;
  }
}
body > section,
body > article {
  width:grid-width(22);
  margin: 0 auto 0 auto;
  padding-left:75px;
  padding-right:75px;
  & a {
    font-family: 'Doppio One', sans-serif;
    color:$text;
  }
}
body > footer {
  padding:1em 1em 0.75em 2em;
  @include full_width($dark);

  &.bottom {
    position:fixed;
    bottom:0;
    left:0;
  }

  & > h3 {
    font-size:.85em;
    display:inline-block;
    font-family: 'Patua One', cursive;
    color:$light;
    opacity:.5;
  }
  & > h4 {
    font-family: 'Cantarell', sans-serif;
    display:inline-block;
    font-size:.75em;
    color:$light;
    opacity:.5;
    &:before {
      display:inline-block;
      content: '|';
      margin-right:1em;
      margin-left:1em;
      text-decoration:none !important;
    }
  }
  & > nav {
    color:#A7A39B;
    display:inline-block;
  }
  & > nav > a {
    font-size:.75em;
    display:inline-block;
    color:#a7a39b;
    &:before {
      display:inline-block;
      content: '|';
      margin-right:1em;
      margin-left:1em;
      text-decoration:none !important;
    }
  }
}
body > nav {
  padding:5em;
  & > a,
  & > button {
    font-size:.85em;
    display:block;
    margin: 0 auto 0 auto;
    width: 13em;
    color:$text;
  }
  & > a {
    @include settings_pointer;
  }
}