#home_settings, #home_index {
  #bookmarklet {
    display:none;
  }

  #extension {
    &.downloaded {
      & > a.install {
        display:none;
      }
      & > p.help {
        display:block;
        width:grid-width(8);

        & > em {
          display:inline-block;
          border-bottom: .10em solid $text;
          border-radius:.25em;
        }
        & > code {
          display:block;
          font-weight: bold;
          width:grid-width(5);
          margin: 1em auto;
        }
      }
    }
    &.installed {
      & > a.install,
      & > p.help {
        display:none;
      }
      & > figcaption {
        color:$dark;
        border-radius:0.25em;
        border:2px solid $input_border;
        font-family: 'Cantarell', sans-serif;
        font-size:1.5em;
        padding:0.5em;
        display:block;
      }
    }
  }
}


#home_settings {
  #button {
    & > header > p {
      display:none;
    }
  }
  #extension {
    display:inline-block;
    & > img,
    & > p.help,
    & > figcaption,
    & > a:first-child,
    & > a:nth-child(7) {
      display:none;
    }
    & > a {
      width:grid-width(4);
    }
  }

}

#home_index {
  #button {
    margin-bottom:grid-width(6.5);
    & > header {
      width: grid-width(11);
      margin-bottom:2em;
    }
    & > header > h2 {
      // display:none;
    }
  }
  #extension {
    vertical-align:top;
    display: inline-block;
    & > figcaption {
      font-size:.70em;
      display:block;
      margin-top:.5em;
      width:grid-width(13);
    }
    & > a {
      position:relative;
      display:inline-block;
    }
    & > a:first-child {
      cursor:pointer;
      opacity:.25;
      height:2.5em;
    }
    & > p.help,
    & > figcaption {
      display:none;
    }
    & > a:first-child > img {
      vertical-align:middle;
      max-height: 2em;
    }
    & > a:nth-child(7) {
      opacity:.25;
    }
    & > img {
      display:inline-block;
      vertical-align:middle;
      width:2em;
      height:2em;
      margin: 0 .25em;
      opacity:.21;
    }
  }
  #extension.downloaded {
    & > p.help {
      display:inline-block;
      vertical-align: middle;
    }
  }
  #extension.installed {
    display:none;
  }
}