#home_settings, #home_getting_started{
  #card {
      #number {
        width:10rem;
      }
      #cvc {
        width:3rem;
      }
      #year {
        min-width:6rem;
      }
      & > div {
        vertical-align: top;
        display:none;
        width:grid-width(14);
        @include column-count(3);
        @include column-gap(2rem);
      }
      & > div > section {
        height:5rem;
        margin:0;
      }
      & > div > section > p {
        margin:0
      }
      & > form a {
        font-weight:bold;
      }
      & p.number:before {
       content: "**** **** **** ";
      }
      & > form > h1 {
        display:none;
        opacity:0;
        @include transition (opacity 3.0s ease-in-out);
      }
      & > form > h1.message {
        @include transition (opacity 3.0s ease-in-out);
        display:block;
        opacity:1;
        margin:0 0 .5em 0;
        color:red;
        font-size:1.2em;
      }

      a[href="/terms"] {
        text-decoration: underline;
      }
    }  
}
