aside[itemtype="order"] {
  vertical-align:top;
  display: inline-block;
  padding:.25em 0;
    font-size:1.15em;
}
aside[itemtype="order"] > h1 {
  margin-top:0;
  margin-bottom:.5em;
}
aside[itemtype="order"] > dl {
  width: 15em;
}
aside[itemtype="order"] > dl > dt {
  font-weight:normal;
  width:10em;
  margin-bottom:1em;
  display:inline-block;
}
aside[itemtype="order"] > dl > dd {
  text-align:right;
  width:4em;
  display:inline-block;
}
aside[itemtype="order"] > dl > dd > a {
  text-decoration: none;
  color:gray;
}
aside[itemtype="order"] > dl > dd > a:hover {
  text-decoration: underline;
}
aside[itemtype="order"] > dl > dt.total {
  font-weight:bold;
  color:red;
}
aside[itemtype="order"] > dl > dd[itemprop="total_charge"] {
  font-weight:bold;
  color:red;
}
