// media queries for phone tablet laptop ad large screens
// all queries are additive. in that if available on phone
// will be available on table laptop and screen.

tablet()
  @media (min-width:41rem)
    {block}

laptop()
  @media (min-width:65rem)
    {block}

display()
  @media (min-width:90rem)
    {block}

only_phone()
  @media (max-width:41rem) and (min-width:1rem)
    {block}

only_tablet()
  @media (min-width:41rem) and (max-width:65rem)
    {block}

only_phone_and_tablet()
  @media (max-width:65rem) and (min-width:1rem)
    {block}
