#extensions {
  vertical-align:top;
  margin-bottom:3em;
}
#extensions > figure {
  vertical-align:top;
  display:inline-block;
  margin:0;
  margin-right:2.75em;
}
#extensions > figure figcaption {
  font-size:1.5em;
  margin-bottom:1em;
  text-align:center;
}
#extensions > figure a {
  padding:.5em;
  display:block;
  margin-bottom:1em;
}
#extensions > figure a.wtf {
  padding:0;
  margin:0;
  display:inline;
}
#extensions > figure > a > img {
  text-align:center;
}
#extensions h1 {
  margin-bottom:1em;
}
#extensions p {
  margin-bottom:1em;
}

#extensions > aside,
#bookmarklet > aside {
  display: inline-block;
  width:18em;
}

#extensions > aside  > img,
#bookmarklet > aside  > img {
  margin-bottom:2em;
  width:19em;
}

#bookmarklet > figure > a {
  text-align: center;
  line-height:.75em;
  padding:.20em .20em .4em .20em;
  font-size: 4em;
  border: .10em solid #BD902C;
  border-radius: .3em;
  -moz-border-radius: .3em;
  color: #BD902C;
  font-weight: normal;
  background-color: white;
  display: inline-block;
  margin: 0 0 .25em 0;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}
#bookmarklet > p {
  vertical-align:top;
  display:inline-block;
  width:13em;
}
#bookmarklet > a:focus {
  outline: none;
}
#bookmarklet > figure {
  vertical-align:top;
  text-align: center;
  width:36em;
  display:inline-block;
}
#bookmarklet > figure > figcaption {
  font-size:2em;
}