body
  display:flex;
  flex-direction:column;

  & > header
    order:1;

  & > menu
    order:3;
    & > a
      display:inline-block;

  & > footer
    order:4;

  & > main
    flex-grow:1;
    order:2;

laptop()
  body
    flex-wrap:wrap;
    flex-direction:row;

    & > main
      order:3;
      flex-grow:1.618;
      min-height:90%;

    & > menu
      order:2;
      flex-grow:0.33;
      flex-direction:column;
      flex-wrap:wrap;

      & > a
        display:block;

    & > header,
    & > footer
      width:100%;
      height:5%;
      vertical-align:middle;
