body {
  input, textarea, select {
    @include user-select(text);
    margin: 0 1em 0 0;
    font-family: 'Cantarell', sans-serif;
    padding: 0.25em;
    font-size: 1em;
    // line-height: 1.2em;
    color:$header;
    border-radius:0.25em;
    border:2px solid $border;
    background-color:$input_background;
  }

  input[type=submit] {
    display:inline-block;
    @include button($copper);
    font-size: 0.9em;
    border:none;
  }

  select {
    min-width:6.5em;
  }
  input.invalid, select.invalid {
    outline-offset: -3px;
    outline: 4px solid $red !important;
  }

  :focus {
    outline-offset: -3px;
    outline: 5px auto #999;
  }

  fieldset {
    margin: 0 0 1em 0;
  }
  label {
    display:inline-block;
    font-family: 'Doppio One', sans-serif;
  }

  input[type=checkbox], input[type=radio] {
    cursor:pointer;
    font-size:1.5em;
    display: inline-block;
    margin: 0 .25em 0 0;
    border-radius: 0.25em;
    border-color:$border;
  }
  input:disabled {
    opacity:.6;
    border-color:#aaa;
    box-shadow:0;
  }
  input:disabled + label {
    color:$text;
    cursor:default;
    -webkit-user-select: none;
  }
}

section.setting,
#home_settings > #button,
#services > details > section, #sharing {
  margin-bottom: 0.5em;
  padding-top:2em;
  padding-bottom:2em;
  border-radius:0.10em;
  background-color: $offset;

  & > header {
    vertical-align:top;
    display:inline-block;
    width: grid-width(4);
    margin-right:grid-width(1);
    height:100%
  }
  & > header > h2 {
    margin-bottom:0.5em;
    text-align:left;
  }
  & > header > a {
    font-size:0.75em;
    color: #999999;
  }
  & > form {
    display:none;
    opacity:0;
    vertical-align:top;
    max-width: grid-width(14);
  }
  & > div, & > nav, & > aside  {
    display:inline-block;
  }
  & > div h4 {
    font-family: 'Cantarell', sans-serif;
    margin:0;
    margin-bottom:0.5em;
    font-size:0.85em;
  }
  & > div p {
    font-family: 'Doppio One', sans-serif;
    color:$dark;
    font-size: 1.1em;
    opacity:0.8;
    margin:0;
  }
}
