body > header {
  font-size: 0;
  vertical-align: top;
  margin:0;

  menu.fan {
    margin: 0;
    margin-bottom:-1rem;
    & > a {
      width:48%;
      display:inline-block;
      &:first-of-type {
        margin-right:4%;
      }
    }
  }
}

nav, menu {
  display:none;
  padding:1rem;
  padding-bottom:0;
  margin:0;
  & > a,
  & > input {
    transition: all 0.5s ease-in;
    // letter-spacing: 1px;
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Patua One', cursive;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Doppio One', sans-serif;
    text-transform:capitalize;
    font-size:1.75rem;
    font-weight: 400;
    padding:1rem;
    text-align:center;
    background-color:$offset_color;
    color:$header;
    border: 2px solid $shadow;
    border-radius:0.5rem;
    display:block;
    margin-bottom:1rem;

    &:focus,
    &:active {
      border:2px solid $copper;
      color:$copper;
      outline:none;
    }

  }
  a:last-child,
  input:last-child
  button:last-child {
   margin-bottom:0rem;
  }
}

body.guest  menu.guest
body.guest  nav.guest {
  display:block;
  opacity:1;
}

body.fan {
  nav.fan, menu.fan {
    display:block;
    opacity:1;
  }
}


body.admin  menu.admin
body.admin  nav.admin {
  display:block;
  opacity:0.99;

}
