body > header {
  @include full_width($header);
  box-shadow:0px 1px $shadow;
  height:grid-width(1.5);
  &:before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    @include background-image(linear-gradient($header 29%, $header_transparent 98%), radial-gradient($dark 44%, $header_transparent 100%));
  }
  & > a:first-child {
    position:absolute;
    top:0;
    left:1rem;
    vertical-align:top;
    text-decoration:none;
    color:$light;
    padding:0.75rem 1rem;
    & > img {
      width:5rem;
    }
  }
  & > nav {
    margin-top:1rem;
    margin-left:9.5rem;
    display:inline-block;
    & > a {
      font-family: 'Doppio One', sans-serif;
      color:$light;
      opacity:0.75;
      font-size:0.85rem;
      text-decoration:none;
      text-transform:uppercase;
      margin-right:2rem;
    }
  }

  & > hgroup {
    float:right;
    text-align:right;

    nav {
      @include transition (opacity 0.5s ease-in 0s);
      opacity:0;
      width:0;
      margin-top:0.75rem;
      // height:2.5rem;
      display:inline-block;
      vertical-align:top;
      & > a {
        vertical-align:middle;
        display:inline-block;
        margin-right:1.5rem;
        line-height:1.25rem;
      }
      & > a[href="/author"] > img {
        width:2.25rem;
      }
      & > a > img {
        width:1.5rem;
        height:1.5rem;
        opacity:0.3;
        vertical-align:middle;
        @include transition(opacity 1s);
        &:hover{
          @include transition(opacity 1s);
          opacity:0.9;
        }
      }
    }
  }
}

#home_settings, #home_author, #home_index {
}

#home_author #user_nav > nav > a[href='/author'] > img {
  opacity:0.99;
}

#home_settings #user_nav > nav > a[href='/settings'] > img {
  opacity:0.99;
}

body.guest > header {
  #guest_nav {
    opacity:1;
    width:auto;
    & > a {
      @include transition (opacity 0.2s ease-out 0s);
      &:hover {
        opacity:0.99;
        @include transition (opacity 0.2s ease-in 0s);
      }
      font-size:1.5rem;
      opacity:0.75;
      color:$light;
      font-family: 'Nothing You Could Do', cursive !important;
    }

  }
}

body.fan > header {
  #fan_nav {
    opacity:1;
    width:auto;
  }
}