body > header {
  font-size: 0;
  vertical-align: top;
  margin:0;

  menu.fan {
    margin: 0;
    margin-bottom:-1rem;
    & > a {
      width:48%;
      display:inline-block;
      &:first-of-type {
        margin-right:4%;
      }
    }
  }
}

nav, menu {
  display:none;
  padding:1rem;
  padding-bottom:0;
  margin:0;
  & > a,
  & > input,
  & > button {
    transition: all 0.25s ease-in;
    // letter-spacing: 1px;
    font-family: 'Doppio One', sans-serif;
    text-transform:capitalize;
    font-size:1.75rem;
    font-weight: 400;
    padding:1rem;
    text-align:center;
    background-color:$offset_color;
    color:$header;
    border: 2px solid $shadow;
    border-radius:0.5rem;
    display:block;
    margin-bottom:1rem;
    &:focus,
    &:active {
      border:2px solid $copper;
      color:$copper;
      outline:none;
    }
    &:last-child {
      margin-bottom:0rem;
    }
  }
}

body.guest {
  nav.guest, menu.guest {
    display:block;
    opacity:0.99;
  }
}

body.fan {
  nav.fan, menu.fan {
    display:block;
    opacity:0.99;
  }
}


body.admin {
  nav.admin, menu.admin {
    display:block;
    opacity:0.99;
  }
}

