$gw-column:2em;
$gw-gutter:0.5em;
$gutter:$gw-gutter;
$offset_color:rgba(182, 195, 181, 0.2);
$dark:rgba(42, 41, 41, 1);
$light:rgba(251, 250, 248, 1);
$header:rgba(42,41,41,0.75);
$input_border:rgba(42, 41, 41, 0.3);
$title:rgba(102,102,102,1);
$text:rgba(102,102,102,0.8);


$copper:rgba(204, 153, 51, 1);
$green:rgba(0, 128, 0, 0.7);
$yellow:rgba(255, 255, 0, 0.7);
$brown:rgba(165, 42, 42, 0.7);
$blue:rgba(0, 0, 255, 0.7);
$red:rgba(255, 0, 0, 0.7);
$shadow:rgba(0, 0, 0, 0.5);

@import "normalize";
@import "bourbon";
@import "details";

@mixin inset_button($color) {
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  /** http://tympanus.net/codrops/2012/01/11/css-buttons-with-pseudo-elements/ **/
  color:lighten($color, 75%);
  background-color:$color;
  padding:0.25em;
  border-radius: 0.25em;
  position:relative;
  text-decoration:none;
  border: solid 1px darken($color, 60%);
  box-shadow: inset 0px 1px 0px lighten($color, 1%), 0px 1px 0px lighten($color, 1%);
  @include background-image(linear-gradient($color 0%, shade($color, 25%) 100%));
  &:active {
    padding-top:0.27em;
    padding-right:0.25em;
    padding-bottom:0.20em;
    padding-left:0.25em;

    // @include background-image(linear-gradient(bottom, $light 0%, shade($light, 20%) 100%));
    @include background-image(linear-gradient(bottom, shade($color, 7%) 20%, shade($color, 15%) 95%) );
    background-color:$color;
  }
  &:before {
      // background-color:#ccd0d5;
      background-color:lighten($color, 30%);
      opacity:0.3;
      content:"";
      display:block;
      position:absolute;
      width:100%;
      height:100%;
      padding:0.5em;
      left:-0.5em;
      top:-0.5em;
      z-index:-1;
      outline: 1px solid $light;
      border-radius: 0.25em;
      box-shadow: inset 0px 1px 1px darken($color, 10%), 0px 1px 0px lighten($color, 40%);
      // box-shadow: inset 0px 1px 1px lighten($header, 1%), 0px 1px 0px #FFFFFF;
  }
}
@mixin copper_button {
  cursor:pointer;
  font-size:1em;
  font-family: 'Doppio One', sans-serif;
  text-align:center;
  text-decoration:none;
  padding:.25em ;
  background-color:$copper;
  @include background-image(linear-gradient($copper 40%, shade($copper, 25%) 100%, transparent 50%));
  color:$light !important;
  border-radius:.25em;
  border:2px solid darken($copper, 10%);
  border-bottom:2px inset darken($copper, 20%);
  box-shadow: 1px 1px 1px 0px lighten($copper, 10%) inset;
  @include transition (box-shadow 0.5s ease-out 0.25s);
  position:relative;
  &:hover {
    box-shadow: 0 0 .25em 0  $copper;
    @include transition (box-shadow 0.25s ease-in);
  }
}
@mixin ribbon {
  @include background-image( linear-gradient(black 0, $dark 75%, transparent 32%),image-url('icons/congrats.svg'));
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}
@mixin text {
  font-size:1em;
  font-family: 'Cantarell', sans-serif;
  font-weight:normal;
  color:$text;
  // line-height:1.25em;
}
@mixin header_text {
  color:$title;
  font-family: 'Bree Serif', serif;
  font-weight:normal;
  text-transform:capitalize;
}
@mixin help_text {
  font-family: 'Nothing You Could Do', cursive !important;
  font-size:1em !important;
  display:inline-block;
}
@mixin help_arrow {
  padding-left:grid-width(2);
  position:relative;
  &:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    bottom:0;
    left:0em;
    right:0;
    opacity:0.3;
    background: image-url('arrows/slight_down.svg') no-repeat 1% 60%;
    background-size:3em;
  }
}
@mixin settings_pointer {
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  &:after {
    content:"";
    width:.75em;
    height:.75em;
    margin-left:.35em;
    display:inline-block;
    opacity:.5;
    @include transform(rotate(-90deg));
    background: image-url('shared/triangles/isosceles.svg') no-repeat 0% 0%;
    background-size: .75em;
  }
}
@mixin settings_pointer_down {
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  &:after {
    content:"";
    width:.75em;
    height:.75em;
    width:3em;
    margin:0 auto 0 auto;
    display:block;
    opacity:.5;
    @include transform(rotate(0deg));
    background: image-url('shared/triangles/isosceles.svg') no-repeat 50% 100%;
    background-size: .75em;
  }
}
@mixin keyframes($name) {
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-khtml-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}
@include keyframes(spinning) {
  from { @include transform(rotate(0deg)); }
  to { @include transform(rotate(360deg)); }
}
@mixin animation-play-state($state) {
  -moz-animation-play-state: $state;
  -webkit-animation-play-state: $state;
  -o-animation-play-state: $state;
  -ms-animation-play-state: $state;
  -khtml-animation-play-state: $state;
  animation-play-state: $state;
}

// expand a backroud color the full width of the page
@mixin full_width($color){
  @include left_width($color);
  @include right_width($color);
}
@mixin left_width($color){
  background-color:$color;
  position:relative;
  overflow:visible;
  &:before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:100%;
    background-color: $color;
    width: 9999px;   /* some huge width */
  }
}
@mixin right_width($color){
  background-color:$color;
  position:relative;
  overflow:visible;
  &:after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:100%;
    background-color: $color;
    width: 9999px;   /* some huge width */
  }
}

// animation mixins
@mixin hidden(){
  opacity:0;
  @include transition (opacity 0.2s ease-out 0s);
}

@mixin active(){
  opacity:1;
  @include transition (opacity 0.5s ease-in 0s);
}
