$gw-column:2rem;
$gw-gutter:0.5rem;
$gutter:$gw-gutter;
$offset_color:rgba(182, 195, 181, 0.2);
$offset:rgba(182, 195, 181, 0.2);
$dark:rgba(41, 11, 5, 0.99);
$light:rgba(251, 250, 248, 0.99);
$header:rgba(82,52,45,0.99);
// 78  54  47
$header_transparent:rgba(82,52,45,0.1);
$title:rgba(102,102,102,0.99);
$text:rgba(102,102,102,0.8);
$input_border:rgba(42, 41, 41, 0.3);
$input_background:rgba(251, 250, 248, 0.2);

$copper_text:rgba(204, 154, 0, 0.99);
// #ff9c00
$copper:rgba(212, 154, 72, 1);
$green:rgba(0, 128, 0, 0.7);
$yellow:rgba(255, 255, 0, 0.7);
$brown:rgba(165, 42, 42, 0.7);
$blue:rgba(0, 0, 255, 0.7);
$red:rgba(255, 0, 0, 0.7);
$shadow:rgba(0, 0, 0, 0.5);

@import "normalize";
@import "bourbon";
@import "details";

@mixin button {
  display: block;
  width:100%;
  height:100%;

  font-size:2rem;
  font-weight: 400;
  font-family: 'Doppio One', sans-serif;

  padding:1rem;
  text-transform:capitalize;
  text-align:center;
  text-decoration:none;
  vertical-align: middle;

  border-radius: 0.25rem;
  border:0.15rem solid $header;
  background-color:$offset_color;
  color:$header;
  cursor:pointer;
  transition: all 0.25s ease;

  &:focus,
  &:active {
    border:0.15rem solid $copper;
    color:$copper;
    outline:none;
  }
  &:last-child {
    margin-bottom:0rem;
  }
}

@mixin text {
  font-size:1em;
  font-family: 'Cantarell', sans-serif;
  font-weight:normal;
  color:$text;
}
@mixin header_text {
  letter-spacing: 1px;
  color:$title;
  font-family: 'Bree Serif', serif;
  font-weight:normal;
  text-transform:capitalize;
}
@mixin help_text {
  font-family: 'Nothing You Could Do', cursive !important;
  font-size:1em !important;
  display:inline-block;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-khtml-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}
@include keyframes(spinning) {
  from { @include transform(rotate(0deg)); }
  to { @include transform(rotate(360deg)); }
}
@mixin animation-play-state($state) {
  -moz-animation-play-state: $state;
  -webkit-animation-play-state: $state;
  -o-animation-play-state: $state;
  -ms-animation-play-state: $state;
  -khtml-animation-play-state: $state;
  animation-play-state: $state;
}

// expand a backroud color the full width of the page
@mixin full_width($color){
  @include left_width($color);
  @include right_width($color);
}
@mixin left_width($color){
  background-color:$color;
  position:relative;
  overflow:visible;
  &:before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:100%;
    background-color: $color;
    width: 9999px;   /* some huge width */
  }
}
@mixin right_width($color){
  background-color:$color;
  position:relative;
  overflow:visible;
  &:after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:100%;
    background-color: $color;
    width: 9999px;   /* some huge width */
  }
}

// animation mixins
@mixin hidden(){
  opacity:0;
  @include transition (opacity 0.2s ease-out 0s);
}

@mixin active(){
  opacity:1;
  @include transition (opacity 0.5s ease-in 0s);
}
