$gw-column:2rem;
$gw-gutter:0.5rem;
$gutter:$gw-gutter;


$black:              hsla(  0,   0%,  0%, 0.99);
  $shadow:           hsla(  0,   0%,  0%, 0.50);
  $border:           hsla(  0,   0%, 16%, 0.30);
  $title:            hsla(  0,   0%, 40%, 0.99);
  $text:             hsla(  0,   0%, 40%, 0.80);

$red:                hsla(  0,  50%, 50%, 0.70);
  $brown:            hsla(  0,  59%, 41%, 0.70);

  $dark:             hsla( 10,  78%,  9%, 0.99);
  $header:           hsla( 11,  29%, 25%, 0.99);
  $copper:           hsla( 29,  57%, 46%, 0.99);   //http://www.99colors.net/name/copper

$sepia:              hsla( 30,  70%,  2%, 0.99);    //http://www.99colors.net/name/sepia

  $copper:           hsla( 35,  62%, 56%, 0.99);   //from style guide
  $light:            hsla( 40,  27%, 98%, 0.99);
  $input_background: hsla( 40,  27%, 98%, 0.20);
  $text_highlight:   hsla( 45, 100%, 40%, 0.99);


$yellow:             hsla( 60, 100%, 50%, 0.70);
  $offset:           hsla(116,  10%, 74%, 0.20);
$green:              hsla(120, 100%, 25%, 0.70);
$blue:               hsla(240, 100%, 50%, 0.70);

@mixin button {
  display: block;
  width:100%;
  height:100%;
  font-size:2rem;
  font-weight: 400;
  font-family: 'Doppio One', sans-serif;
  padding:1rem;
  text-transform:capitalize;
  text-align:center;
  text-decoration:none;
  vertical-align: middle;

  border-radius: 0.25rem;
  border:0.1rem solid darken($offset, 20%);
  background-color:$offset;
  color:$header;
  cursor:pointer;
  transition: all 0.25s ease;

  &:focus,
  &:active {
    border:0.15rem solid $copper;
    color:$copper;
    outline:none;
  }
  &:last-child {
    margin-bottom:0rem;
  }
}

@mixin text {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size:1em;
  font-family: 'Cantarell', sans-serif;
  font-weight:normal;
  color:$text;
}
@mixin header_text {
  letter-spacing: 1px;
  color:$title;
  font-family: 'Bree Serif', serif;
  font-weight:normal;
  text-transform:capitalize;
}
@mixin help_text {
  font-family: 'Nothing You Could Do', cursive !important;
  font-size:1em !important;
  display:inline-block;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-khtml-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}
@include keyframes(spinning) {
  from { @include transform(rotate(0deg)); }
  to { @include transform(rotate(360deg)); }
}
@mixin animation-play-state($state) {
  -moz-animation-play-state: $state;
  -webkit-animation-play-state: $state;
  -o-animation-play-state: $state;
  -ms-animation-play-state: $state;
  -khtml-animation-play-state: $state;
  animation-play-state: $state;
}

// expand a backroud color the full width of the page
@mixin full_width($color){
  @include left_width($color);
  @include right_width($color);
}
@mixin left_width($color){
  background-color:$color;
  position:relative;
  overflow:visible;
  &:before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:100%;
    background-color: $color;
    width: 9999px;   /* some huge width */
  }
}
@mixin right_width($color){
  background-color:$color;
  position:relative;
  overflow:visible;
  &:after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:100%;
    background-color: $color;
    width: 9999px;   /* some huge width */
  }
}

// animation mixins
@mixin hidden(){
  opacity:0;
  @include transition (opacity 0.2s ease-out 0s);
}

@mixin active(){
  opacity:1;
  @include transition (opacity 0.5s ease-in 0s);
}
