@mixin page_rows($rows) {

  & > details, & > figure {
    @include transition (height 0.2s ease 0s,width 0.2s ease 0s);
    height:grid-width($rows);
    width:grid-width($rows);
  }
}
section.endless, section.pages {
  @include page_rows(8);
  border:0.25em solid transparent;
  padding:0;
  background-color: $offset;
  border-radius:0.5rem;
  & > details {
    display:inline-block;
    vertical-align: top;
    padding:0.5em;
    overflow: hidden;
    & > summary {
      overflow: hidden;
      cursor:pointer;
      outline:none;
      height:100%;
      width:100%;
      box-shadow: 1px 1px 1px lighten($shadow, 50%);
      border-radius:0.25em;
      &::-webkit-details-marker {
        display: none
      }
      & > h1 {display:none;}
      & > figure {
        border-radius:0.25em;
        overflow: hidden;
        position:relative;
        & > img {
          max-width: 100%;
          max-height: 15rem;
        }
        & > figcaption {
          & > h2 {
            @include text;
            font-size:1em;
            display:inline-block;
            // width:grid-width(6);
            height:1em;
            line-height:1em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          & > p {
            @include ribbon;
            @include header_text;
            opacity:0.8;
            text-align:center;
            vertical-align:middle;
            position:absolute;
            min-width:1em;
            min-height:1em;
            padding:0.5em 0.5em 1em 0.5em;
            color:$light;
            font-size: 1.5em;
            &[data-cents]{
              top:-1em;
              right:-3px;
              &:before {
                content: "$";
              }
            }
            &[data-count]{
              top:-1em;
              left:-3px;
            }
          }
        }
      }
    }

    &[open] {
      width:100%;
      border-radius:0.25em;
      position:relative;
      height:auto;
      overflow:visible;
      // background-color:$offset;
      & > summary {
        width:grid-width(10);
        max-height:grid-width(10);
        display:inline-block;
        & > figure {
          overflow: hidden;
        }
        & > h1 {
          display:block;
        }
        & > figure > figcaption {
          h2 {display:none;}
        }
        & > figure > img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    & > section {
      width:grid-width(13);
      vertical-align:top;
      display:inline-block;

      & > header {
        margin: 0 auto;
        & > h1 {
          text-align: center;
          margin: 0;
        }
        & > hgroup {
          margin-bottom:1em;
        }
      }
    }
  }

  & > figure {
    display:inline-block;
    height:grid-width(8);
    width:grid-width(8);
    overflow: hidden;
    vertical-align: top;
    padding:0.5em;
    &:hover {
      & > figcaption {
        $page_offset:rgba(82,52,45,0.77);
        background-color:$page_offset;
        @include transition (background-color 0.35s ease-out 0.15s);
      }
    }
    & > a {
      border-radius: 0.25em;
      width:100%;
      height:100%;
      display:block;
      box-shadow: 1px 1px 1px lighten($shadow, 50%);
      overflow:hidden;
      & > img {
        max-width: 200%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
      }
    }

    & > figcaption {
      height:4em;
      position:relative;
      color: $light;
      text-shadow: 1px 1px 1px $text;
      margin-top: -4em;
      border-bottom-left-radius:0.25em;
      border-bottom-right-radius:0.25em;
      padding:0.75em 1em;
      & > p {
        font-family: 'Cantarell', sans-serif;
        font-size: 1em;
        margin:0 0 0.25em 0;
        text-align:right;
        &:first-child {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1em;
        }
      }
    }
  }
}
section[data-per-row="2"] {@include page_rows(12)}
section[data-per-row="3"] {@include page_rows(8)}
section[data-per-row="4"] {@include page_rows(6)}
section[data-per-row="6"] {@include page_rows(4)}
section[data-per-row="8"] {@include page_rows(3)}
section[data-per-row="12"] {@include page_rows(2)}
