placeholder($color)
  &::-webkit-input-placeholder
    text-transform:capitalize
     color:$color

  &:-moz-placeholder  /* Firefox 18- */
    text-transform:capitalize
     color:$color

  &::-moz-placeholder   /* Firefox 19+ */
    text-transform:capitalize
     color:$color

  &:-ms-input-placeholder
    text-transform:capitalize
     color:$color
