body.guest {
  .guest {
    display:block;
  }
  .fan {
    display:none;
  }
  .admin{
    display:none;
  }
}

body.fan {
  .guest {
    display:none;
  }
  .fan {
    display:block;
  }
  .admin{
    display:none;
  }
}

body.admin {
  .guest {
    display:none;
  }
  .fan {
    display:none;
  }
  .admin{
    display:block;
  }
}

body.fan.admin {
  .fan {
    display:block;
  }
  .admin{
    display:block;
  }
}
