#sign_in {
  float:right;
  display:inline-block;
  vertical-align:middle;
  margin-right:1em;
  margin-top:1em;
  text-align:right;
  nav {

  }
  nav > h1 {
    font-family: 'Doppio One', sans-serif;
    text-transform:uppercase;
    margin-right:.5em;
    font-weight:normal;
    opacity:.6;
    color:white;
    display:inline;
    font-size:.85em;
  }
  nav > a  {
    padding-right:.25em;
  }
  nav > a > img {
    display:inline;
    vertical-align:top;
    width:1.25em;
  }
}

#signed_in {
  float:right;
  display:inline-block;
  margin-top:.5em;
  margin-right:1em;
  text-align:right;
  & > img {
    border:0.18em solid #666;
    display:inline-block;
    width:2em;
  }
  nav {
    height:2.5em;
    display:inline-block;
    vertical-align:top;
    text-align:right;
  }
  nav > h1 {
    margin:0;
    font-family: 'Doppio One', sans-serif;
    color:#d7d2cf;
    font-size:.85em;
  }
  nav > a {
    opacity:.5;
    padding-top:.5em;
    line-height:2em;
    vertical-align:middle;
    display:inline-block;
    margin-right:1.5em;
    font-family: 'Cantarell', sans-serif;
    font-size:.75em;
    line-height:1.25em;
    color:#d7d2cf;
  }
  nav > a > img {
    height:1.5em;
    opacity:.5;
    vertical-align:middle;
  }
}