#sign_in > h1 {
  text-align:center;
}
#sign_in {
  text-align:center;
}
#sign_in > hgroup {
  margin-bottom:1em;
}
#sign_in > hgroup > h1 {
  color:red;
  text-align:center;
  font-weight:bold;
  font-size:2em;
}
#sign_in > hgroup > nav {
  text-align:center;
}
#sign_in > #home {
  font-weight:bold;
  text-decoration: none;
  color:silver;
  font-size:2em;
}
#sign_in > span {
  display:none !important;
}

