#home_index, #home_author, #orders_index {
  #stats {
    margin-bottom:1em;
    & > header {}
    & > header > h1 {
      font-size:1.5em;
    }
    & > div,
    & > footer {
      vertical-align:middle;
      height:grid-width(2);
      display:inline-block;
    }
    & > div {
      padding:0.5em 0 0 1em;
      background-color:$offset_color;
      margin-right:0.5em;
      width:grid-width(4);
    }
    & > div > h2 {
      font-size:.85em;
      @include text;
    }
    & > div > p {
      margin:0 0 0 0;
      font-size:1.5em;
      vertical-align: middle;
      @include header_text;
    }
    & > div > p > span {
      vertical-align: baseline;
    }
    & > div > p > span:before,
    & > div:nth-child(3) > p:before  {
      content:"$";
    }
    & > div > p > button {
      -webkit-appearance: none;
      @include copper_button;
      display:inline-block;
      font-size: 16px;
      line-height: 0.75em;
      margin-left:0.25em;
      vertical-align: middle;
    }
    & > div > p > button:active {
      box-shadow: 0px 0px 0px 0px $shadow;
    }
    & > div:nth-child(2) {
      padding-left:0;
      @include right_width($offset_color)
    }
    & > footer {
      padding-top:1em;
      background-color: $offset_color;
      @include left_width($offset_color)
    }
    & > footer > a {
      display:inline-block;
      margin: 1.75em 3em;
      width:12em;
      font-family: 'Doppio One', sans-serif;
      font-size:.75em;
      @include settings_pointer
    }
  }
}