body > section {
  width:55.5em;
}
body > section > header {
  border: .15em solid #333;
  min-height: 2.5em;
  background:white;
  margin:0;
  width: 58.5em;
  margin-left: -1.65em;
  margin-bottom: 2em;
}
body > section > header > h1 {
  text-align:center;
  width: 7em;
  line-height:1.5em;
  font-size:2.25em;
  display:inline-block;
  min-height:3em;
  padding:1em;
}
body > section > header > figure {
  display:inline-block;
  vertical-align:top;
  margin-left:5em;
  margin-right:8em;
  padding-top:1em;
  opacity:1;
  height:auto;
}
body > section > header > figure > img{
  vertical-align:middle;
  width:10em;
  height:10em;
}
body > section > header > hgroup {
  display:inline-block;
  font-size:2em;
  margin-top:2.5em;
}
body > section > header > hgroup > h2,
body > section > header > hgroup > ul {
  display:inline-block;
}
body > section > header > hgroup > h2 {
  color:#333;
}
body > section > header > hgroup > ul {
    min-width:2.5em;
}
body > section > header > hgroup > ul > li {
  color:red;
  display:none;

}
body > section > header > hgroup > ul > li:first-child{
  display:inline-block;
}

body > section > article {
  display:inline-block;
  width: 30em;
  margin-right:4em;
}
body > section > article > h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}
body > section > article > p {
  font-size: 1.25em;

  margin-bottom: 1em;
  line-height: 1.25em;
}
body > section > article > ol {
  -webkit-padding-start: 0;
  margin-top:2em;
  vertical-align:top;
  width:55.5em;
}
body > section > article > ul {
  list-style: circle inside ;
  font-size: 1.25em;
  width: 25em;
  margin-bottom: 1em;
  line-height: 1.15em;

}
body > section > article > ul > li {
  line-height:1.5em;
}
body > section > article > ul > li > a {
  text-decoration:underline;
}

body > section > article > ul > li > a >img {
  width:1em;
  vertical-align:bottom;
  text-decoration:none;
  margin-left: .5em;
  border: 1px solid #666;
  padding:.25em;
  border-radius:.25em;
}
body > section > figure {
  display:inline-block;
  vertical-align:top;
}
body > section > figure > figcaption {
  text-align:center;
  display:none;
}
body > section > figure > img {
  border-radius: 1em;
  -webkit-box-shadow: 0 .75em 1.75em silver;
  -moz-box-shadow: 0 .75em 1.75em silver;
}