body > section {
  width:55.5em;
}
body > section > header {
  position:relative;
  border: .15em solid gray;
  min-height: 2.5em;
  background:white;
  margin:0;
  width: 58.5em;
  margin-left: -1.65em;
  margin-bottom: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration:  1s;
}
body > section > header > h1 {
  text-align:center;
  width: 7em;
  line-height:1.5em;
  font-size:2.25em;
  display:inline-block;
  min-height:3em;
  padding:1em;
}
body > section > header > figure {
  display:inline-block;
  vertical-align:top;
  margin-left:5em;
  margin-right:15em;
  padding-top:1em;
  opacity:1;
  height:auto;
}
body > section > header > figure > img{
  vertical-align:middle;
  width:13em;
  height:13em;
}
body > section > header > a {
  display:inline-block;
  position:absolute;
  bottom:.5em;
  right:.5em;
  font-size: 1.5em;
}
body > section > header > span {
  position:absolute;
  top:.5em;
  right:.5em;
  font-size: 1.5em;
  cursor: pointer;
}
body > section > header.minimized {}
body > section > header.minimized h1,
body > section > header.minimized figure,
body > section > header.minimized iframe,
body > section > header.minimized figure img {
  height:0;
  width:0;
  display:none;
}
body > section > header.minimized > a {
  left:.5em;
  width:6em;
}
body > section > header > iframe {
  display:inline-block;
  width:23em;
  height:15em;
}
body > section > article > h2 {
  font-size: 1.75em;
  margin-bottom: 1em;
  font-weight:bold;
  color:  green;
}
body > section > article > p {
  font-size: 1.5em;
  width: 21em;
  margin-bottom: 1em;

  line-height: 1.15em;
}
body > section > article > p > a {
  color: blue;
}
body > section > article > ol {
  -webkit-padding-start: 0;
  margin-top:2em;
  vertical-align:top;
  width:55.5em;
}
body > section > article > ul {
  list-style: circle inside ;
  font-size: 1.5em;
  width: 25em;
  margin-bottom: 1em;
  line-height: 1.15em;

}
body > section > article > ul > li {
  color:  green;
}
body > section > article > ul > li > a {
  color:green;
  text-decoration:underline;
}