@import "shared/mixins";
@import "shared/forms";
@import "shared/sign_in";
@import "home/index";
@import "users/edit";

html {
  position:relative;
  min-width: 60em;
  min-height:30em;
  background-color: #f6f5f0;
  background-image: image-url('texture_dark.png');
  font-family: Arial;
  font-size: 16px;
  line-height:1.25em;
  &:after {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:.2;
    @include background-image(linear-gradient(rgba(0,0,0,.5) 0em, lighten(rgba(0,0,0,.5), 100%) grid-width(10)));
  }
}
body {
  width:grid-width(26);
  margin: 0 auto 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  input, option {
    font-family: 'Doppio One', sans-serif;
  }
  h1, h2 {
    font-family: 'Bree Serif', serif;
    font-weight:normal;
    color:#666666;
  }
  h2 {
    font-size:1.34em;
  }
  p, a, figcaption, dd, dt {
    font-family: 'Cantarell', sans-serif;
    font-weight:normal;
  }
  p, color, a, ul {
    color:#666666;
    opacity:.85;
    line-height:1.5em;
  }
  a {
    opacity:1;
    font-size:1em;
  }
  ul, ol, dl {
    list-style: none;
  }
}
body > header {
  position:relative;
  background-color: $darkness;
  width:grid-width(26);
  height:3.4em;
}
body > header > a {
  background-color: $darkness;
  position:absolute;
  top:0;
  left:1em;
  vertical-align:top;
  text-decoration:none;
  color:white;
  padding:.75em 1em;
}
body > header > a > img {
  opacity:.8;
}
body > header > nav {
  margin-top:1em;
  margin-left:9.5em;
  display:inline-block;
}
body > header > nav > a {
  font-family: 'Doppio One', sans-serif;
  color:silver;
  opacity:.8;
  font-size:.77em;
  text-decoration:none;
  text-transform:uppercase;
  margin-right:2em;
}
body > section, body > footer {
  padding-left:75px;
  padding-right:75px;
}

body > footer {
  padding-top:1em;
  padding-bottom:0.75em;
  background-color:$darkness;
}
body > footer > h3 {
  font-size:.85em;
  display:inline-block;
  font-family: 'Patua One', cursive;
  color:white;
  opacity:.5;
}
body > footer > h4 {
  font-family: 'Cantarell', sans-serif;
  display:inline-block;
  font-size:.75em;
  color:white;
  opacity:.5;
  &:before {
    display:inline-block;
    content: '|';
    margin-right:1em;
    margin-left:1em;
    text-decoration:none !important;
  }
}
body > footer > nav {
  color:#A7A39B;
  display:inline-block;
}
body > footer > nav > a {
  font-size:.75em;
  display:inline-block;
  color:#a7a39b;
  &:before {
    display:inline-block;
    content: '|';
    margin-right:1em;
    margin-left:1em;
    text-decoration:none !important;
  }

}

#message {
  width:16em;
  min-height:3em;
  margin-left:22em;
  display:inline-block;
  color:yellow;
}
