@import "shared/mixins";

body {
  color:#808080;
  border:transparent;
  background-color: transparent;
}
body * {
  text-shadow: 2px 2px 2px white;
}
body > section {
  display:none;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top: -15em;
  margin-left: -21.5em;
  opacity:.95;
}

section {
  outline: none;
}
section > h1 {
  font-size: 1.5em;
}
section.notify {
  border: .25em solid black;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background:#FBF6F1;
  @import box-shadow(0 0.25em 3em #333);
}
section.notify * {
  @import transition(all 1s)
}
section.notify > header {
  vertical-align:top;
  padding:0;
  margin:0;
}
section.notify > img {
  display:inline-block;
  margin:1.5em 1em 1em 1em;
  width:4em;
  vertical-align: top;
}
section.notify > span {
  position:absolute;
  top:1em;
  right:1em;
  font-size:2em;
  cursor:pointer;
}
section.notify > header {
  display:inline-block;
  width:22em;
  border-right:.25em solid black;
}
section.notify > header > h1 {
  margin:1em 0 0 0;
  font-size:1em;
  color:gray;

}
section.notify > header > p {
  font-size: 1.75em;
  color:#BD902C;
  display:inline-block;
  vertical-align:top;
  min-height:4.5em;
}

section.notify > aside {
  position:relative;
  display:inline-block;
  min-width:15em;
  min-height:10em;
}
section.notify > aside > h1 {
  font-size: 4em;
  margin: .5em;
  color:#333;
}
section.notify > aside > h1:before{
  content:"$";
}
section.notify > aside > form > button {
  display:block;
  position:absolute;
  bottom: 1em;
  left: 3.5em;
  font-size: 1em;
  text-align:center;

  border:.15em solid gray;
  background-color:white;
  border-radius:.5em;
  color:red;
  font-weight:bold;

}
section.notify > aside > form > button:hover {
  color:red;
  cursor:pointer;
}

section.notify > aside > form  {
  border:none;
  font-size:1em;
  display:block;
  margin-top:2em;
  margin-left:1em;

}
section.notify > aside > form > label {
  font-size:2em;
  color:#333;
}

section.notify > aside > form > input {
  border:none;
  font-size:2em;
  width:3em;
  background-color:#FBF6F1;

}


section.alert {
  @import box-shadow(0 0.25em 3em #333);
  background-color: #FBF6F1;
  position:fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 14em;
  margin-left:-15em;
  margin-top:-14em;
  border: .25em solid red;
  border-radius: 1em;
  opacity:1;
  padding:1.5em;
  margin-bottom: 1em;
}
section.alert p {
  text-align:center;
  margin:1em 0;
  text-shadow:none;
}
section.alert > header h1 {
  text-align:center;
  font-size:2em;
  color:red;
  opacity:1;
  margin-top:.5em;
  margin-bottom:1em;
}
section.alert > header > img {
  width:4em;
  position:absolute;
  top:1.5em;
  left:1.5em;
}
section.alert > header > span {
  font-size:2em;
  margin-top:-.5em;
  float:right;
  color:red;
}
section.alert > header > span:hover {
  cursor:pointer;
}
section.alert > ol {
  display:none;
  list-style: circle inside;
}

#credit_card {
  display:none;
}

footer {
  height:14em;
  display:none;
  border-radius: 0 0 .5em .5em;
  padding:1em 2em 2em 2em;
  margin: -.15em 1em;
  border: .15em solid black;
  background:#FBF6F1;
  opacity:.95;
  @import box-shadow(0 0.25em 3em #333);
}
footer > section > button {
  font-size:2em;
  margin-top:1.5em;
  margin-left:4em;
}
