/*
*= require reset
*= require_self
*= require_directory ../shared
*/
body {
  color:#808080;
  border:transparent;
  background-color: transparent;
}
body * {
  text-shadow: 2px 2px 2px white;
}

section {
  outline: none;
}
body > section {
  display:none;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top: -15em;
  margin-left: -21.5em;
  opacity:.95;
}
section > h1 {
  font-size: 1.5em;
}
section.notify {
  border: .25em solid black;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background:#FBF6F1;
  -webkit-box-shadow: 0 0.25em 3em #333;
  -moz-box-shadow: 0 0.25em 3em #333;
}
section.notify * {
  -webkit-transition-property: all;
  -webkit-transition-duration:  1s;
}
section.notify > header {
  vertical-align:top;
  padding:0;
  margin:0;
}
section.notify > img {
  display:inline-block;
  margin:1.5em 1em 1em 1em;
  width:4em;
  vertical-align: top;
}
section.notify > span {
  position:absolute;
  top:1em;
  right:1em;
  font-size:2em;
  cursor:pointer;
}
section.notify > header {
  display:inline-block;
  width:22em;
  border-right:.25em solid black;
}
section.notify > header > h1 {
  margin:1em 0 0 0;
  font-size:1em;
  color:gray;

}
section.notify > header > p {
  font-size: 1.75em;
  color:red;
  display:inline-block;
  vertical-align:top;
  min-height:5.75em;
}

section.notify > aside {
  position:relative;
  display:inline-block;
}
section.notify > aside > h1 {
  font-size: 4em;
  margin: .5em;
  color:#333;
}
section.notify > aside > button {
  display:block;
  position:absolute;
  bottom:-2em;
  left: 5em;
  font-size: 1em;
  text-align:center;
  color:gray;
}
section.notify > aside > button:hover {
  color:red;
  cursor:pointer;
}

section.alert {
  -webkit-box-shadow: 0 0.25em 3em #333;
  -moz-box-shadow: 0 0.25em 3em #333;
  background-color: #FBF6F1;
  position:fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 14em;
  margin-left:-15em;
  margin-top:-14em;
  border: .25em solid red;
  -moz-border-radius: 1em;
  border-radius: 1em;
  opacity:1;
  padding:1.5em;
  margin-bottom: 1em;
}
section.alert p {
  text-align:center;
  margin:1em 0;
  text-shadow:none;
}
section.alert > header h1 {
  text-align:center;
  font-size:2em;
  color:red;
  opacity:1;
  margin-top:.5em;
  margin-bottom:1em;
}
section.alert > header > img {
  width:4em;
  position:absolute;
  top:1.5em;
  left:1.5em;
}
section.alert > header > span {
  font-size:2em;
  margin-top:-.5em;
  float:right;
  color:red;
}
section.alert > header > span:hover {
  cursor:pointer;
}
section.alert > ol {
  display:none;
  list-style: circle inside;
}

#credit_card {
  display:none;
}

footer {
  height:14em;
  display:none;
  border-radius: 0 0 .5em .5em;
  moz-border-radius: 0 0 .5em .5em;
  padding:1em 2em 2em 2em;
  margin: -.15em 1em;
  border: .15em solid black;
  background:#FBF6F1;
  opacity:.95;
  -webkit-box-shadow: 0 0.25em 3em #333;
  -moz-box-shadow: 0 0.25em 3em #333;
}
footer > section > button {
  font-size:2em;
  margin-top:1.5em;
  margin-left:4em;
  
}