html {
  background-color:#FBF6F1;
}
#sign_in {
  position:fixed;
  left:50%;
  top:50%;
  height:20em;
  width:20em;
  margin-top:-10em;
  margin-left:-10em;
}
#sign_in > span{
  position:fixed;
  top:1em;
  right:1em;
  font-size:2em;
  color:red;
  cursor:pointer;
}
