/*
*= require reset
*= require_self
*= require ../shared/animation
*/

html {
  background-color:#FBF6F1;
}
#sign_in {
  position:fixed;
  left:50%;
  top:50%;
  height:20em;
  width:20em;
  margin-top:-10em;
  margin-left:-10em;
}
#sign_in > span {
  position:fixed;
  top:1em;
  right:1em;
  font-size:2em;
  color:red;
  cursor:pointer;
}
#sign_in > h1 {
  text-align:center;
}
#sign_in {
  text-align:center;
}
#sign_in > hgroup {
  margin-bottom:1em;
}
#sign_in > hgroup > h1 {
  color:red;
  text-align:center;
  font-weight:bold;
  font-size:2em;
}
#sign_in > hgroup > nav {
  text-align:center;
}
#sign_in > #home {
  font-weight:bold;
  text-decoration: none;
  color:silver;
  font-size:2em;
}
