<section>
  <header>
    <h1>Use the badge</1>
  </header>

  <p>
    Copy the contents of this box into the content you've created
  </p>
  <textarea name="copy">
    <img style="cursor:pointer; width:222px; height:222px" src="<%=request.scheme%>://<%=request.host%>:<%=request.port%>/bookmarklet/badge.png" onclick="<%= render :partial => 'home/launcher.js' %>"/>
  </textarea>
  <footer>
    
  </footer>
</section>