<% title "Edit User" %>
<section id="account">
  <style>
    @import url("/users/design.css");
  </style>
  <script src="/users/behavior.js"></script>

  <h1>Account</h1>
    
  <%= form_for @user do |f| %>
    <input type="hidden" name="user[stripe_customer_id]" value="<%=current_user.stripe_customer_id%>">

    <fieldset>
      <label for="user_email">Email</label>
      <input type="email" id="user_email" name="user[email]" value="<%=current_user.email%>">
    </fieldset>

    <%= f.submit "Save" %>
  <% end %>

</section>