<% title "Edit User" %>
<section id="account">
  <style>
    @import url("/users/design.css");
  </style>
  <script src="/users/behavior.js"></script>

  <h1>Account</h1>
    
  <%= form_for @user do |f| %>
    <input type="hidden" name="user[stripe_customer_id]" value="<%=current_user.stripe_customer_id%>">

    <fieldset>
      <label for="user_email">Email</label>
      <input type="email" id="user_email" name="user[email]" value="<%=current_user.email%>">
    </fieldset>

    <fieldset>
      <label for="user_tip_preference_in_cents">Tip rate</label>
      <select name="user[tip_preference_in_cents]" id="user_tip_preference_in_cents">
        <option value="5">$0.05</option>
        <option value="10">$0.10</option>
        <option value="25">$0.25</option>
        <option value="50">$0.50</option>
        <option value="75">$0.75</option>
        <option value="100">$1.00</option>
        <option value="200">$2.00</option>
        <option value="300">$3.00</option>
        <option value="500">$5.00</option>
      </select>
    </fieldset>


    <%= f.submit "Save" %>
  <% end %>

</section>