<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>    
  </header>
  <hgroup>
    <h1>Your Profile</h1>
    <p><%=@user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    Copper and tempus porttitor. Maecenas sed diam eget risus variusla ndit 
    sit amet non magna. Curabitur blandit tempus porttitorumiis empus 
    porttito  sit amet non ma  sitmet non marumiis.
  </p>
</section>

<section id="stats">
  <header>
    <h1>Your stats</h1>
  </header>
  <div>
    <h2>Authors tipped</h2>
    <p>24</p>
  </div>
  <div>
    <h2>Average tip</h2>
    <p>75</p>
  </div>
  <div>
    <h2>Default tip</h2>
    <p>
      <span itemprop="tip_preference_in_cents"><%=current_user.tip_preference_in_cents%></span>
      <button>+</button>
      <button>-</button>
    </p>
  </div>
  <footer>
    <a href="/users/me/edit">Edit your settings</a>
  </footer>
</section>

<section id="tips">
  <header>
    <h1>What you've tipped</h1>
    <nav>
      <h2>filter by</h2>
      <a href="#recent">Most recent</a>
      <a href="#author">Author</a>
      <a href="#author">Site</a>
      <a href="#author">Status</a>
    </nav>
  </header>
  
  <aside>
    
  </aside>
  
  <ul id="grid">
    <li></li>
  </ul>
  
  <footer>
    <a href="/users/me/edit">Edit your settings</a>
  </footer>
</section>
