<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>    
  </header>
  <hgroup>
    <h1>Your Profile</h1>
    <p><%=@user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    Copper and tempus porttitor. Maecenas sed diam eget risus variusla ndit 
    sit amet non magna. Curabitur blandit tempus porttitorumiis empus 
    porttito  sit amet non ma  sitmet non marumiis.
  </p>
</section>

<section id="stats"></section>

<section id="tips"></section>
