body > section.notify > section {
  vertical-align:top;
  display:inline-block;
  padding: 1em;
  border-right:.15em solid gray;
  margin-right: 1em;
  min-height:12em;
}
body > section.notify > section * {
  -webkit-transition-property: all;
  -webkit-transition-duration:  1s;
}
body > section.notify > section > header {
  margin-bottom:1em;
  margin-left: 1em;
}
body > section.notify > section > header > h1 {
  font-size:2em;
}
body > section.notify > section > h2 {
  display:inline-block;
  vertical-align:top;
  margin: 0 1em 0 1em;
  font-size:1.25em;
}
body > section.notify > section > p {
  display:inline-block;
}
body > section.notify > section > p[itemprop=description] {
  font-size: 1.15em;
  width:21em;
}
body > section.notify > section > p[itemprop=url] {
  font-style: italic;
  font-size:.75em;
  display:block;
  margin-top:1em;
  margin-left:8em;
  width:21em;
}
body > section.notify > section > button {
  display:block;
  border: .15em solid gray;
  margin-top: 1em;
  margin-left: 5em;
  background-color: white;
  font-size: 1.15em;
  color:gray;
  padding: .25em 2em;
  -moz-border-radius:.25em;
  border-radius:.25em;
}
body > section.notify > section > button.display-form {
  display:none;
}
body > section.notify > section > form {
  margin-top: 1em;
  display:none;
}
body > section.notify > section > form.display-form {
  margin-top: 1em;
  display:block;
}
body > section.notify > section > form > input[type="submit"] {
  display:inline-block;
  border: .15em solid gray;
  margin-top: 1em;
  margin-left: 10.55em;
  background-color: white;
  font-size: 1.15em;
  color:gray;
  padding: .25em 2em;
  border-radius:.25em;
}
body > section.notify > section > form > input[name="save"] {
  margin-left:1em;
}
body > section.notify > section > form > fieldset > label {
  display:inline-block;
  vertical-align:top;
  margin: 0 1em 0 .65em;
  font-size:1.25em;
}
body > section.notify > section > form > fieldset > textarea {
  border: .15em solid gray;
  font-size:1em;
  margin:0;
  width:23em;
  height:4em;
  color:gray;
}
