<%-cache do-%>
<form method="put" action='/users/me' accept-charset="UTF-8">
  <input itemprop="payable_to" name='user[payable_to]' type="text" placeholder="Your Name/Company Name" required>
  <input itemprop="line1" name='user[line1]' type="text" placeholder="Street Address" required>
  <input itemprop="line2" name='user[line2]' type="text" placeholder="Street Address 2" >
  <input itemprop="city" name='user[city]' type="text" placeholder="City/Town" required>
  <input itemprop="postal_code" name='user[postal_code]' type="text" placeholder="Postal Code" required>
  <fieldset>
    <select itemprop='country_code' name="user[country_code]">
      <option value="" disabled selected>Select Country</option>
      <option value="<%=Country.named('United States').code%>"><%=Country.named('United States').name%></option>
      <%-Country.all.each do |country|-%>
        <option value="<%=country.code%>"><%=country.name%></option>
      <%-end-%>
    </select>
  </fieldset>
  <input type="submit" value="Save"/>
  <p class="help">So we can pay you</p>
</form>

<%-end-%>