<section id='credit_card'>
  <h1>Let's take care of some business</h1>
  <!-- 4242424242424242 test approved-->
  <!-- 4000000000000002 test declined-->

  <%= render :partial => 'shared/order_info', :object => current_user.current_order %>
</section>
