<% if current_user %>
  <style>
    @import url(/dashboard/design.css);
  </style>
  <aside id="account" itemscope="true" itemtype="http://dirtywhitecouch.com/user#account">
    <h1>Fund</h1>
    <dl>
      <dt>Tips</dt>
      <dd itemprop="tips"><%= link_to current_user.active_tips.count, tips_path %></dd>
      <dt>Rate</dt>
      <dd itemprop="rate">
        $<%= cents_to_dollars(current_user.tip_preference_in_cents) %>
      </dd>
      <dt>Balance</dt>
      <dd itemprop="balance">$<%= cents_to_dollars(current_user.active_tip_total_in_cents) %></dd>
    </dl>
  </aside>
<% end %>