<% if current_user %>
  <%-content_for :head do-%>
    <%= javascript_include_tag "shared/dashboard" %>
  <%-end-%>
  <aside itemscope="true" itemtype="order">
    <dl>
      <dt>Tips</dt>
      <dd itemprop="tips"><%= current_user.active_tips.count %></dd>
      <dt>Rate</dt>
      <dd itemprop="rate">
       <form id="tip_rate" method="put" action="<%=user_url(current_user)%>" accept-charset="UTF-8">
          <input name="authenticity_token" type="hidden">
          <select name="user[tip_preference_in_cents]" id="user_tip_preference_in_cents">
            <option value="5">$0.05</option>
            <option value="10">$0.10</option>
            <option value="25">$0.25</option>
            <option value="50">$0.50</option>
            <option value="75">$0.75</option>
            <option value="100">$1.00</option>
            <option value="200">$2.00</option>
            <option value="300">$3.00</option>
            <option value="500">$5.00</option>
            <option value="1000">$10.00</option>
            <option value="2000">$20.00</option>
          </select>
        </form>
      </dd>
      <dt>Balance</dt>
      <dd itemprop="balance">$<%= cents_to_dollars(current_user.active_tip_order.subtotal) %></dd>
    </dl>
  </aside>
<% end %> 