<section id="extensions">
  <p>
    Click your browser's logo below to install your button.
  </p>

  <figure id="firefox">
    <a href="/extensions/DirtyWhiteCouch.xpi"
      iconURL="/graphics/firefox.png"
      hash="sha1:fb518527f3fb64a03abafd390b92722681a65725">
      <img src="/graphics/firefox.png"></a>

    <figcaption>Firefox</figcaption>
  </figure>
  <figure>
    <a href="/extensions/DirtyWhiteCouch.com.crx"><img src="/graphics/chrome.png"></a>
    <figcaption>Chrome</figcaption>
  </figure>
  <figure>
    <a href="/DirtyWhiteCouch.com.safariextz"><img src="/graphics/safari.png"></a>
    <figcaption>Safari</figcaption>
  </figure>
  <hr>
  <figure id="bookmarklet">
    <a href="<%= render :partial => 'tips/wrapped_launcher.js' %>">IOU</a>
    <p>
       Alternatively you can drag the <a class="wtf" href="http://en.wikipedia.org/wiki/Bookmarklet"  target="new" title="what the hell is a bookmarklet">bookmarklet</a>
       to your bookmarks toolbar
    </p>
    <figcaption>bookmarklet</figcaption>
  </figure>
</section>
<script type="application/javascript">
  $("#firefox > a").click(function(){
    var params = {
      "Foo": { URL: this.href,
               IconURL: this.getAttribute("iconURL"),
               Hash: this.getAttribute("hash"),
               toString: function () { return this.URL; }
      }
    };
    InstallTrigger.install(params);
    return false;
  });
</script>