<section id="extensions">
  <p>
    click the link to install your button. Installing these will make 
    tipping content you enjoy super simple
  </p>
  <p>
    Alternatively you can drag the bookmarklet (the one with the IOU) to your bookmarks bar to tip pages
  </p>
  <figure>
    <a href="/extensions/DirtyWhiteCouch.xpi"><img src="/graphics/firefox.png"></a>
    <figcaption>Firefox</figcaption>
  </figure>
  <figure>
    <a href="/extensions/DirtyWhiteCouch.com.crx"><img src="/graphics/chrome.png"></a>
    <figcaption>Chrome</figcaption>
  </figure>
  <figure>
    <a href="/extensions/DirtyWhiteCouch.com.safariextz"><img src="/graphics/safari.png"></a>
    <figcaption>Safari</figcaption>
  </figure>
  <figure id="bookmarklet">
    <a id="dirtywhitecouch" href="<%= render :partial => 'tips/wrapped_launcher.js' %>" tabindex="1" accesskey="p">IOU</a>
    <figcaption>bookmarklet</figure>
  </figure>
</section>
