<% if current_user %>
  <hgroup>
    <h1><%= current_user.name %></h1>
    <nav>
      <%= link_to "tips", tips_path %>
      <a href="/users/current">account</a>
      <%= link_to "signout", signout_path %>
    </nav>
  </hgroup>
<% else %>
  <hgroup>
    <h1>Sign In With</h1>
    <nav>
      <a id="twitter_sign_in" href="/auth/twitter"><img src="/graphics/twitter_64.png" alt="Sign in with twitter"></a>
      <a id="facebook_sign_in" href="/auth/facebook"><img src="/graphics/facebook_64.png" alt="Sign in with facebook"></a>
      <a id="google_sign_in" href="/auth/google"><img src="/graphics/google_64.png" alt="Sign in with google"></a>
    </nav>
  </hgroup>
<% end %>
<script type="text/javascript" charset="utf-8">
  $("nav > a > img").click(function(event){
    $(this).addClass("working");
  });
</script>
<style type="text/css" media="screen">
  @import url("/design/sign_in.css");
</style>