<% if current_user %>
  <hgroup>
    <h1><%= current_user.name %></h1>
    <nav>
      <%= link_to "tips", tips_path %>
      <a href="/users/current">account</a>
      <%= link_to "signout", signout_path %>
    </nav>
  </hgroup>
<% else %>
  <hgroup>
    <h1>Sign In With</h1>
    <nav>
      <a href="/auth/twitter"><img src="/graphics/twitter_64.png" alt="Sign in with twitter"></a>
      <a href="/auth/facebook"><img src="/graphics/facebook_64.png" alt="Sign in with facebook"></a>
      <a href="/auth/google"><img src="/graphics/google_64.png" alt="Sign in with google"></a>
    </nav>
  </hgroup>
<% end %>

<script type="text/javascript" charset="utf-8">
  $("nav > a > img").click(function(event){
    $(this).addClass("working");
  });
</script>
<style type="text/css" media="screen">
  .working {
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         0.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: ease-out;

    -moz-animation-name:             rotate;
    -moz-animation-duration:         0.5s;
    -moz-animation-iteration-count:  infinite;
    -moz-transition-timing-function: ease-out;
  }

  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-moz-keyframes rotate {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
</style>