<section id="about_us">
  <style type="text/css" media="screen">

    #about_us {
      display:block;
      width:55em;
      padding: 0 .25em;
      margin-bottom:3em;
    }
    #about_us > article {
      display:inline-block;
      width: 30em;
    }
    #about_us > article > h1 {
      font-size:2em;
      margin-bottom:1em;
    }
    #about_us > article > p {
      font-size:1.25em;
      margin-bottom:.75em;
      line-height:1.25em;
    }
    #about_us > figure {
      vertical-align:top;
      margin-top:5em;
      display:inline-block;
      margin-left: 4em;
    }
    #about_us > figure img {
      border-radius: 1em;
      -webkit-box-shadow: 0 .75em 1.75em silver;
      -moz-box-shadow: .75em .75em 1.75em silver;
    }
  </style>
  <article>
    <h1>About Us</h1>
    <p>
      We're a team of three people that want to hook-up people for doing
      their jobs - and the way we're doing this is by making it easy
      to tip.
    </p>
    <p>
      Furthermore, while we support the "free" internet and the people
      that make it, we also know that bills need to get paid and that
      tips are always appreciated.
    </p>
    <p>
      So DWC was born and it is our hope you will join us (as a Fan)
      to pay it forward to those that are creating worthy content (Authors).
      These Authors can do any type of work - the only requirement is their
      having a web page and a bank account.
    </p>
    <p>
      Why did we name it Dirty White Couch? It's where the idea was conceived and the
      application was built.
    </p>
  </article>
  <figure>
    <img src="/graphics/couch_2_300.png">
  </figure>
</section>
