<%-content_for :head do-%>
  <title>About Us - Copper.</title>
<%-end-%>
<section id="about_us">
  <article>
    <h1>About Us</h1>
    <p>
      We're a team of people that want to pay people for doing
      their jobs - and <a href="/how">the way</a>
      we're doing this is by making it easy to tip.
    </p>
    <p>
      We support the "free" internet and the people that make it, we
      also know that bills need to get paid and that tips are always
      appreciated.
    </p>

    <p>
      It is our hope you will join us (as a Fan) to pay those who
      are creating worthy content (Authors). Whether it’s five cents
      or five dollars, it's our job to connect you to these Authors
      no matter what the work - the only requirement is they have a
      web page and a bank account.
    </p>
  </article>
</section>
