<section id="about_us">
  <article>
    <h1>About Us</h1>
    <p>
      We're a team of three people that want to hook-up people for doing
      their jobs - and the way we're doing this is by making it easy
      to tip.
    </p>
    <p>
      Furthermore, while we support the "free" internet and the people
      that make it, we also know that bills need to get paid and that
      tips are always appreciated.
    </p>
    <p>
      So DWC was born – it is our hope you will join us (as a Fan)
      to pay it forward to those that are creating worthy content (Authors).
      These Authors can do any type of work - the only requirement is their
      having a web page and a bank account.
    </p>
    <p>
      Why did we name it DirtyWhiteCouch? It's where the idea was conceived and the
      application was built.
    </p>
  </article>
  <figure>
    <img src="/graphics/couch/3.png">
  </figure>
</section>
