<html>
  <head>
    <title>dirtywhitecouch.com - bookmarklet</title>
    <style>
      @import url("/design/reset.css");
      @import url("/agent/design.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <script src="/behavior/message.en.js"></script>
    <script src="/agent/behavior.js"></script>
    <script src="/bookmarklet/behavior.js"></script>
  </head>
  <body>
    <section class="notify"></section>
    <section class="workflow"></section>
    <section class="alert">
      <header>
        <span>X</span>
        <h1>Alert</h1>
      </header>
      <ol></ol>
    </section>
  </body>
</html>