<%-content_for :head do-%>
  <title>Author Profile - Copper.</title>
<%-end-%>
<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>
  </header>
  <hgroup>
    <h1>Your pages</h1>
    <p><%=@current_user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    Hi <%=@current_user.name%>! On this page, 
    you can see what content your fans are connecting with
    and the tips they’ve sent to show their appreciation.
    Also look at other cool metrics on this page -- 
    like which types of content people are responding 
    to the most.
  </p>
</section>
<section id="stats">

  <header>
    <h1>Your stats</h1>
  </header>
  <div>
    <h2>Tip count</h2>
    <p><%=@pages.sum(:tips_count)%></p>
  </div>
  <div>
    <h2>Tips sent</h2>
    <p>75</p>
  </div>
  <div>
    <h2>Tips pending</h2>
    <p>5</p>
  </div>
  <div>
    <h2>highest tip</h2>
    <p>$10.25</p>
  </div>
  <div>
    <h2>Average tip</h2>
    <p>$0.75</p>
  </div>
  <div>
    <h2>Total tips</h2>
    <p>$6.12</p>
  </div>
</section>
<nav>
  <a href="/settings">Edit your settings</a>
</nav>
