<style type="text/css" media="screen">
  #badge * {
/*    outline: 2px solid gray;*/
  }
  body > aside {
    display:inline-block;
  }
  body > aside > img {
    margin-top:3em;
    border-radius:.5em;
    -webkit-box-shadow: 0 .75em 1.75em silver;
    -moz-box-shadow: 0 .75em 1.75em silver;
  }
</style>
<script src="/behavior/jquery.tmpl.js"></script>
<script src="/behavior/badge.js"></script>

<section id="badge">
  <header>
    <h1>Authors, use the badge on your site</h1>
    <p>
      Help spread the word by including our badge on pages you've created.
    </p>
    <p>
      First select the kind of badge you want. Then press  "copy to clipboard".
      You can then paste the code into any pages you'd like to see tipped.
    </p>
    <form>
      <label for="type">Logo Type</label>
      <select name="type" id="type" size="1">
        <option value="iou">IOU</option>
        <option value="name">dirtywhitecouch</option>
      </select>

      <label for="color">Color</label>
      <select name="color" id="color" size="1">
        <option value="red">red</option>
        <option value="grey">grey</option>
        <option value="black">black</option>
      </select>

      <label for="size">size</label>
      <select name="size" id="size" size="1">
        <option value="50">50px</option>
        <option value="100">100px</option>
        <option value="200" selected>200px</option>
        <option value="300">300px</option>
      </select>
    </form>
  </header>

  <figure>

    <figcaption>Copy to clipboard</figcaption>
  </figure>
  <script id="badge_template" type="text/x-jquery-tmpl">
    <img style="cursor:pointer; width:${size}px;"
      src="<%=request.scheme%>://<%=request.host%>:<%=request.port%>/graphics/logo/${type}/${color}.png"
      onclick="<%= render :partial => 'tips/launcher.js' %>"/>
  </script>


</section>
<aside>
  <img src="/graphics/couch/4.png" alt="a couch">
</aside>