<section id="blog">
  <style type="text/css" media="screen">
    #blog {
      width: 56em;
    }

    #blog > article {
      display: inline-block;
      width:30em;
      margin-bottom: 1em;
    }

    #blog > article > h1 {
      font-size:2em;
      margin-bottom: 1em;
    }
    #blog > article p {
      font-size:1.25em;
      line-height:1.25em;
      margin-bottom:1em;
    }
    #blog > figure {
      width:20em;
      vertical-align:top;
      margin-top:4em;
      display:inline-block;
      margin-left: 3em;
    }
    #blog > figure img {
      border-radius: 1em;
      -webkit-box-shadow: 0 .75em 1.75em silver;
      -moz-box-shadow: 0 .75em 1.75em silver;
    }
  </style>
  <article>
      <h1 id='hello_world'>Hello world</h1>

      <p>
        I have this neighbor Carmen. She's from San Francisco,
        like really from San Francisco. Her grandmother was
        in the 1906 earthquake. She lives one floor down from me.
        In the 50's she would ride the bus with her brother and sister.
        They're light skinned. The bus driver wouldn't let them sit
        together. Carmen would have to ride in the back.
      </p>
      <p>
        I like carmen. She's lived in the same apartment
        below and to the right of me for damn near 30 years.
        she raised a family there. By her self.
      </p>
      <p>
        About once a week she knocks on my door. She needs help
        with bringing in a chair, or moving some rocks from her
        trunk to the back yard (It's always wet back there and
        nothing grows, but she takes care of it anyway). Afterwards,
        and sometimes right then, she gives me food. It's rad.
        I get to feel like I helped, and she doesn't owe anybody anything.
      </p>
      <footer>
        Scott Fryxell <br/>
        December 19 2010.
      </footer>
  </article>
  <figure>
    <img src="/graphics/couch/2.png" >

  </figure>

</section>