<section>
  <style type="text/css" media="screen">
    body > section {
      width: 30em;
    }
    body > section > article > h1{
      font-size:2em;
      margin-bottom: 1em;
    }
    p {
      font-size:1.25em;
      margin-bottom:1em;
    }

    ul {
      margin-left: 2em;
      font-size: 1.5em;
    }
    ul > li {
      list-style: circle outside;
      margin-bottom: .75em;
    }
  </style>
  <article>
      <h1 id='hello_world'>Hello world</h1>
  </article>


</section>