<section>
  <style type="text/css" media="screen">
    body > section {
      width: 30em;
    }
    body > section > article > h1{
      font-size:2em;
      margin-bottom: 1em;
    }
    p {
      font-size:1.25em;
      margin-bottom:1em;
    }
    
    ul {
      margin-left: 2em;
      font-size: 1.5em;
    }
    ul > li {
      list-style: circle outside;
      margin-bottom: .75em;
    }
  </style>
  <article>
      <h1 id='hello_world'>Hello world</h1>
  </article>
  <article style="display:none">

    <p>
      Who the hell are we? 
    </p>

    <h1>The web is a free medium</h1>
    <p>
      The web was imagined and designed to be a place where 
      information moves freely from one individual to another.
    </p>
    
    <h1>We're all into free</h1>
    
    <p>
      It's because of this freedom of information to 
      travel that the web is as successful as it is. 
      It seems strange to us that publishers are 
      accusing people who use the web exactly the 
      way it was designed to be thieves and immoral. 
    </p>

    <h1>The television model does not apply.</h1>
    <p>
      Publishers loved the world before broadband. 
      they had total control of how content was distributed. 
      
      they layed the wires built the infrastucture and 
      centrally controlled how and what was made 
      available for their customers recieved content. 
      
    </p>`

    <h1>Digital content costs nothing to distribute</h1>

    <h1>We're are paying for creativity, not distribution</h1>

    <h1 id="a_service_that_gives_people_control">
      A service that gives people control
    </h1>

    <ul>
      <li>Individual tip amounts</li>
      <li>One click</li>
      <li>Any URL</li>
      <li>Trust the audience</li>
    </ul>
  </article>

</section>