<% content_for :head do %>
  <title>Blog - copper.is</title>
<% end %>

<section id="blog">
  <article id="how_copper_works">
    <header>
      <h1>How copper works</h1>
      <time datetime="2011-10-26T10:57:50-07:00"/>
    </header>

    <h2>For the Fan</h2>

    <p> A Fan signs in with in with Twitter, Facebook or Google, then installs
    the <a href="/button">Tip button</a> into their browser's toolbar. By
    default tips are 50 cents.</p>

    <p>From the account page a Fan can set their preferences such as tip
    amount, giving DWC their credit card information, and agreeing to our
    terms<p>

    <p>Now the Fan is free to tip anyone, any amount, any time they want.<p>

    <p>Once the Fan has used the service for a month and has made over $10 in
    tips, DWC asks them to put their $ where their mouth is and be billed for
    the tipping they have done.</p>


    <p>After this Fans are billed monthly if they tip $10 or more. Following
    each charge to the Fan's credit card, an email notification will be
    sent.</p>

    <p>At this point, DWC forwards the tip onto the recipient of the tip
    (Author)...and it works like this:</p>

    <h2>For the Author</h2>

    <p> When the Author has been tipped $10, DWC notifies them with an email.
    If the Author wants to collect their $, they go to DWC, register and set
    up their account. </p>

    <p>At this point their DWC account will automatically make a deposit into
    their checking account quarterly. Funds that are not collected by Author
    will be returned to the Fan's account to re-tip after 2 years.</p>

    <p>The cycle is now complete...Fan has tipped Author for their job well
    done.</p>

    <h2>How DWC gets paid:</h2>

    <p>DWC takes a commission of 10% of all tips made by Fans. Billing of the
    Fan's credit card will only occur if more than $10 has been tipped.</p>
    
     <h2>Discussion of Badges:</h2>

    <p>If you're an Author that wants to get paid for doing your job, you can
    easily add a DWC Badge to your webpage. Just go to the <a
    href="/authors">Authors</a> page and select the type and size of the Badge
    you want. Then copy the html shown and add it to pages that you would like
    to see tipped. At this point, the Author is good to go and all people who
    hit that Badge will be tipping the Author directly.</p>

  </article>
  <figure>
    <%= image_tag "logo/copper/logo_copper_cent_LG.png" %>
  </figure>
  <article id='hello_world'>
    <header>
      <h1>Hello world</h1>
      <time datetime="2010-12-19T10:56:12-07:00"/>
    </header>
    <p>
      I have this neighbor Carmen. She's from San Francisco,
      like really from San Francisco. Her grandmother was
      in the 1906 earthquake. She lives one floor down from me.
      In the 50's she would ride the bus with her brother and sister.
      They're light skinned. The bus driver wouldn't let them sit
      together. Carmen would have to ride in the back.
    </p>
    <p>
      I like Carmen. She's lived in the same apartment below and
      to the right of me for damn near 30 years. She raised
      a family there – by herself.
    </p>
    <p>
      About once a week she knocks on my door. She needs help
      with bringing in a chair, or moving some rocks from her
      trunk to the back yard (It's always wet back there and
      nothing grows, but she takes care of it anyway). Afterwards,
      and sometimes right then, she gives me food. It's rad.
      I get to feel like I helped, and she doesn't owe anybody anything.
    </p>
    <footer>
      Scott Fryxell
    </footer>
  </article>
</section>