<% content_for :head do %>
  <title>DirtyWhiteCouch: Install the Button</title>
<% end %>

<section id="button">
  <h1>Install the Tip button</h1>
  <%= render :partial => 'shared/extensions' %>  
</section>
