<%-cache do-%>
<% content_for :head do %>
  <title>Install the Button - Copper.</title>
<% end %>

<section id="button">
  <h1>Install the Tip button</h1>

  <p>
    When installing browser extensions (from Copper or anyone) -
    you may see warnings about potentially unsafe software. Our code is
    <a href="https://github.com/scott-fryxell/copper_extension"
        title="we built this city">open source</a> and focused
    exclusively on tipping and we will never mess with your computer
    or try and harvest your personal information.
  </p>

  <p>
    If you are unsure about installing the Tip button
    above as an extension, you can also drag this
    <a class="wtf" href="http://en.wikipedia.org/wiki/Bookmarklet"
      target="new" title="what the hell is a bookmarklet">bookmarklet</a>
    to your Bookmarks Bar and the same functionality applies.
  </p>

  <figure >
    <a href="<%= render :partial => 'home/wrapped_launcher', :formats => [:js] %>">¢opper</a>
    <figcaption>bookmarklet</figcaption>
  </figure>

</section>
<%-end-%>
