<% title "browser extensions" %>
<style type="text/css" media="screen">
  body > h1 {
    margin-left:.75em;
    margin-bottom:1em;
    font-size:2em;
  }
</style>
<h1>Install The tip button</h1>
<%= render :partial => 'shared/extensions' %>