<style type="text/css" media="screen">
  p{
    margin:.5em;
  }
  section#contact {
    font-size:1.25em;
    display:block;
    width:11em;
    margin: 1em auto 1em auto;
    padding:1em;
    line-height:1.25em;
    min-height:12em;
  }
</style>
<section id="contact">
  <p><a href="mailto:us@dirtywhitecouch.com?subject=what up">us@dirtywhitecouch.com</a></p>
  <address>
    <p>591a dolores st </p>
    <p>San Francisco CA 94110</p>
  </address>
</section>