<style type="text/css" media="screen">
  p {
    margin:.25em;
  }
  section#contact {
    font-size:1.25em;
    display:block;
    width:13em;
    margin: 1em auto 1em auto;
    padding:1em;
    line-height:1.25em;
    min-height:12em;
  }
  section#contact > address {
    margin-top:2em;
  }
</style>
<section id="contact">
  <p><a href="mailto:us@dirtywhitecouch.com?subject=what up">us@dirtywhitecouch.com</a></p>
  <address>
    <p>
      FasterLighterBetter, Inc. (d.b.a. DirtyWhiteCouch)
    </p>
    <p>591a Dolores Street</p>
    <p>San Francisco, CA 94110</p>
  </address>
</section>