<%-content_for :head do-%>
  <title>Contact Us - Copper</title>
<%-end-%>
<section id="contact">
  <p><a href="mailto:us@copper.is?subject=what up">us@copper.is</a></p>
  <address>
    <p>
      FasterLighterBetter, Inc. (d.b.a. Copper)
    </p>
    <p>414 Brannan Street</p>
    <p>San Francisco, CA 94107</p>
  </address>
</section>