<%-content_for :head do-%>
  <title>DirtyWhiteCouch: Contact Us</title>
<%-end-%>
<section id="contact">
  <p><a href="mailto:us@dirtywhitecouch.com?subject=what up">us@dirtywhitecouch.com</a></p>
  <address>
    <p>
      FasterLighterBetter, Inc. (d.b.a. DirtyWhiteCouch)
    </p>
    <p>591a Dolores Street</p>
    <p>San Francisco, CA 94110</p>
  </address>
</section>