<%-cache do-%>
<section id="faq">
  <header><h1>Frequently asked questions. </h1></header>
  <article id="fans">
    <header>
      <h2>For Fans</h2>
    </header>
    <dl>
      <dt>Who can I tip?</dt>
      <dd>Anyone! Everyone! You can tip tumblrs, facebook and 
      twitter users, bloggers, youtube and vimeo video auteurs, 
      Soundcloud artists, Github coders and more. Any page can be tipped.</dd>

      <dt>Is there a minimum amount of tipping I need to do?</dt>
      <dd>There is not a minimum. At Copper we are all about making
      it as easy as possible for you to support the online content
      that you appreciate. We trust that you can make your own 
      decisions about how much you want to tip someone.</dd>

      <dt>How do I decide how much to tip someone?</dt>
      <dd>We want fans to set their own value for the content they
      enjoy. When you set up your Copper profile you set your 
      default tip. This default can be changed at any time by
      going into your settings. </dd>

      <dt>Does it cost money to use Copper?</dt>
      <dd>We charge you 10% for the service. So for example,
      if you tip someone a dollar, you will be charged $1.10.</dd>

      <dt>Is it possible to change the amount of a tip?</dt>
      <dd>Yes. Tips are in a pending status until you are billed. 
      Prior to billing you can change the amount of a tip or 
      cancel it entirely. Making changes to tips can be done 
      on your profile page. </dd>

      <dt>How will I be billed?</dt>
      <dd>We bill weekly, which means that every week we tally
      up your tips and charge your credit card for that particular 
      amount.</dd>

      <dt>Will I get a receipt for the tips I am billed for?</dt>
      <dd>Yes. Once you are billed (weekly) you will receive a 
      receipt via email with an itemized list of tips that you 
      made.</dd>

      <dt>How do you find the people that I tip?</dt>
      <dd>There are three routes that we take to find people who 
      have been tipped. First we determine if the page is one of 
      the nine providers that Copper is integrated with. The next 
      step is to check for an author tag (essentially html code 
      that says who authored the page ). If one isn’t found we 
      then determine the author based on follow me links such 
      as Facebook Twitter, Tumblr, Google+.</dd>

      <dt>Will the people I tip know it was me who tipped them?</dt>

      <dd>No. Copper treats all tips as anonymous. We want creators 
      to focus on their work, and fans to feel comfortable tipping 
      whatever they like. That being said, we do encourage fans to 
      share what they have been tipping through their social 
      networks.</dd>

      <dt>What happens to my tips if they aren’t collected?</dt>
      <dd>We keep tips active for three months. If someone does not
      claim their tips within that time frame we refund the amount 
      back to you.</dd>

      <dt>Does Copper share any of my data?</dt>
      <dd>Absolutely not! Our focus is really clear: giving people
      the opportunity to support the online content that they love.
      We are not interested in amassing data and selling it to the 
      highest bidder. Our business model is simple and straightforward 
      and is based exclusively on commissions on tips.</dd>
    </dl>
    <footer></footer>
  </article>

  <article id="creators">
    <header><h2>For Creators</h2></header>
    <dl>
      <dt>How do I cash in on the tips I receive?</dt>
      <dd>Once you have been tipped we will contact you, sign you up and
      get you set up to be paid. Tips are paid on a monthly basis.</d>

      <dt>If someone tips me do I have to join Copper?</dt>
      <dd>Yes. In order for us to get your tips to you we need to verify 
      that you are in fact the creator of the page that was tipped.</dd>

      <dt>It’s a three step process.</dt>
      <dd>
        <ol>
          <li>Sign in to the particular account that we contacted you at (Facebook, Twitter, etc.)</li>
          <li>Provide us with your email address.</li>
          <li>Let us know where you want your check sent (direct deposit coming soon).</li>
        </ol>
      </dd>
    </dl>
    <footer></footer>
  </article>
</section>
<%-end-%>