<%-cache do-%>
<%-content_for :head do-%>
  <title>Frequently Asked Questions - Copper.</title>
<%-end-%>
<section id="faq">
  <h1 id="frequently_asked_questions">Frequently asked questions</h1>
  <article>
    <header>
      <h1>using chrome to tip a url. without being signed in.</h1>
    </header>
    <p>
      
    </p>
    <footer>
      
    </footer>
  </article>
  
</section>
<%-end-%>