<section id="faq">
  <article>
    <header>
      <h1>using chrome to tip a url. without being signed in.</h1>
    </header>
    <p>
      
    </p>
    <footer>
      
    </footer>
  </article>
  
</section>