<% content_for :head do %>
  <title>how it works - copper.is</title>
<% end %>

<section id="blog">
  <article id="how_copper_works">
    <header>
      <h1>How copper works</h1>
      <time datetime="2011-10-26T10:57:50-07:00"/>
    </header>

    <h2>For the Fan</h2>

    <p> A Fan signs in with in with Twitter, Facebook or Google, then installs
    the <a href="/button">Tip button</a> into their browser's toolbar. By
    default tips are 50 cents.</p>

    <p>From the account page a Fan can set their preferences such as tip
    amount, giving Copper their credit card information, and agreeing to our
    terms<p>

    <p>Now the Fan is free to tip anyone, any amount, any time they want.<p>

    <p>Once the Fan has used the service for a month and has made over $10 in
    tips, Copper asks them to put their $ where their mouth is and be billed for
    the tipping they have done.</p>


    <p>After this Fans are billed monthly if they tip $10 or more. Following
    each charge to the Fan's credit card, an email notification will be
    sent.</p>

    <p>At this point, Copper forwards the tip onto the recipient of the tip
    (Author)...and it works like this:</p>

    <h2>For the Author</h2>

    <p> When the Author has been tipped $10, Copper notifies them with an email.
    If the Author wants to collect their $, they go to Copper, register and set
    up their account. </p>

    <p>At this point their Copper account will automatically make a deposit into
    their checking account quarterly. Funds that are not collected by Author
    will be returned to the Fan's account to re-tip after 2 years.</p>

    <p>The cycle is now complete...Fan has tipped Author for their job well
    done.</p>

    <h2>How Copper gets paid:</h2>

    <p>Copper takes a commission of 10% of all tips made by Fans. Billing of the
    Fan's credit card will only occur if more than $10 has been tipped.</p>
    
    <h2>Discussion of Badges:</h2>

    <p>If you're an Author that wants to get paid for doing your job, you can
    easily add a Copper Badge to your webpage. Just go to the <a
    href="/authors">Authors</a> page and select the type and size of the Badge
    you want. Then copy the html shown and add it to pages that you would like
    to see tipped. At this point, the Author is good to go and all people who
    hit that Badge will be tipping the Author directly.</p>

  </article>
  <figure>
    <%= image_tag "logo/copper/logo.svg" %>
  </figure>
</section>