
  <section>
    <style type="text/css" media="screen">
      @import url(/design.css);
    </style>
    <script src="/behavior.js"></script>
    <header>
      <figure>
        <img src="/graphics/person.png" alt="dirtywhitecouch.com logo"/>
      </figure>
      <hgroup id="call_to_action">
        <h2>Pay</h2>
        <ul>
          <li>people</li>
          <li>artists</li>
          <li>developers</li>
          <li>bands</li>
          <li>veterans</li>
          <li>bloggers</li>
        </ul>
        <h2>for doing their job</h2>
      </hgroup>
    </header>
    <article>
      <p>
        DirtyWhiteCouch is a service that makes supporting the work you enjoy
        easy. with it you can tip any page on the web.
      </p>
      <p>
        We want to enable the purest kind of caring online. All tips are anonymous.
        There is no advertising. It's about being quiet.
      </p>
      <h2>Setting it up is simple</h2>
      <ul>
        <li>Sign In</li>
        <li>Drag the bookmarklet to your toolbar</li>
        <li>Click on it when you connect with something online</li>
        <li>we'll find them and let them know</li>
      </ul>
      <p>
        Please use the service as much or as little as you'd like.
      </p>
    </article>
    <figure>
      <figcaption>the couch</figcaption>
      <img src="/graphics/couch_300.png">
    </figure>
  </section>
