<section>
  <script src="/behavior/jquery.cookie.js" type="text/javascript" charset="utf-8" async="true"></script>
  <script src="/behavior.js" type="text/javascript" charset="utf-8" async="true"></script>
  <style type="text/css" media="screen">
    @import url(/design.css);
  </style>
  <% if current_user %>
  <% else%>
    <header>
      <span>X</span>
      <figure accesskey="l" tabindex="2" id="weave_logo">
        <img src="/graphics/person.svg" alt="weave logo"/>
      </figure>
      <%= rpx_embed( :app_name => 'dirtywhitecouch', :return_url => user_sessions_url) %>
    </header>
  <% end %>

</section>
