<section>
  <script src="/behavior/jquery.cookie.js" type="text/javascript" charset="utf-8" async="true"></script>
  <script src="/behavior.js" type="text/javascript" charset="utf-8" async="true"></script>
  <style type="text/css" media="screen">
    @import url(/design.css);
  </style>
  <% if current_user %>
  <% else%>
    <header>
      <span>X</span>
      <figure accesskey="l" tabindex="2" id="weave_logo">
        <img src="/graphics/person.svg" alt="weave logo"/>
      </figure>
      <%= rpx_embed( :app_name => 'dirtywhitecouch', :return_url => user_sessions_url) %>
    </header>

    <p>
      Weave is a tipping service. We made it for that moment of joy
      right after you've finished watching a video, a really <a href="">great video</a>.
    </p>
    <p>
      More then just videos, weave works for any page on the web.
      <a href="http://daringfireball.net/">blogs</a>,
      <a href="http://defianceohio.terrorware.com/audio/">music</a>, web comics,
      <a href="http://tofuttibreak.tumblr.com/">general weirdness</a>,
      the list is kinda endless.
    </p>
    <h2>Using the service is simple</h2>
    <ul>
      <li>Sign in</li>
      <li>Drag the bookmark to your toolbar</li>
      <li>Authorize us to use your PayPal account</li>
    </ul>
    <p>
      You can use the service as much or as little as you'd like.
      We'll take care of finding and paying the artist.
    </p>
  <% end %>


</section>
