<section>
  <script src="/behavior/jquery.cookie.js" type="text/javascript" charset="utf-8" async="true"></script>
  <script src="/behavior.js" type="text/javascript" charset="utf-8" async="true"></script>
  <style type="text/css" media="screen">
    @import url(/design.css);
  </style>
  <% if current_user %>
  <% else%>
    <header>
      <span>X</span>
      <h1>
        See something cool on the internets? Tip it
      </h1>
      <figure accesskey="l" tabindex="2" id="weave_logo">
        <img src="/graphics/person.svg" alt="weave logo"/>
      </figure>
      <a href="/login">Get Started <span> ➠</span></a>
    </header>
  <% end %>
  <%= render :partial => 'shared/search_form' %>
  <%= render :partial => 'pages' %>
</section>