<%-cache do-%>
<%-content_for :head do-%>
  <title>copper</title>
  <%= javascript_include_tag "home/index" %>
<%-end-%>
<section id="home">
  <header>
    <hgroup id="call_to_action">
      <h2>Pay</h2>
      <ul>
        <li>people</li>
        <li>artists</li>
        <li>developers</li>
        <li>bands</li>
        <li>people</li>
        <li>veterans</li>
        <li>bloggers</li>
        <li>directors</li>
        <li>anyone</li>
      </ul>
      <h2>for their work</h2>
    </hgroup>
  </header>
  <article>
    <p>
      Copper is a service that makes it easy to support the work
      you enjoy. With it you can tip any page on the web.
    </p>
    <p>
      It's our mission to feed the currency of appreciation. All tips are
      anonymous. You can tip as much or as little as you like. 
    </p>
    <h2>Getting started is simple</h2>
    <ul>
      <li>Sign In</li>
      <li>
        Install the Tip button
        <a href="/button">
          <%= image_tag "logo/copper/bookmarklet.png" %>
        </a>
      </li>
      <li>Click it to tip someone</li>
    </ul>
  </article>
  <figure>
    <figcaption>Out logo</figcaption>
    <%= image_tag "logo/copper/logo.svg" %>
  </figure>
</section>
<%-end-%>
