
  <section>
    <style type="text/css" media="screen">
      @import url(/design.css);
    </style>
    <script src="/behavior/jquery.cookie.js" type="text/javascript" charset="utf-8" async="true" defer="true"></script>
    <script src="/behavior.js" type="text/javascript" charset="utf-8" async="true" defer="true"></script>
    <header>
      <span>X</span>
      <figure>
        <img src="/graphics/person.png" alt="dirtywhitecouch.com logo"/>
      </figure>
      <% if !current_user %>
        <%= rpx_embed( :app_name => 'dirtywhitecouch', :return_url => user_sessions_url) %>
      <% end %>
    </header>
    <article>
      <p>
        We have created a service that we care about and want to share.
        It was originally just something we wanted to use in our small
        community of artists and musicians here in San Francisco, but we
        realized it could be useful anywhere. with it you can tip any page 
        on the web.
      </p>
      <% if !current_user %>
      <p>
        <a href="http://www.youtube.com/watch?v=AKwZSoIrAnY">Videos</a>,
        <a href="http://www.myloveforyou.typepad.com/">blogs</a>,
        <a href="http://defianceohio.terrorware.com/audio/">bands</a>,
        <a href="http://tofuttibreak.tumblr.com/">general weirdness</a>,
        the list is kinda endless.
      </p>
      <h2>Setting it up is simple</h2>
      <ul>
        <li><%= rpx_popup(:link_text => "Sign in", :app_name => 'dirtywhitecouch', :return_url => user_sessions_url, :unobtrusive => false  ) %></li>
        <li>Drag the bookmark to your toolbar</li>
        <li>Authorize us to use your PayPal account</li>
        <li>Click the bookmark when visiting pages you enjoy</li>
      </ul>
      <p>
        You can use the service as much or as little as you'd like.
        We'll take care of finding and paying the artist.
      </p>
      <% end%>
    </article>
  </section>
