<%-cache("homepage_pages", :expires_in => 1.minute) do-%>
  <menu>
    <input id="tip" type="text"  placeholder="tip">
    <a href="/trending" >Trending</a>
  </menu>

  <section class='endless trending pages'>
    <%= render partial:"pages/as_article", collection:Page.recent.safe.endless(params[:endless]), as: :page %>
  </section>
<%-end-%>
