
  <section>
    <style type="text/css" media="screen">
      @import url(/design.css);
    </style>
    <script src="/behavior.js"></script>
    <header>
      <figure>
        <img src="/graphics/person.png" alt="dirtywhitecouch.com logo"/>
      </figure>
      <hgroup id="call_to_action">
        <h2>Pay</h2>
        <ul>
          <li>people</li>
          <li>artists</li>
          <li>developers</li>
          <li>bands</li>
          <li>bloggers</li>
        </ul>
        <h2>for doing their job</h2>
      </hgroup>
    </header>
    <article>
      <% if !current_user %>
      <p>
        DirtyWhiteCouch is a service that makes supporting the work you enjoy
        easy. with it you can tip any page on the web.
      </p>
      <p>
        <a href="http://www.youtube.com/watch?v=AKwZSoIrAnY">Videos</a>,
        <a href="http://www.myloveforyou.typepad.com/">blogs</a>,
        <a href="http://defianceohio.terrorware.com/audio/">bands</a>,
        <a href="http://tofuttibreak.tumblr.com/">general weirdness</a>,
        the list is kinda endless.
      </p>
      <h2>Setting it up is simple</h2>
      <ul>
        <li>Sign Into the app </li>
        <li>Drag the bookmark to your toolbar</li>
        <li>Authorize us to pay the tips you give</li>
        <li>Click the bookmark when visiting pages you enjoy</li>
      </ul>
      <p>
        You can use the service as much or as little as you'd like.
        We'll take care of finding and paying the contents author
      </p>
      <% end%>
    </article>
  </section>
