<%-content_for :head do-%>
  <title>DirtyWhiteCouch: Privacy Statement</title>
<%-end-%>
<article id="privacy">

  <h1>DirtyWhiteCouch Privacy Policy</h1>

  <p>This Privacy Policy describes the policies and procedures of
  DirtyWhiteCouch, Inc. (“DirtyWhiteCouch”, “we” or “us”) on the collection,
  use and disclosure of your information on http://dirtywhitecouch.com (the
  “Site”) and the services, features, content or applications offered by
  DirtyWhiteCouch (collectively with the Site, the “Services”).
  DirtyWhiteCouch receives information about you from various sources,
  including: (i) if you register for the Site and the Services, through your
  user account with DirtyWhiteCouch (your “Account”); (ii) your use of the
  Services generally; and (iii) from third party websites and services. When
  you use the Services, you are consenting to the collection, transfer,
  manipulation, storage, disclosure and other uses of your information as
  described in this Privacy Policy.</p>

  <h1>What Does This Privacy Policy Cover?</h1>

  <p>This Privacy Policy covers the treatment of personally identifiable
  information (“Personal Information”) gathered by DirtyWhiteCouch when you
  are using or accessing the Services. This Privacy Policy also covers
  DirtyWhiteCouch’s treatment of any Personal Information that
  DirtyWhiteCouch’s businesses partners share with DirtyWhiteCouch or that
  DirtyWhiteCouch shares with its business partners.</p>

  <p>This Privacy Policy does not apply to the practices of third parties that
  DirtyWhiteCouch does not own or control, including but not limited to any
  third party websites, services and applications (“Third Party Services”)
  that you elect to access through the Service, such as Facebook or Twitter,
  or to individuals that DirtyWhiteCouch does not manage or employ. While we
  attempt to facilitate access only to those Third Party Services that share
  our respect for your privacy, we cannot take responsibility for the content
  or privacy policies of those Third Party Services. We encourage you to
  carefully review the privacy policies of any Third Party Services you
  access.</p>

  <h1>What Information Does DirtyWhiteCouch Collect?</h1>

  <p>The information we gather enables us to personalize, improve and continue
  to operate the Services. In connection with certain aspects of the Services,
  we may request, collect and/or display some of your Personal Information. We
  collect the following types of information from our users.</p>

  <h1>Sign-In Information</h1>

  <p>When you create an Account, you will provide information that could be
  Personal Information, such as your username, password and email address. You
  acknowledge that this information may be personal to you, and by creating an
  account on DirtyWhiteCouch and providing Personal Information to us, you
  allow others, including DirtyWhiteCouch, to identify you and therefore may
  not be anonymous. We may use your contact information to send you
  information about our Services, but only rarely when we feel such
  information is important. You may unsubscribe from these messages through
  your Account settings, although DirtyWhiteCouch regardless reserves the
  right to contact you when we believe it is necessary, such as for account
  recovery purposes.</p>

  <h1>URL Information</h1>

  <p>One feature of the Services is the ability to make donations or make
  voluntary contributions (Tip) to original content creators of content
  (Authors) uniform resource locator (“URLs”). DirtyWhiteCouch collects and
  stores both the Tipped URL and, if you have an Account and are logged in,
  associates that information with your Account. DirtyWhiteCouch also collects
  and stores (i) the time and date on which you Tipped the original URL and
  (ii) if you chose to share the URL, information on the channels through
  which the URL was shared.</p>

  <h1>Metrics and Analytics</h1>

  <p>DirtyWhiteCouch collects information about accesses (such as clicks) of
  every Tipped URL created through the Services. This information includes,
  but is not limited to: (i) the IP address and physical location of the
  devices accessing the Tipped URL; (ii) the referring websites or services;
  (iii) the time and date of each access; and (iv) information about sharing
  of the Tipped URL on Third Party Services such as Twitter and Facebook.
  These metrics and analytics are used by DirtyWhiteCouch and its partners to
  improve their websites and services by, for example, providing value-added
  features.</p>

  <h1>User Content</h1>

  <p>Some features of the Services allow you to provide content to the
  Services, such as written descriptions of URLs, comments, images and video.
  For example, using the Bundles feature, DirtyWhiteCouch users can curate and
  “bundle together” a set of links, and can add content to those Bundles, such
  as comments and videos. All content submitted by you to the Services may be
  retained by DirtyWhiteCouch indefinitely, even after you terminate your
  account. We may continue to disclose such content to third parties in a
  manner that does not reveal Personal Information, as described in this
  Privacy Policy.</p>

  <h1>Information Collected From Third Party Services</h1>

  <p>Some features of the Services allow you to share your DirtyWhiteCouch
  information through your accounts with Third Party Services such as Facebook
  and Twitter. If you choose to connect DirtyWhiteCouch to such Third Party
  Services, we may collect information related to your use of those Third
  Party Services, such as authentication tokens that allow us to connect to
  your Third Party Service accounts. We may otherwise collect information
  about how you are using the Services to interact with those connected Third
  Party Services. Note that Third Party Services may have the ability to
  restrict the information that is provided to us.</p>

  <h1>IP Address Information and Other Information Collected Automatically:</h1>

  <p>DirtyWhiteCouch automatically receives and records information from your
  web browser when you interact with the Services, including your IP address
  and cookie information. This information may be used for to help us
  understand how users transit a website, to fight spam/malware, to facilitate
  collection of data concerning your interaction with the Services (e.g., what
  DirtyWhiteCouch links you have clicked on) and for other similar purposes.
  Generally, the Services automatically collect usage information, such as the
  number and frequency of visitors to the Site. DirtyWhiteCouch may use this
  data in aggregate form, that is, as a statistical measure, but not in a
  manner that would identify you personally. This type of aggregate data
  enables us and third parties authorized by us to figure out how often
  individuals use parts of the Services so that we can analyze and improve
  them.

  <h1>Email Communications:</h1>

  <p>We may receive a confirmation when you open an email from us. We use this
  confirmation to improve our customer service.</p>

  <h1>Information Collected Using Cookies</h1>

  <p>Cookies are pieces of text that may be provided to your computer through
  your web browser when you access a website. Your browser stores cookies in a
  manner associated with each website you visit. We use cookies to enable our
  servers to recognize your web browser and tell us how and when you visit our
  Site and use the Services through the web. DirtyWhiteCouch cookies also
  allow DirtyWhiteCouch to track when you have clicked on a DirtyWhiteCouch
  Tipped URL. Each click of a Tipped URL is tracked using a unique identifier
  assigned to you in one or more cookies stored by your web browser and
  associated with DirtyWhiteCouch. DirtyWhiteCouch cookies do not, by
  themselves, contain Personal Information, and we do not combine the general
  information collected through cookies with other Personal Information to
  tell us who you are. As noted, however, we do use cookies to identify that
  your web browser has accessed a DirtyWhiteCouch URL and may associate that
  information with your Account if you have one. Most browsers have an option
  for turning off the cookie feature, which will prevent your browser from
  accepting new cookies, as well as (depending on the sophistication of your
  browser software) allowing you to decide on acceptance of each new cookie in
  a variety of ways. We strongly recommend that you leave cookies active,
  because they enable you to take advantage the most attractive features of
  the Services. This Privacy Policy covers the use of cookies by
  DirtyWhiteCouch only and does not cover the use of cookies by third parties.
  DirtyWhiteCouch does not control when or how third parties place cookies on
  your computer. For example, third party websites to which a URL points may
  set cookies on your computer.

  <h1>Aggregate Information:</h1>

  <p>We collect statistical information about how both unregistered and
  registered users, collectively, use the Services (“Aggregate Information”).
  Some of this information is derived from Personal Information, such as your
  location (which, in turn, is derived from your IP address). This statistical
  information is not Personal Information and cannot be tied back to you, your
  Account or your web browser.</p>

  <h1>How and To Whom Is My Information Shared</h1>

  <p>The Services are designed to help you share information with others. As a
  result, much of the information generated through the Services is shared
  publicly or with third parties.</p>

  <h1>Public DirtyWhiteCouch Activity Information</h1>

  <p>Much of your activity on and through the Services is public by default.
  This includes, but is not limited to:</p>

  <p>Tipped URLs, the time and date those URLs were Tipped, and metrics and
  analytics information for your Tipped URLs, as described above; Aggregate
  non-personal information about what DirtyWhiteCouch links you have clicked
  on and associated metrics and analytics information, as described above.
  Registered users may have some of this information associated with their
  Accounts. Unregistered users will not have this association, but information
  concerning their use of the Services (such as what DirtyWhiteCouch links
  they click on, when they clicked, from where they clicked, etc.) is tracked
  anonymously through the use of cookies and stored by DirtyWhiteCouch.</p>

  <p>For registered users, some of this information is publicly accessible
  through a unique URL, which that user can make non-public through his/her
  Account settings when he or she is logged in. Removing access to the unique
  URL does not, however, make this information non-public, and it may still be
  accessible through other means, such as DirtyWhiteCouch’s API services.</p>

  <p>Please also remember that if you choose to provide Personal Information
  using certain features of the Service, then that information is governed by
  the privacy settings of those particular features and may be publicly
  available. Individuals reading this information may use or disclose it to
  other individuals or entities without our control and without your
  knowledge. Therefore, we urge you to think carefully about including any
  specific information you may deem private in content that you create or
  submit through the Service.</p>

  <h1>IP Address Information</h1>

  <p>While we collect and store IP address information, that information is
  not made public. We do at times, however, share this information with our
  partners, service providers and other persons with whom we conduct business.
  We may share hashes of your IP address with other third parties, but these
  hashes cannot feasibly be reversed into the IP addresses themselves or
  linked to you individually.</p>

  <h1>Information You Elect to Share</h1>

  <p>When Tipping a URL, you can elect to share that URL through Third Party
  Services. Any information that you elect to distribute through Third Party
  Services is instantly provided to them and may then become accessible to
  users of those services. Therefore, in addition to reviewing this Privacy
  Policy, you should also review the terms of services and privacy policies of
  such Third Party Services that you access through the Services.</p>

  <p>You may otherwise access other Third Party Services through the Services,
  for example by clicking on links in the Statistics page for a
  DirtyWhiteCouch Tipped URL. DirtyWhiteCouch is not responsible for the
  privacy policies and/or practices of these Third Party Services, and you are
  responsible for reading and understanding those Third Party Services’
  privacy policies. This Privacy Policy only governs information collected on
  the Services.</p>

  <h1>Aggregate Information</h1>

  <p>We share Aggregate Information with our partners, service providers and
  other persons with whom we conduct business. We share this type of
  statistical data so that our partners can understand how and how often
  people use our Services and their services or websites, which facilitates
  improving both their services and how DirtyWhiteCouch interfaces with them.
  In addition, these third parties may share with us non-private, aggregated
  or otherwise non Personal Information about you that they have independently
  developed or acquired.</p>

  <h1>Email Communications with DirtyWhiteCouch</h1>

  <p>As part of the Services, you may occasionally receive from
  DirtyWhiteCouch email and other communication relating to your Account.
  These emails will only be sent for purposes important to the Services, such
  as password recovery.</p>

  <h1>User Profile Information</h1>

  <p>User profile information including your username, Twitter account name
  and Facebook account name (to the extent you have linked your Account with
  those services), and other information you enter may be displayed to other
  users to facilitate user interaction within the Services. Users’ email
  addresses will not be directly revealed to other users by
  DirtyWhiteCouch.</p>

  <h1>Information Shared with Agents of DirtyWhiteCouch</h1>

  <p>We employ and contract with people and other entities that perform
  certain tasks on our behalf and who are under our control (our “Agents”). We
  may need to share Personal Information with our Agents in order to provide
  products or services to you. Unless we tell you differently, our Agents do
  not have any right to use Personal Information or other information we share
  with them beyond what is necessary to assist us. You hereby consent to our
  sharing of Personal Information with our Agents.</p>

  <h1>Information Disclosed Pursuant to Business Transfers</h1>

  <p>In some cases, we may choose to buy or sell assets. In these types of
  transactions, user information is typically one of the transferred business
  assets. Moreover, if DirtyWhiteCouch, or substantially all of its assets,
  were acquired, or in the unlikely event that DirtyWhiteCouch goes out of
  business or enters bankruptcy, user information would be one of the assets
  that is transferred or acquired by a third party. You acknowledge that such
  transfers may occur, and that any acquirer of DirtyWhiteCouch may continue
  to use your Personal Information as set forth in this policy.</p>

  <h1>Information Disclosed for the Protection of DirtyWhiteCouch and Others</h1>

  <p>DirtyWhiteCouch also reserves the right to access, read, preserve, and
  disclose any information as it reasonably believes is necessary to (i)
  satisfy any applicable law, regulation, legal process or governmental
  request, (ii) enforce these Terms of Service, including investigation of
  potential violations hereof, (iii) detect, prevent, or otherwise address
  fraud, security or technical issues, (iv) respond to user support requests,
  or (v) protect the rights, property or safety of DirtyWhiteCouch, its users
  and the public. This includes exchanging information with other companies
  and organizations for fraud protection and spam/malware prevention.</p>

  <h1>Information We Share With Your Consent</h1>

  <p>Except as set forth above, you will be notified when your Personal
  Information may be shared with third parties, and will be able to prevent
  the sharing of this information.</p>

  <h1>Is Information About Me Secure?</h1>

  <p>DirtyWhiteCouch endeavors to protect Account information to ensure that
  it is kept private; however, DirtyWhiteCouch cannot guarantee the security
  of any Account information. Unauthorized entry or use, hardware or software
  failure, and other factors, may compromise the security of user information
  at any time.</p>

  <p>DirtyWhiteCouch otherwise stores all of its information, including your
  IP address information, using industry-standard security techniques.
  DirtyWhiteCouch does not guarantee or warrant that such techniques will
  prevent unauthorized access to information about you stored by
  DirtyWhiteCouch, Personal Information or otherwise.</p>

  <h1>What Information of Mine Can I Access?</h1>

  <p>If you are a registered user, you can access information associated with
  your Account by logging into the Site. This information includes a history
  of the URLs you have Tipped, and access to the metrics pages for those
  URLs.</p>

  <h1>How Can I Delete My Account?</h1>

  <p>Should you ever decide to delete your Account, you may do so by emailing
  us@dirtywhitecouch.com If you terminate your Account, any association
  between your Account and information stored by DirtyWhiteCouch will no
  longer be accessible through your Account. However, given the nature of
  sharing using DirtyWhiteCouch, any public activity on your Account prior to
  deletion will remain stored on DirtyWhiteCouch’s servers and will remain
  accessible to the public.</p>

  <h1>What Choices Do I Have Regarding My Information?</h1>

  <p>You can use many of the features of the service without registering,
  thereby limiting the type of information that we collect. As stated
  previously, you can always opt not to disclose certain information to
  DirtyWhiteCouch, even though it may be needed to take advantage of some
  DirtyWhiteCouch features. You can delete your Account. Please note that
  DirtyWhiteCouch will need to verify that you have the authority to delete
  the Account, and activity generated prior to deletion will remain stored by
  DirtyWhiteCouch and may be publicly accessible. What Happens When There Are
  Changes to this Privacy Policy?</p>

  <p>DirtyWhiteCouch may amend this Privacy Policy from time to time. Use of
  information we collect now is subject to the Privacy Policy in effect at the
  time such information is used. If we make changes in the way we collect or
  use information, we will notify you by posting an announcement on the
  Services or sending you an email. A user is bound by any changes to the
  Privacy Policy when he or she uses the Services after such changes have been
  first posted.</p>

  <h1>What If I Have Questions or Concerns?</h1>

  <p>If you have any questions or concerns regarding privacy using the
  Services, please send us a detailed message to: <a
  href="mailto:us@dirtywhitecouch.com?subject=Privacy Policy question!">us@dirtywhitecouch.com</a>. We will make every effort to resolve your
  concerns.</p>

  <p>Effective Date: June 14, 2011.</p>

</article>
