<section id="banner">
  <header>
    <a href=/><%= image_tag "icons/silhouette.svg", class:"author", alt:'me' %></a>
  </header>
  <hgroup>
    <h1>tip some pages!</h1>
  </hgroup>
  <p>Now you can head out into the world and tip any page on the web.
    Here are some awesome pages people have been tipping with Copper.</p>
</section>

<section id="pages">
  <%= render partial:"pages/show", collection:Page.includes(:tips).order("updated_at DESC").limit(75), as: :page %>
</section>
