<%-cache("onboarding_pages", :expires_in => 1.minute) do-%>
<section id="banner">
  <header>
    <hgroup>
      <h1>tip some pages!</h1>
    </hgroup>
    <p>You’re ready to go. Discover new 
        artists or tip your favorites. </p>
  </header>
  <figure style="display:none;">
    <%= image_tag "arrows/swoop_left.svg" %>
    <figcaption>
      <p>It’s easy.</p>
      <p>Your button is right there!</p>
    </figcaption>
  </figure>
</section>

<section id="pages">
  <%= render partial:"pages/index", collection:Page.safe.onboarding.limit(18), as: :page %>
</section>
<%-end-%>