<%-cache("trending_pages", :expires_in => 1.minute) do-%>
<section id="banner">
  <header>
    <hgroup>
      <h1>Trending on Copper</h1>
      <p class="guest">Get the Copper button to support
        your favorite creators with a
        single click.</p>
      <p class="fan">Support your favorite content
        and easily discover more.</p>
    </hgroup>
    <hgroup class="guest">
      <a class="button" href="/getting_started">Sign Up</a>
    </hgroup>
  </header>
</section>

<section class="pages">
  <%= render partial:"pages/index", collection:Page.safe.trending.limit(18), as: :page %>
</section>
<%-end-%>