<section id="banner">
  <header>
    <hgroup>
      <h1>Check out this cool stuff.</h1>
      <p>Support your favorite artists 
        &amp; easily discover new ones.</p>
    </hgroup>
    <hgroup>
      <%-unless current_user-%>
      <a class="button" href="/getting_started">Sign Up</a>
      <%-end-%>
    </hgroup>
  </header>
</section>

<section id="pages">
  <%= render partial:"pages/show", collection:Page.safe.trending, as: :page %>
</section>
