<%-cache("homepage_pages", :expires_in => 1.minute) do-%>
<section id="banner">
  <header>
    <hgroup>
      <h1>Like it? Tip it.</h1>
      <p>Support your favorite artists &amp; easily discover new ones</p>
    </hgroup>
    <hgroup>
      <a class="button" href="/getting_started">Sign Up</a>
    </hgroup>
  </header>
</section>
<section id="pages">
  <%= render partial:"pages/index", collection:Page.safe.welcome.limit(9), as: :page %>
</section>
<%-end-%>
