<% cache("homepage_pages", :expires_in => 1.hour) do %>
<section id="banner">
  <header>
    <hgroup>
      <h1>Like it? Tip it.</h1>
      <p>Support your favorite artists &amp; easily discover new ones</p>
    </hgroup>
    <figure>
      <figcaption>Sign up &amp; tip any page on the web. Install the Copper buttonin your browser</figcaption>
      <a href="/auth/facebook" title="connect with facebook"><%= image_tag "providers/facebook/connect.png"%></a>
      <%= image_tag "arrows/right.svg"%>
      <a class="button install">Install The Button</a>
    </figure>
  </header>
</section>

<section id="pages">
  <figure itemscope itemtype='pages' itemid='/pages/1'>
    <a itemprop="url" target="_blank" href="#"><img itemprop="thumbnail_url" src="http://graphics8.nytimes.com/images/2013/04/21/business/21-UNBOX/21-UNBOX-superJumbo.jpg" /></a>
    <figcaption itemprop="name">
      <p>Jean Canoli</p>
      <p>watch</p>
    </figcaption>
  </figure>

  <figure itemscope itemtype='pages' itemid='/pages/1'>
    <a itemprop="url" target="_blank" href="#"><img itemprop="thumbnail_url" src="http://static.squarespace.com/static/50b3ef0ae4b036192ac7edd6/t/517594dde4b0b9b09d3cbabc/?format=500w"/></a>
    <figcaption itemprop="name">
      <p>Jean Canoli</p>
      <p>read</p>
    </figcaption>
  </figure>


  <figure itemscope itemtype='pages' itemid='/pages/1'>
    <a itemprop="url" target="_blank" href="#"><img itemprop="thumbnail_url" src="http://i2.ytimg.com/vi/iZ4ou_2L1_0/maxresdefault.jpg?feature=og"/></a>
    <figcaption itemprop="name">
      <p>Chelsae wolf</p>
      <p>listen</p>
    </figcaption>
  </figure>


</section>
<%-end-%>
