body > section {
  width: 33em;
}
body > section > h1 {
  margin: .5em 0 1em 0;
  font-size: 2em;
  border-bottom: .15em solid gray;
  padding-top: 1em;
}
body > section > details {
  display: block;
  padding: 1em;
  margin-top: 2.75em;
  border: .15em solid #808080;
  background-color: #DDDDDD;
  -webkit-transition: all 1s ease-in;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
body > section > details  * {
  display: none;
}
body > section > details > summary {
  display: block;
  margin: .5em 0 .5em 0;
  font-size: 2em;
  cursor: pointer;
}
body > section > details > summary > span {
  display: inline-block;
  float: right;
}
body > section > details > form {
  margin-bottom: 2em;
}
body > section > details > p {
  margin: 1.75em 0;
}
body > section > details > form > input[type=submit] {
  background-color: white;
  font-size: 1em;
  margin-top: 1em;
  border: .15em solid #808080;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
body > section > details > form label {
width: 11em;
margin-bottom: .5em;
}
body > section > details > form > fieldset > label,
body > section > details > form > fieldset > input {
  display: block;
  font-size: 1.25em;
  margin-right: 3em;
}
body > section > details > form > fieldset > input {
  width: 15em;
  margin-bottom: 1em;
  background-color: white;
}

body > section > details.completed {
  border-color: green;
}

body > section > details.completed > summary {
  color: green;
}
body > section > details.completed > summary:after {
  color: green;
  display: inline-block;
  float: right;
  content: "√";
}

body > section > details.required {
  background-color: red;
  border-color: red;
}
body > section > details.required * {
  color: white;
}
body > section > details.required > summary:after {
  color: green;
  display: inline-block;
  float: right;
  content: "ˇ";
  color: white;
}

body > section > details[open=open] {
  -webkit-transition: all 1s ease-out;
  background-color: #DDDDDD;
  border-color: yellow;
}
body > section > details[open=open] * {
  color: gray;
  display: block;
}
body > section > details[open=open] summary:after {
  content: "X";
  color: gray;
}

body > section > details#tip_rate > form > fieldset > label {
  display: inline-block;
  width: 4em;
}
body > section > details#tip_rate > form > fieldset > select {
  display: inline-block;
  margin-left: 1em;
  background-color: white;
  font-size: 2em;
}

body > section > details#password > form > fieldset > input#old_password {
  margin-bottom: 2em;
}

body > section > details#bookmarklet > p > span {
  font-family: "Zapf Dingbats";
  color: #f60;
  display: inline-block;
  margin: 0 0 0 6em;
  margin-left: 4em;
  vertical-align: middle;
  font-size: 2.5em;
  position: relative;
  -webkit-animation-name: point;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
body > section > details#bookmarklet > p > a {
  text-align: center;
  font-size: 1.25em;
  border: .10em solid #f60;
  -moz-border-radius: .3em;
  border-radius: .3em;
  color: #F60;
  font-weight: normal;
  background-color: white;
  display: inline-block;
  padding: 1em;
  margin: 0;
}
body > section > details#bookmarklet > p > a:focus {
  outline: none;
}

body > section > details#badge > textarea {
  background-color: white;
  padding: 1.5em 0 0 1em;
  width: 36.5em;
  height: 18em;
  font-size: .75em;
}

