<% title "Orders" %>

<section id="order_list">
  <table>
    <tr>
      <th>Amount</th>
      <th>Account type</th>
      <th>Commands</th>
    </tr>

    <% @orders.each do |o| %>
    <tr>
      <td><%=h o.amount %></td>
      <td><%=h o.account.card_type %></td>
      <td>
      	<%= link_to 'Show', o %>
      </td>
    </tr>
    <% end %>
  </table>

  <nav>
    <%= link_to 'New Order', new_order_path %>  
  </nav>

</section>