<% title "Order Form" %>
<section>
  <header>
    <aside>Order Form</aside>
    <h1><%= :title %></h1>
  </header>
  <% semantic_form_for @order do |f| %>
  
  <%=f.inputs%>
  <%=f.buttons%>
  <% end %>

  <!-- # test credit card number = 4024007148673576 -->  
</section>
