<%-cache page do-%>
<figure <%=raw page.as_item_attributes%> >
  <a href="<%= page_path(page) %>">
    <%-if page.thumbnail_url-%>
      <img itemprop="thumbnail_url" src="<%=page.thumbnail_url%>">
    <%-else-%>
      <svg><use xlink:href="<%= asset_path('icons/people.svg#picture') %>" /></svg>
    <%-end-%>
  </a>
</figure>
<%-end-%>
