<%-cache page do-%>
<figure>
  <a href="/pages/<%=page.id%>">
    <img itemprop="tumbnail_url" src="<%=page.thumbnail_url%>">
  </a>
  <figcaption itemprop='title'><%=page.title%></figcaption>
</figure>
<%-end-%>