<section id="banner">
  <header>
    <a href=/><%= image_tag "icons/silhouette.svg", class:"author", alt:'me' %></a>
  </header>
  <hgroup>
    <h1>pages</h1>
    <p><%=current_user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <img class="admin" src='<%= image_path 'noun_project/8233.svg'%>'/>
</section>
<section id="admin_nav" class='hide admin'>
  <nav>
    <a href="#manual">manual</a>
    <a href="#adopted">adopted</a>
    <a href="#orphaned">orphaned</a>
    <a href="#fostered">fostered</a>
    <a href="#dead">dead</a>
  </nav>
</section>

<section id="pages">
  <%= render partial:"index", collection:@pages, as: :page %>
</section>