<%-cache("pages_recent", :expires_in => 1.minute) do-%>
  <section class='endless recent pages'>
    <%= render partial:"pages/as_article", collection:Page.recent.safe.endless(params[:endless]), as: :page %>
  </section>
<%-end-%>
