#admin_index {
  & > nav {
    padding:0;
    width:grid-width(25);
    margin:1em auto 0.75em auto; 
    & > a {
      margin:0.6em;
      margin-right:1em;
      padding: 0.25em 0;
      width:8em;
      display:inline-block;
      font-family: 'Doppio One', sans-serif;
      font-size:1em;
      @include inset_button($text);
      &.selected {
        box-shadow: 1px 1px 5px 2px $green; 
      }
      &:nth-child(6) {
        margin-right:0;        
      }
      &:after {
        // resetting some nav css for body > nav 
        background-image:none;
        padding-right:0;
        width:0;
        height:0;
        margin:none;
      }
    }
  }
  & > section#states {
    width:grid-width(25);
    padding:0;
    height:0;
    // visibility: hidden;
    margin-bottom: 0.75em;
    & > article {
      width:8em;
      vertical-align: top;
      display:inline-block;
      border: 1px solid $offset_color;
      visibility: hidden;
      height:0;
      opacity:0;
      padding-top:0;
      border-radius:0.25em;
      padding:0 1em;
      @include transition (opacity 0.5s ease-in 0s);
      @include transition (height 0.5s ease-in 0.5s);
      &:nth-child(6){
        margin-right:0;
      }
      &.selected{
        visibility: visible;
        position: relative;
        z-index: 2;
        margin-bottom: 1em;
        height:auto;
        opacity:1;
        @include transition (opacity 0.5s ease-in 0s);
        @include transition (height 0.5s ease-in 0.5s);
      }
      & > details {
        @include background-image(linear-gradient($title 0%, shade($title, 25%) 100%));
        cursor:move;
        margin-bottom:0.5em;
        padding:0.5em 0 ;
        box-shadow: 1px 1px 5px 2px darken($offset_color, 40%);
        border-radius:0.5em;
        background-color:$title;
        color:$light;
        border: 2px solid darken($title, 20%);
        &[open] {
          cursor:pointer;
          & > summary {
            cursor:pointer;
          }
        }
        & > summary {
          text-align: center;
          cursor:move;
          outline:none;
        }
        & > summary::-webkit-details-marker {
          display: none
        }

      }
    }
  }
  & > section#pallet {
    padding:0 0 0 0;
    margin-bottom: grid-width(1);
    width:grid-width(25);
    min-height: grid-width(12);
    background-color:$offset_color;
    border-radius:0.5em;
    & > details {

      border: 2px solid darken($title, 20%);
      vertical-align: top;
      margin: 1em 0 0 0.75em;
      display:inline-block;
      width:grid-width(8);
      border-radius:0.5em;
      & > summary {
        @include background-image(linear-gradient($title 0%, shade($title, 25%) 100%));
        outline:none;
        padding:0.5em;
        color:$light;
      }
    }
  }
}

.drag {
  opacity:0.5;
  background-color:$brown;
}
.hover {
  opacity:0.5;
  border:0.25em solid $header;
}

