@import url("../design/index.css");

body > section > form{
  margin-left: 3.5em;
  margin-bottom:2em;
  border: 0.15em solid #808080;
  -webkit-border-radius: .5em;
  background-color: #ddd;
  width: 33em;
  height: 12em;

}
body > section > form > fieldset legend{
  position:absolute;
  top: 6em;
  left: 25%;
  margin-top: .5em;
  color: #CCC
}
body > section > form > fieldset textarea {
  border: 0.05em solid #808080;
  background-color: white;
  width: 21.75em;
  height: 6em;
  font-size: 1.5em;
  margin-left:.-1em;
}
body > section > form > input[type=submit]{
  margin-top:1em;
  margin-left: 23em;
  background-color: white;
}

body > section > table {
  margin-left: 3.5em;
  margin-bottom:2em;
  border: 0.15em solid #808080;
  width: 35.25em;
  height: 23em;
}
body > section > table caption {
  font-size: 1.5em;
  margin:0 0 .5em 0;
}
body > section > table th{
  padding: .25em;
  width: 33%;
  border: 0.15em solid #808080;
}
body > section > table td{
  padding: .25em;
  width: 33%;
  border-right: 0.15em dashed #ccc;
}
body > section > table tr:nth-child(even){
  background-color: #eee;
}