body > section {
  width: 33em;
}
body > section > h1 {
  margin: .5em 0 1em 0;
  font-size: 2em;
  border-bottom: .15em solid gray;
  padding-top: 1em;
}
body > section > div {
  display: block;
  padding: 1em;
  margin-top: 2.75em;
  border: .15em solid #808080;
  background-color: #DDDDDD;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
body > section > div  * {
  display: none;
}
body > section > div > summary {
  display: block;
  margin: .5em 0 .5em 0;
  font-size: 1.5em;
  cursor: pointer;
}
body > section > div > summary > span {
  display: inline-block;
  float: right;
}
body > section > div > form {
  margin-bottom: 2em;
}
body > section > div > p {
  margin: 1.75em 0;
}
body > section > div > form > input[type=submit] {
  background-color: white;
  font-size: 1em;
  margin-top: 1em;
  border: .15em solid #808080;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
body > section > div > form label {
width: 11em;
margin-bottom: .5em;
}
body > section > div > form > fieldset > label,
body > section > div > form > fieldset > input {
  display: block;
  font-size: 1.25em;
  margin-right: 3em;
}
body > section > div > form > fieldset > input {
  width: 15em;
  margin-bottom: 1em;
  background-color: white;
}

body > section > div.completed {
  border-color: green;
}
body > section > div.completed > summary {
  color: green;
}
body > section > div.completed > summary:after {
  color: green;
  display: inline-block;
  float: right;
  content: "√";
}
body > section > div[open=open] {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  background-color: #DDDDDD;
  border-color: yellow;
}
body > section > div[open=open] * {
  color: gray;
  display: block;
}
body > section > div[open=open] summary:after {
  content: "X";
  color: gray;
  display: inline-block;
  float: right;
}

body.new_user > section > div.required {
  background-color: red;
  border-color: red;
}
body.new_user > section > div.required * {
  color: white;
}
body.new_user > section > div.required > summary:after {
  color: white;
}

body > section > div#tip_rate > form > fieldset > label {
  display: inline-block;
  width: 4em;
}
body > section > div#tip_rate > form > fieldset > select {
  display: inline-block;
  margin-left: 1em;
  background-color: white;
  font-size: 1.25em;
}

