body > section {
  width: 40em;
}
body > section > h1 {
  margin: .5em 0 1em 0;
  font-size: 2em;
  padding-top: 1em;
}
body > section > div {
  display: block;
  padding: 1em;
  margin-top: 2.75em;
  border: .15em solid #808080;
  background-color: #DDDDDD;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
body > section > div  * {
  display: none;
}
body > section > div > summary {
  display: block;
  margin: .5em 0 .5em 0;
  font-size: 1.5em;
  cursor: pointer;
}
body > section > div > summary > span {
  display: inline-block;
  float: right;
}
body > section > div > p {
  margin: 1.75em 0;
}

body > section > div.completed {
  border-color: green;
}
body > section > div.completed > summary {
  color: green;
}
body > section > div.completed > summary:after {
  color: green;
  display: inline-block;
  float: right;
  content: "√";
}
body > section > div[open=open] {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  background-color: #DDDDDD;
  border-color: yellow;
}
body > section > div[open=open] * {
  color: gray;
  display: block;
}
body > section > div[open=open] summary:after {
  content: "X";
  color: gray;
  display: inline-block;
  float: right;
}

#account > form > fieldset > label {
  display: inline-block;
  width: 5em;
}
#account > form > fieldset > select {
  display: inline-block;
  margin-left: 1em;
  background-color: white;
  font-size: 1.25em;
}
#account > form > fieldset {
  margin: 1em 0;
  font-size:1em;
}
#account > form > fieldset > legend {
  margin:0;
  padding:0;
}
#account > form > fieldset > label {
  width:8em;
}
#account > form > fieldset > input {
  margin: 1em 0;
}
#account > form > fieldset > #cvc {
  margin-left: 1em;
  width:2em

}
#account > form > fieldset#credit_card {
  margin-top:2em;
  border:.15em solid gray;
  padding:1em;
}
#account > form > fieldset > label[for=cvc] {
  width:2em;
  margin-left: 8em;
  margin-right: 0em;
}
#account > form > fieldset > label[for=card_month] {
  width:2em;  
  margin-left: 1em;
  margin-right: 1em;
}


