<section id="banner">
  <figure>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>
    <figcaption><%=cents_to_dollars(@identity.tips.sum(:amount_in_cents))%></figcaption>
  </figure>
  <h1>
    <span>Hey there!</span> Looks like you’ve
    just received some tips from a fan
  </h1>
  <p>
    Welcome to Copper! We’re a new online tipping service that 
    connects fans to the people who make content they love (that’s you!)
    and allows them to send a tip to show their appreciation.
    <a href="/how">See how it works</a>.
    <br><br>
    We just need a few things to make sure your tips wind up at your door.
  </p>
</section>
<section id="login" class="form">
  <header>
    <h2>Step 1: Login</h2>
  </header>
  <figure>
    <%-if current_user -%>
    <h1>Complete!</h1>
    <%-else-%>
      <%= link_to image_tag("providers/#{@identity.provider}/authorize.png"), "/auth/#{@identity.provider}", :title => "Authorize #{@identity.provider}" %>
      <figcaption>So we can make sure it’s really you</figcaption>
    <%-end-%>

  </figure>
</section>
<section id="email" class="form">
  <header>
    <h2>Step 2: Email</h2>
  </header>
  <form method="put" action='/fans/me' accept-charset="UTF-8">
    <input itemprop="email" name='user[email]' type="email" placeholder="Your Email Address" required value="">
  </form>
  <p>So we can tell you when you’ve been tipped</p>
</section>
<section id="address" class="form">
  <header>
    <h2>Step 3: Get Check</h2>
  </header>
  <%= render :partial => 'shared/address' %>
  <p>So we can pay you</p>
</section>
<nav>
  <button>Submit!</button>
</nav>
