<%-content_for :head do-%>
  <title>Copper</title>
  <%= stylesheet_link_tag "identities/show" %>
<%-end-%>
<section id="identity">
  <h1>Wanted!</h1>

  <a href="/auth/<%=@identity.provider%>">
    <%= image_tag "providers/" + @identity.provider + '.png'%>
  </a>

</section>
