#identities_edit {
  section.form form {
    display:inline-block;
    opacity:1;
  }
  section.form > div {
    display:inline-block;
  }
  section.form > form > input {
    width:grid-width(8);
  }
  #address > form > input[type=submit] {
    display:none;
  }
  #banner {
    padding-top:4em;
    position:inherit;
    background-color: transparent;
    border-color:transparent;
  }
  #banner figure, #banner h1, #banner p {
    display:inline-block;
    vertical-align:top;
  }
  #banner > figure {
    margin-right:2em;
  }
  #banner > figure > img {
    width:3.5em;
    vertical-align:bottom;
    border: .25em solid $text;
  }
  #banner > figure > figcaption {
    font-size:1.25em;
    font-family: 'Bree Serif', serif;
    color:$light-text;
    padding:.7em .25em 1.25em .35em;
    @include background-image( linear-gradient($text 0, $darkness 75%, transparent 32%),image-url('icons/congrats.svg'));
    background-repeat: no-repeat;
    background-position:center;
    @include background-size(cover);
  }
  #banner > figure > figcaption:before {
    content:'$';
  }
  #banner > h1 {
    vertical-align:top;
    opacity:.85;
    margin:0;
    line-height:1.15em;
    font-size:2.7em;
    width:grid-width(4.2);
    margin-right:.5em;
    margin-top:-0.44em;
  }
  #banner > h1 > span {
    color:$darkness;
  }
  #banner > p {
    margin:0;
    width:grid-width(9);
  }

  #login {
    vertical-align:middle;
  }
  #login header {
    vertical-align:middle;
  }
  #login > figure {
    vertical-align:middle;
    display:inline-block;
  }
  #login > figure > a {
    display:inline-block;
    margin-right:3em;
  }
  #login > figure > a > img {}
  #login > figure > figcaption{
    position:relative;
    padding-left:grid-width(3);
    line-height:1.25em;
    width:grid-width(4);
    display:inline-block;
    font-family: 'Nothing You Could Do', cursive;
    @include help_text
  }

  & > nav {
    height:7em;
    position:relative;
    &:after {
      content:"";
      position:absolute;
      bottom:4em;
      margin-left:-2em;
      left:50%;
      width: 0;
      height: 0;
      border-left: 2em solid transparent;
      border-right: 2em solid transparent;
      border-bottom: 1.5em solid $offset_color;
    }
    &:before{
      content:"";
      height:4em;
      width:100%;
      background-color:$offset_color;
      position:absolute;
      bottom:0;
      left:0;
    }
  }
  & > nav > button {
    @include copper_button;
    font-size:1.25em;
    width:5em;
    display:block;
  }
}
