body > section > p {
  width:35em;
  font-size: 1em;
}
body > section > form {
  margin-bottom: 2em;
}
  body > section > form > input[type="submit"] {
    margin-left: 0;
  }
  body > section > form > fieldset > label {
    width: 15em;
    font-size: 1em;
    margin-bottom: 1em;
  }
  body > section > form > fieldset > input {
    width: 13em;
    font-size: 1em;
    margin-bottom: 1em;
  }
  body > section > form > fieldset > select {
    font-size: 1em;
  }
  body > section > form > fieldset > h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin:1em 0;
    border-top: .15em solid gray;
    padding-top:1em;
  }
  body > section > form > fieldset > input[id=account_verification_code] {
    width: 3em;
  }
  body > section > form > fieldset > select[id=billing_address_state],
  body > section > form > fieldset > select[id=billing_address_country] {
    width:10.5em;
    margin-right: 10em;
  }

  body > section > form > fieldset#budget {
    width:21em;
    padding:1em;
    margin: 2em 1em 1em 1em;
    border: .15em solid gray;
    border-radius: .21em;
  }
  body > section > form > fieldset#budget label,
  body > section > form > fieldset#budget input {
    display:inline-block;
    text-align:right;
  }
  body > section > form > fieldset#budget label {
    width: 8em;
    text-align:right;
    margin-right: 2em;
  }
  body > section > form > fieldset#budget input, span#fee, span#total {
    font-size:1em;
    text-align: right;
    display:inline-block;
    margin-right:.5em;
    border:none;
    width: 3em;
  }
  body > section > form > fieldset#budget label[for=order_amount_in_cents] {
    margin-right: 1em;
  }

  body > section > form > fieldset#budget > span.money {
    font-size:1em;
  }
  body > section > form > fieldset#budget > hr {
    width:10em;
    margin-left:3.5em;
  }

  body > section > form > fieldset#refill {
    margin-top:1em;
  }
  body > section > form > fieldset#refill > label {
    display:inline-block;
    padding: .5em 0;
    font-size: 1em;
  }
  body > section > form > fieldset#refill > input {
    display:inline-block;
    margin: 0 .5em 0 5.5em;
    padding: .5em 0;
    width: 1em;
  }
