body > section > dl {
  margin-top:1em;
  border-top: .15em solid gray;
}
body > section > h2 {
  font-size:2em;
  margin-bottom:1em;
}
body > section > dl > dt {
  display:block;
  font-size: 1.25em;
  font-weight: normal;
  margin:1em 0 0 0;
}
body > section > dl > dd {
  width:13em;
  display: inline-block;
  font-weight:normal;
  margin: .5em 0 0 13em;
}
body > section > dl[itemtype="http://weave.us/fund"] > dt {
  display:inline-block;
}
body > section > dl[itemtype="http://weave.us/fund"] > dd {
  margin: .5em 0 0 8em;
}
body > section > dl[itemtype="http://weave.us/credit_card"] > dd[itemprop=type] {
  width:auto;
  display:inline-block;
  margin-right: 1em;
}
body > section > dl[itemtype="http://weave.us/credit_card"] > dd[itemprop=number] {
  display:inline-block;
  margin-left:0;
}
body > section > dl[itemtype="http://weave.us/credit_card"] > dd[itemprop=expires_on] {
  
}
body > section > dl[itemtype="http://weave.us/address"] > dd {
  display:block;
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=address] {
  display:inline-block;

}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=city] {
  width: auto;
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=state] {
  display: inline-block;
  width: 1.5em;
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=state]:after {
  content:',';
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=zip_code] {
  display: inline;
  margin-left: 1em;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dt {
  font-style:italic;
  font-size:.75em;
  width: 15em;
  margin-left:2em;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dt:first-child {
  font-size:1.5em;
  font-style:normal;
  width:11em;
  margin-left:0;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dd[itemprop=refill] {
  font-style: italic;
  font-size:.75em;
  width: 20em;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dd[itemprop=fee] {
  font-style: italic;
  font-size:.75em;
}
body > section > form > input[name=change]{
  display:inline-block;
  margin-left: 0;
}
body > section > form > input[name=commit]{
  display:inline-block;
}