body > section > dl {
  margin-top:1em;
  border-top: .15em solid gray;
}
body > section > h2 {
  font-size:2em;
  margin-bottom:1em;
}
body > section > dl > dt {
  display:block;
  font-size: 1.25em;
  font-weight: normal;
  margin:1em 0 0 0;
}
body > section > dl > dd {
  width:13em;
  display: inline-block;
  font-weight:normal;
  margin: .5em 0 0 13em;
}
body > section > dl[itemtype="http://weave.us/order"] > dt {
  display:inline-block;
}
body > section > dl[itemtype="http://weave.us/order"] > dd {
  margin: .5em 0 0 8.5em;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dt {
  font-style:italic;
  font-size:1em;
  width: 10em;
  margin-left:1em;
  display:inline-block;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dt:first-child {
  font-size:1.25em;
  font-style:normal;
  margin-left:0;
  width:8.75em;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dd {
  display:inline-block;
  font-style: italic;
  width:19em;
  font-size:1em;
  margin: .5em 0 0 1.75em;
}
body > section > dl[itemtype="http://weave.us/refill_totals"] > dd[itemprop=total] {
  font-style:normal;
  font-size:1.25em;
  margin:0.5em 0 0 1.4em;
}
body > section > dl[itemtype="http://weave.us/credit_card"] > dd[itemprop=type] {
  width:4em;
}
body > section > dl[itemtype="http://weave.us/credit_card"] > dd[itemprop=number] {
  display:inline-block;
  margin-left:0;
}
body > section > dl[itemtype="http://weave.us/address"] > dd {
  display:block;
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=address] {
  display:inline-block;

}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=city] {
  width: auto;
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=state] {
  display: inline-block;
  width: 1.5em;
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=state]:after {
  content:',';
}
body > section > dl[itemtype="http://weave.us/address"] > dd[itemprop=zip_code] {
  display: inline;
  margin-left: 1em;
}
body > section > form > input[name=change]{
  display:inline-block;
  margin-left: 0;
}
body > section > form > input[name=commit]{
  display:inline-block;
}