<% title "New Address"%>
<section>
  <header>
    <aside>
      New Address Form
    </aside>
  </header>
  <%= render :partial => 'form' %> 

  <footer>
    <nav>
      <%= link_to 'Back', addresses_path %>
    </nav>
  </footer>

</section>