body > h1 {
  font-size:2.5em;
  margin:0 .5em .5em .5em;
}
body > section {
  width: 59em;
  margin:0;
}
body > section > header {
  border-top: .15em solid gray;
  border-bottom: .15em solid gray;
  margin:0;
  position:relative;
}
body > section > form#search {
  padding:1em 1.5em !important;
}
body > section > table  {
  margin:1em;
  width:55em;
}
body > section > table > tbody > tr > td:nth-child(even) {
  width: 16em;
  text-align:right;
}
body > section > table > thead > tr > th {
  font-size: 1.5em;
  padding-bottom:1em;
}
body > section > table > thead > tr > th:nth-child(even) {
  text-align:center;
}
body > section > table > tbody > tr > td {
  width:53em;
}
body > section > table > tbody > tr > td > p {
  margin-bottom:1em;
  margin-left:.5em;
}
body > section > table > tbody > tr > td a {
  display:block;
  font-size: .75em;
}
body > section > table > tbody > tr > td a:first-child {
  font-size: 1em;
}
body > section > table > tbody > tr > td a.locator {
  margin-left:.5em;
  margin-bottom:1em;
}
#instructions {
  margin: .5em 0;
}

