#authors_edit {
  #identities {
    display:block;
  }
  #identities > div > figure {
    display:inline-block;
    margin-right:.5em;
  }

  #identities > div > figure > figcaption, 
  #identities > div > figure > form {
    display:none
  }
 
  #identities > div > figure > form > input {
    padding:0 .2em ;
    font-size:1em;
  }
  #identities > aside {
    opacity:0;
    display:none; 
    vertical-align:top;
  }

  #identities > aside > header {
    height:1em;
    margin-bottom:1.5em
  }
  #identities > aside > nav {}
  #identities > aside  > nav a {
    margin-right:.65em
  }

  #address {
    min-height:grid-width(4);
  }
  #address > form > input[type=submit] {
    width:4em;
  }

 #identities.edit {

    & > div {
      display:inline-block;
      width:18em
    }
    & > div > h2 {
      margin-bottom:1em
    }
    & > div > figure {
      position:relative;
      vertical-align:middle;
      margin-bottom:.5em;
    }
    & > div > figure > img,
    & > div > figure > figcaption {
      display:inline-block;
    }
    & > div > figure > figcaption {
      padding:.5em .2em; 
      vertical-align:top;
      white-space: nowrap;
      width: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > div > figure > form {
      position:absolute;
      right:-2em;
      top:.5em;
      display:inline-block;   
      vertical-align:top; 
    }

    & > aside {
      display:inline-block;
      opacity:1;
    }

  }
  
}