#authors_edit {
  #identities {
    display:block;
  }
  #identities > div > figure {
    display:inline-block;
    margin-right:.5em;
  }

  #identities > div > figure > figcaption, 
  #identities > div > figure > form {
    display:none
  }

  #identieies.edit {
    display:inline-block;
    width:grid-width(10.5);
    margin-right:.25em;
    padding-right:1em;    
  }
  #identities.edit > div {
    display:inline-block;
    width:12em
  }
  #identities.edit > div > h2 {
    margin-bottom:1em
  }
  #identities.edit > div > figure {
    position:relative;
    vertical-align:middle;
    margin-bottom:.5em;
  }
  #identities.edit > div > figure > img,
  #identities.edit > div > figure > figcaption {
    display:inline-block;
  }
  #identities.edit > div > figure > figcaption {
    padding:.5em .2em; 
    vertical-align:top;
    white-space: nowrap;
    width: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #identities.edit > div > figure > form {
    position:absolute;
    right:0;
    top:.5em;
    display:inline-block;   
    vertical-align:top; 
  }

  #identities > div > figure > form > input {
    padding:0 .2em ;
    font-size:1em;
  }
  #services {
    margin-left:0em;
    background-color: $offset_color;
    
    height:100%;
    vertical-align:top;
    overflow:hidden;
  }

  #services > header {
    height:1em;
    width:100%;
    margin-bottom:1.5em
  }
  #services > nav {}
  #services > nav a {
    margin-right:.65em
  }

  #address {
    min-height:grid-width(4);
  }
  #address > form > input[type=submit] {
    width:4em;
  }
  
}