#authors_edit {
  section.form form {
    display:inline-block;
    opacity:1;
  }

  section.setting {
    & > div {
      display:inline-block;
    }
    & > form > input {
      width:grid-width(8);
    }
  }

  #banner figure, #banner h1, #banner p {
    display:inline-block;
    vertical-align:top;
  }

  #banner {
    margin-top:3em;
    position:inherit;
    background-color: transparent;
    border-color:transparent;
    & > figure {
      margin-right:grid-width(1);
      & > figcaption {
        &:before {
          content:'$';
        }
        text-align: center;
        font-size:1.25em;
        font-family: 'Bree Serif', serif;
        color:$light;
        padding:0.7em 0.25em 1.25em 0.35em;
        @include background-image( linear-gradient($text 0, $dark 75%, transparent 32%),image-url('icons/congrats.svg'));
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
      }
      & > img {
        width:grid-width(3);
        height:grid-width(2);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    & > p {
      display:inline-block;
      vertical-align: top;
      margin:0;
      width:grid-width(8);
    }
    & > hgroup {
      display:inline-block;
      margin-right:grid-width(1);
      width:grid-width(7);
      vertical-align:top;
      & > h1 {
        vertical-align:top;
        opacity:0.85;
        margin:0;
        line-height:1.15em;
        font-size:1.75rem;
        margin-top:-0.25em;
        & > span {
          color:$dark;
        }
      }
    }
  }

  #login {
    vertical-align:middle;
    & > header {
      vertical-align:middle;
    }
    & > figure {
      vertical-align:middle;
      display:inline-block;
      & > figcaption{
        position:relative;
        line-height:1.25em;
        width:grid-width(4);
        display:inline-block;
        vertical-align:top;
        font-family: 'Nothing You Could Do', cursive;
        @include help_text;
      }
      & > a {
        display:inline-block;
        margin-right:3em;
        & > img {
          height:2.5em;
        }
      }
    }
  }

  #email > form {
    display: inline-block;
    opacity:1;
  }

  #address {
    padding-bottom:3em;
    &:after {
      margin-left:-2em;
      position:absolute;
      bottom:-1.5em;
      left:50%;
      content:"";
      width: 0;
      height: 0;
      border-left: 2em solid transparent;
      border-right: 2em solid transparent;
      border-top: 1.5em solid $offset;
    }
    & > form {
      display: inline-block;
      opacity:1;
      & > input[type=submit] {
        display:none;
      }
    }
  }

  & > nav {
    padding:grid-width(1);
    // height:7em;
    position:relative;
    & > button {
      @include button($copper);
      font-size:1.25em;
      width:grid-width(4);
      display:block;
    }
  }
}
