#authors_index {
  section.endless > details summary > figure > img {
    height:grid-width(2);
    width:grid-width(2);
  }
  #admin_nav {
    a[href="/authors"] > img{
      opacity:0.99;
    }
  }
}