@require 'color'
button()
  width:100%
  height:100%
  display: block
  font-size:1rem
  font-weight: 400
  font-family: 'Doppio One', sans-serif
  padding:0.25rem 0
  text-transform:capitalize
  text-align:center
  text-decoration:none
  vertical-align: middle

  border-radius: 0.25rem
  // border:0.1rem solid darken(offset, 20%)
  // background-color:offset
  color:copper
  cursor:pointer
  transition: all 0.25s ease

  &:focus,
  &:active
    border:0.15rem solid copper
    color:copper
    outline:none

  &:last-child
    margin-bottom:0rem
