@require 'color'
button()
  display: block
  font-size:1rem
  font-weight: 400
  font-family: 'Doppio One', sans-serif
  padding:0.25rem 0
  text-transform:capitalize
  text-align:center
  text-decoration:none
  vertical-align: middle
  border-radius: 0.25rem
  cursor:pointer
  transition: all 0.25s ease

  &:focus,
  &:active
    border:0.15rem solid copper
    color:copper
    outline:none

  &:last-child
    margin-bottom:0rem
