flex-layout()
  body
    margin:0
    flex-direction:column
    display:flex

    & > header
      order:1

    & > menu
      order:2

    & > main
      order:3

    & > footer
      order:4

  +tablet()
    body
      flex-direction:row
      flex-wrap:wrap

      & > header,
      & > footer
        width:100%
        min-height:5%
        vertical-align:middle

      & > menu
        flex-grow:0.22

      & > main
        flex-grow:2.618
        min-height:90%

display-flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex


order()
  -webkit-box-ordinal-group: arguments
  -moz-box-ordinal-group: arguments
  -ms-flex-order: arguments
  -webkit-order: arguments
  order: arguments


flex-wrap()
  -moz-flex-wrap: arguments
  -ms-flex-wrap: arguments
  -webkit-flex-wrap: arguments
  flex-wrap: arguments


flex-grow()
  -moz-flex-grow: arguments
  -ms-flex-grow: arguments
  -webkit-flex-grow: arguments
  flex-grow: arguments


flex-direction()
  -moz-flex-direction: arguments
  -ms-flex-direction: arguments
  -webkit-flex-direction: arguments
  flex-direction: arguments

flex-shrink()
  -moz-flex-shrink: arguments
  -ms-flex-shrink: arguments
  -webkit-flex-shrink: arguments
  flex-shrink: arguments
