@require 'lib/device'

flex()
  body
    margin:0;
    display:flex
    flex-direction:column

    & > header
      order:1

    & > menu
      order:2

    & > footer
      order:4

    & > main
      flex-grow:1
      order:3


  +laptop()
    body
      flex-wrap:wrap
      flex-direction:row

      & > header,
      & > footer
        width:100%
        height:5%
        vertical-align:middle

      & > main
        order:3

      & > menu
        order:2
        flex-grow:0.33
        flex-direction:column
        flex-wrap:wrap

        & > a
          display:block

      & > main
        flex-grow:1.618
        min-height:90%
