display-flex()
  display: -ms-Flexbox
  -ms-box-orient: horizontal
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: flex

order()
  -webkit-box-ordinal-group: arguments
  -moz-box-ordinal-group: arguments
  -ms-flex-order: arguments
  -webkit-order: arguments
  order: arguments

flex-wrap()
  -moz-flex-wrap: arguments
  -ms-flex-wrap: arguments
  -webkit-flex-wrap: arguments
  flex-wrap: arguments

flex-direction()
  -moz-flex-direction: arguments
  -ms-flex-direction: arguments
  -webkit-flex-direction: arguments
  flex-direction: arguments

flex-flow()
  -webkit-flex-flow: arguments
  -moz-flex-flow: arguments
  -ms-flex-flow: arguments
  flex-flow: arguments

flexx()
  -webkit-flex:arguments
  -moz-flex:arguments
  -ms-flex:arguments
  flex:arguments

flex-grow()
  -webkit-flex-grow: arguments
  -moz-flex-grow: arguments
  -ms-flex-grow: arguments
  flex-grow: arguments

flex-shrink()
  -webkit-flex-shrink: arguments
  -moz-flex-shrink: arguments
  -ms-flex-shrink: arguments
  flex-shrink: arguments

flex-basis()
  -webkit-flex-basis: arguments
  -moz-flex-basis: arguments
  -ms-flex-basis: arguments
  flex-basis: arguments
