flex-progressive()
  body > main
    min-height:72%

  +laptop()
    body
      font-size:0
      & > menu
        display:inline-block
        min-width:14rem
        vertical-align:top
        padding-bottom:80%

      & > main
        display:inline-block
        width:80%
        min-height:90%

      & > *
        font-size:1rem
