// expand a backroud color the full width of the page
ful-width()
  left-full-width(arguments)
  right-full-width(arguments)

left-full-width()
  background-color:arguments
  position:relative
  overflow:visible
  &:before
    content:""
    position:absolute
    top:0
    bottom:0
    left:100%
    background-color: arguments
    width: 9999px

right-full-width()
  background-color:arguments
  position:relative
  overflow:visible
  &:after
    content:""
    position:absolute
    top:0
    bottom:0
    right:100%
    background-color: arguments
    width: 9999px
