border-gradient()
  border-width: 1px 0px 1px 0px
  border-style: solid
  border-image-width:   1
  border-image-slice:   1
  border-image-repeat:  stretch
  -moz-border-image:    -moz-linear-gradient(right, transparent 25%, riser 50%, transparent 80%)
  -o-border-image:      -o-linear-gradient(right, transparent 25%, riser 50%, transparent 80%)
  border-image:         linear-gradient(to right, transparent 25%, riser 50%, transparent 80%)
