placeholder($color)
  &::-webkit-input-placeholder
    text-transform:capitalize
    color:header-text-color

  &:-moz-placeholder  /* Firefox 18- */
    text-transform:capitalize
    color:header-text-color

  &::-moz-placeholder   /* Firefox 19+ */
    text-transform:capitalize
    color:header-text-color

  &:-ms-input-placeholder
    text-transform:capitalize
    color:header-text-color
