roles()
  body[data-guest="true"]

    .fan
      hide()

    .admin
      hide()

  body[data-fan="true"]

    .guest
      hide()

    .admin
      hide()

  body[data-admin="true"]

    .guest
      hide()
