roles()
  body[data-guest="true"]
    .guest
      height:auto

    .fan
      hide()

    .admin
      hide()

  body[data-fan="true"]
    .guest
      hide()


    .admin
      hide()

  body[data-admin="true"]
    .guest
      hide()

    .fan
      hide()




  // body[data-fan="true"],
  // body[data-admin="true"]
  //   .fan
  //
  //
  //   .admin
