roles()
  body[data-role="guest"]

    .fan
      hide()

    .admin
      hide()

  body[data-role="fan"]

    .guest
      hide()

    .admin
      hide()

  body[data-role="admin"]

    .guest
      hide()
