short-transition()
  transition-property: arguments
  transition-duration: 0.25s
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1)

standard-transition()
  transition-property: arguments
  transition-duration: 0.5s
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1)

long-transition()
  transition-property: arguments
  transition-duration: 1.5s
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1)

/* Chrome, Safari, Opera */
// @-webkit-keyframes fade-in {
//     from {opacity: 0}
//     to {opacity:1}
// }

/* Standard syntax */
@keyframes fade-in
  from {opacity: 0}
  to {opacity:1}

body
  -webkit-animation: fade-in 0.4s
  -webkit-animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1)

  animation: fade-in 0.4s
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1)
