<section id="aboutus">
  <style>
    body > section {
      width: 36.5em;
      margin-left: 1.5em;
      margin-right: 3.5em;
    }
    body > section > h2 {
      font-size: 1.5em;
      margin: 1em 0;
    }
    body > section  > p {
      line-height: 1.5em;
      font-size: 1.15em;
    }
  </style>
  <h2>Why did we make Weave?</h2>

  <p>The amount of awesome on the internet is staggering. We built Weave so
  you can high five the people who make your experience of the web fun. Weave
  allows you to tip a page on the web just like you’d tip your favorite waiter
  or hairdresser. It’s a way to say, "Thanks! What you’re doing is great!
  Here’s something to help you keep doing it!" You decide when, where, and how
  much to tip, and we take care of making sure the money gets where it needs
  to go. It’s an easy way to participate in your online community while
  directly supporting the artists, bloggers, and musicians you like. It
  doesn't take a lot of people leaving tips for everyone to benefit.</p>

  <h2>How do I tip?</h2>

  <p>We designed Weave to work with the way you use the web. When you sign up
  for an account, add some money to your tip fund. Next, drag our bookmarklet
  “tip this” onto your browser’s bookmark bar. You can choose whether to pay a
  set amount for each tip, or divide your tip fund equally across all the
  pages you've tipped. When you see something you like, click the “tip this”
  button. That’s it! We take care of the rest.</p>

  <h2>How do I collect the tips I’ve earned?</h2>

  <p>Once a quarter, we tally all the tips earned by each page, bundle those
  pages up into sites, and cut a check to the site’s publisher. (This is
  similar to the way royalties are paid to songwriters in the music business,
  and is designed to help us keep transaction costs low.) You don’t have to
  know about us to start receiving tips. Our job is to find you and let you
  know you have money waiting. If you like, you can install a badge on your
  site that visitors can click to give tips directly from your pages.</p>

  <h2>How does Weave make money?</h2>

  <p>We  cover our  costs  by charging  a  x%  fee when  you  fund your  tipping
  account. For example,  if you put $10 into your  account we'll actually charge
  you $10.x0.  You have  $10 for tipping,  and we  get x0 cents  to pay  for the
  service.</p>
</section>
