body * {
  -webkit-transition: none !important;
  -webkit-transition-property: none !important;
  -webkit-transform: none !important;
  -webkit-animation: none !important;

  transition: none !important;
  transition-property: none !important;
  transform: none !important;
  animation: none !important;
}