body-text()
  font-size:1rem
  font-family:'Cantarell', sans-serif
  font-family:"Helvetica Neue Ultralight", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:100
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  color:body-text-color

header-text()
  font-family:'Bree Serif', serif
  font-family:'Patua One', sans-serif
  font-family:'Doppio One', sans-serif
  font-family:"Helvetica Neue Ultralight", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:200
  text-transform:capitalize
  letter-spacing: 1px
  color:header-text-color

help-text()
  font-family: 'Nothing You Could Do', cursive
  font-size:1rem
