text()
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  font-size:1em
  font-family: 'Cantarell', sans-serif
  font-weight:normal
  color:text

header_text()
  letter-spacing: 1px
  color:title
  font-family: 'Bree Serif', serif
  font-weight:normal
  text-transform:capitalize

help_text()
  font-family: 'Nothing You Could Do', cursive !important
  font-size:1em !important
  display:inline-block
