text()
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  font-size:1em
  font-family: 'Cantarell', sans-serif
  font-weight:normal
  color:body_text

header-text()
  // letter-spacing: 1px
  color:title
  font-family: 'Bree Serif', serif
  font-family: 'Patua One', sans-serif
  font-family: 'Doppio One', sans-serif

  font-weight:100
  text-transform:capitalize

help-text()
  font-family: 'Nothing You Could Do', cursive !important
  font-size:1em !important
  display:inline-block
