<section>
  <h1>What's Next?</h1>
  <ol>
    <li>
      <h2>Take it to the toolbar</h2>
      <p>
        drag this weave bookmarklet to your toolbar
      </p>
      <div>&#x27A0;</div>
      <a id="weave_us" href="#weave" tabindex="1" accesskey="p">weave.us</a>
    </li>
    <li>
      <h2>Fund your <a href="#">Tip Stash</a></h2>
      <p>
        You'll need to put some money in your account before
        showering the web with love
      </p>
    </li>
  </ol>
</section>