<%-cache do-%>
<footer>
  <h3>Copper, Inc</h3>
  <nav>
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms of Use</a>
    <a href="//twitter.com/copper_is">Twitter</a>
  </nav>
  <nav class="admin" >
    <a href="/pages" title="Determine Page Author"><%=image_tag "noun_project/4534.svg"%></a>
    <a href="/authors" title="Onboard Authors"><%=image_tag "noun_project/4203.svg"%></a>
    <a href="/users" title="Pay Users"><%=image_tag "noun_project/2966.svg"%></a>
    <a href="/integrations" title="manage integrations"><%=image_tag "noun_project/624.svg"%></a>
  </nav>
  <h4>Copyright © 2014 Copper Inc. All rights reserved</h4>
</footer>
<%-end-%>
