<%-cache do-%>
<header>
  <figure>
    <svg>
      <use xlink:href="<%= asset_path('icons/actions.svg#toggle') %>"/>
    </svg>
  </figure>
  <figure>
    <a href="/">
      <svg>
        <use xlink:href="<%= asset_path('icons/copper.svg#logo') %>"/>
      </svg>
    </a>
  </figure>
  <%= render partial:"/application/current_user"%>
</header>
<%-end-%>
