<%-cache do-%>
<header>
  <img src='<%=image_path('icons/hamburger.svg')%>'>
  <figure>
    <a href="/"><img src='<%=image_path('icons/logo.svg')%>'></a>
  </figure>
  <%= render partial:"/application/current_user"%>
</header>
<%-end-%>
