<menu>

  <menu class='tips'>
    <h6>Tips</h6>
    <a href="/pages/trending">Trending</a>
    <a href="/pages/recent">Recent</a>
  </menu>

  <menu class="fan tips">
    <h6>Tips I have</h6>
    <a href="/tips/given">Given</a>
    <a href="/tips/received">Received</a>
  </menu>

  <menu class='fan options'>
    <h6>My</h6>
    <a href="/my/settings">Settings</a>
    <a href="/my/authorizations">Authoizations</a>
  </menu>

  <menu class='authentication'>
    <a class="guest" href="/auth/facebook">Sign In</a>
    <a class="fan" href="/signout">Sign Out</a>
  </menu>

</menu>
