<%-cache("application_index", :expires_in => 10.seconds) do-%>
<section class='guest'>
  <header>
    <h1>feed the arts</h1>
  </header>
  <article>
    <p>
      Art is about standing alone, finding your own perspective and creating from it.
    </p>

    <p>
      Copper exists so an artist can create, give and still feed their kids.
    </p>

    <p>
      As a fan of the arts you can tip any url. We find the artist let them
      know they have some money waiting.
    </p>

  </article>
  <h2>Sign In and Give</h2>
  <%= render 'authentication_menu' %>
</section>
<section class='fan'>
  <menu id='tip' style='display:none'>
    <input type="text"  placeholder='tip' value="">
  </menu>
</section>
<%-end-%>
