<%-cache("application_index", :expires_in => 10.seconds) do-%>
<section>
  <header>
    <h1>feed the arts</h1>
  </header>
  <menu id='tip' style='display:none'>
    <input type="text"  placeholder='tip' value="">
  </menu>
</section>
<%-end-%>
