section#badge > header {
  border: none;
  min-height: 2.5em;
  background:inherit;
  margin:0;
  width: auto;
  margin-left: 0em;
  margin-bottom: 2em;
}
section#badge h1 {
  font-size:2em;
  margin-bottom:1em;
} 
section#badge > form {
  display:inline-block;
  vertical-align:top;
}
section#badge > form > h2 {
  margin:1em 0;
}
section#badge > form > select {
  font-size:.75em;
  display:inline-block;
  margin-right:1em;
}
section#badge > aside {
  margin-left:1em;
  margin-top:2em;
  margin-bottom:2em;
}
section#badge > aside > textarea {
  display:inline-block;
  font-size:1em;
  padding:.75em;
  width:22em;
  height:22em;
  border-radius:.5em;
  border:.15em solid gray;
  line-height:2em;
  vertical-align:middle;
}
section#badge > aside > figure {
  font-size:1;
  height:23em;
  width:23em;
  border:.15em solid gray;
  border-radius:.5em;
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  line-height:22em;
  margin-left:7em;
}
section#badge > aside > figure > img {
  display:inline;
  vertical-align:middle;
  text-align: center;
}
section#badge > footer {
  margin:1em;
}
