//#users_edit * {outline: 1px solid silver;}
#users_edit {
  & > nav {
    margin-bottom:3em;
    text-align:center;
  }
  & > nav >  a {

    text-decoration:none;
    color:#666;
    font-family: 'Doppio One', sans-serif;
  }

  label {
    display:block;
  }
  section {
    margin-bottom: 0.5em;
    padding-top:2em;
    padding-bottom:2em;
    background-color: rgba(231, 228, 223, .5);
  }
  section > header {
    vertical-align:top;
    display:inline-block;
    width: grid-width(4);
    margin-right:grid-width(1);

  }
  section > header > h2 {
    margin-bottom:.5em;
  }
  section > header > a {
    font-size:.75em;
    color: #999999;
  }
  section > form {
    display:none;
    vertical-align:top;
  }
  section > div {
    display:inline-block;
  }
  section > div > h4 {
    font-family: 'Cantarell', sans-serif;
    margin:0;
    margin-bottom:0.5em;
    font-size:0.85em;
    color:#666;
  }
  section > div > p {
    font-family: 'Doppio One', sans-serif;
    color:#333333;
    font-size: 1.1em;
    opacity:.8;
    margin:0;
  }

  #banner {
    background-color: transparent;
  }
  #banner > header {
    vertical-align:top;
  }
  #banner > div {
    width:grid-width(11);
    display: inline-block;
  }
  #banner > div > h1 {
    opacity:0.85;
  }
  #banner > div > p {
    font-size: 0.85em;
    opacity:0.65;
  }
  #email > div > p{

  }
  #payment {
    margin-bottom:3em;
  }
  #payment > form {
    display:inline-block;
  }
}
