#users_edit {
  #signed_in > nav > a[href='/users/me/edit'] > img {
    opacity:1;
  }
  
  & > nav {
    margin-bottom:3em;
    text-align:center;
  }
  & > nav > a {
    text-decoration:none;
    &:after{
      content: " ";
      width:.75em;
      height:.75em;
      margin-left:.35em;
      display:inline-block;
      opacity:.5;
      @include transform(rotate(-90deg));
      background: image-url('shared/triangles/isosceles.svg') no-repeat 0% 0%;
      background-size: .75em;
    }
  }

  #banner {
    position:inherit;
    background-color: transparent;
    border-color:transparent;
  }
  #banner > header {
    vertical-align:top;
  }
  #banner > header > img {
    min-width:5em;
    max-width:9em;
  }
  #banner > div {
    width:grid-width(11);
    display: inline-block;
  }
  #banner > div > h1 {
    opacity:0.85;
  }
  #banner > div > p {
    font-size: 0.85em;
    opacity:0.65;
  }

  #rate > div > p:before{
    content: "$";
  }

  #card {
    height: grid-width(5);
    margin-bottom:3em;
    #number {
      width:grid-width(4);
    }
    #cvc {
      width:grid-width(1);
    }
  }
  #card > div {
    width:40em;
    @include column-count(3);
    @include column-gap(2em);
  }
  #card > div > section {
    height:5em;
    margin:0;
  }
  #card > div > section > p {
    margin:0
  }
  #card > form a {
    font-weight:bold;
  }
  #card p.number:before {
   content: "**** **** **** ";
  }
  #card > form > h1 {
    display:none;
    opacity:0;
    @include transition (opacity 3.0s ease-in-out);
  }
  #card > form > h1.message {
    @include transition (opacity 3.0s ease-in-out);
    display:block;
    opacity:1;
    margin:0 0 .5em 0;
    color:red;
    font-size:1.2em;
  }
}


