#identities > h1 {
  margin-bottom:.5em;
}
#identities > nav {
  display:inline-block;
  margin: .75em;
}
#identities > nav > a > img {
  vertical-align:middle;
  line-height:8em;
  max-width:6.5em;
  max-height:6.5em;
  margin:.5em;
}
#identities > section {
  position:relative;
  display:inline-block;
  padding:.5em;
  margin:1em;
  width:15em;  
  height:15em;
  border:.15em solid gray;
  border-radius:.5em;
  vertical-align:top;
}
#identities > section > h2 {
  line-height:1.5em;
  font-size:2em;
  vertical-align:top;
  text-align:center;
}
#identities > section > h2 > img {
  max-width:3em;
}
#identities > section > p {
  text-align:center;
  line-height:2em;
  vertical-align:bottom;
}
#identities > section > figure {
  padding:.25em;
  text-align:center;
}
#identities > section > figure > img {
  display:inline;
  max-width:5em;
  border-radius:.5em;
  border:.15em solid gray;
}

#identities > section > figure > img.provider {
  border:none;
}
#identities > section  > label {
  display:block;
  text-align:center;
  margin: .5em auto;
  width:12em;
}
#identities > section  > form > input {
  position:absolute;
  bottom:1.5em;
  left:37%;
  border:.2em solid gray;
  border-radius:.5em;
  background-color:white;
  color:red;
  display:block;  
  width:5em;
}
#identities * {
/*  outline:1px solid white;*/
}