#users_index {

  #banner {
    line-height: 2em;
  }

  section#users {
    padding-top:1em;
    padding:0;
    @include columns(3);
    vertical-align: top;
    margin-bottom: grid-width(2);
  }

  details {
    margin: 1em 0;

    &[open] {
      background-color: $offset;
      border-radius:0.5em;
      padding-top:0.25em;
    }

    & > summary:focus {
      outline: none;
    }
  }

  details > section {

    padding-left:2em;
    padding-bottom:1em;
  }

  nav#authors > a {
    font-size:0.75em;
    display:block;
    text-transform:lowercase;
    opacity:0.75;
  }

}