#users_show {
  & * {
//    outline:1px solid brown;
  }
  #signed_in > nav > a[href='/users/me'] > img {
    opacity:1;
  }
  #banner {
    margin-top:2em;
    margin-bottom:4em;
  }
  #banner > header {
    display:inline-block;
    width:grid-width(3);
  }
  #banner > hgroup {
    vertical-align:top;
    display:inline-block;
    width:grid-width(8);
  }
  #banner > hgroup > h1 {
    vertical-align:top;
    font-size:2.5em;
    margin-bottom:0;
    margin-top:0;
    line-height:1em;
  }
  #banner > hgroup > p {
    color: $darkness;
    font-family: 'Doppio One', sans-serif;
    font-size:1.25em;
    margin-top:0;
  }
  #banner > hgroup > p > a {
    padding-left:1em;
    font-size:.6em;
    font-family: 'Cantarell', sans-serif;
    opacity:.5;
  }
  #banner > p {
    vertical-align:top;
    margin-top:0;
    display:inline-block;
    width:grid-width(13);
  }
  #banner > header > img {
    vertical-align:bottom;
    width:5em;

  }

}