#user > p {
  margin: 1em 0;
}
#user > h1 > form {
  display: inline-block;
  margin-left:1em;
}
#user > h1 > form select {
  vertical-align:middle;
}

#user > ul > li {
  margin: .75em 0;
}
#user > ul > li > a {
  vertical-align:center;
  display:inline-block;
  margin:0 1em 1em 1em ;
}
#user > ul > li > a {
  width:7em;
  vertical-align:middle;
  text-align:center;
}
#user > ul > li > section {
  display:inline-block;
  height:3em;
}
#user > ul > li > section p {
  margin-top: 1em;
}
#user > ul > li > section > h2 {
  line-height:1.75em;
  vertical-align:top;
  font-size:1.5em;
}

#user > section {
  margin-bottom: 2em;
}
#user > section > header {
  display:inline-block;
  width:35em;
}
#user > section > header > h2 {
  font-size:1.5em;
  margin-bottom:.5em;
}
#user > section > header p {
  margin-left:1em;
}
#user > section > form {
  display:inline-block;
}
#user > section > form > input {
  text-align:center;
  line-height:1.5em;
  width:15em;
  border:.2em solid gray;
  border-radius:.5em;
}
#user > section > form > input.invalid{
  border-color:red;
}
#user > section > form > button {
  border:.2em solid gray;
  border-radius:.5em;
  color:red;
  cursor:pointer;
}
#user > section > a {
  text-decoration: underline;
  vertical-align:top;
  margin-top:.5em;
  margin-left:.5em;
}

#user > section > form > p {
  color:red;
  text-align:center;
}
section#rate > form {
  display:inline-block;
  vertical-align:top;
}

section#sharing {
  display:none;
}
section#sharing > fieldset {
  display:inline-block;
}
section#sharing > fieldset > label {
  display:block;
  vertical-align:bottom;
}