#users_show {
  #signed_in > nav > a[href='/users/me'] > img {
    opacity:1;
  }
  #banner {
    margin-top:2em;
    margin-bottom:4em;
  }
  #banner > header {
    display:inline-block;
    width:grid-width(3);
  }
  #banner > hgroup {
    vertical-align:top;
    display:inline-block;
    width:grid-width(8);
  }
  #banner > hgroup > h1 {
    vertical-align:top;
    font-size:2.5em;
    margin-bottom:0;
    margin-top:0;
    line-height:1em;
  }
  #banner > hgroup > p {
    color: $darkness;
    font-family: 'Doppio One', sans-serif;
    font-size:1.25em;
    margin-top:0;
  }
  #banner > hgroup > p > a {
    padding-left:1em;
    font-size:.6em;
    font-family: 'Cantarell', sans-serif;
    opacity:.5;
  }
  #banner > p {
    vertical-align:top;
    margin-top:0;
    display:inline-block;
    width:grid-width(13);
  }
  #banner > header > img {
    vertical-align:bottom;
    width:5em;

  }

  #stats {
    padding-bottom:1em;
  }
  #stats > header {}
  #stats > header > h1 {
    font-size:1.5em;
  }
  #stats > div,
  #stats > footer {
    vertical-align:middle;
    height:grid-width(2);
    display:inline-block;
  }
  #stats > div {
    padding:1em 0 0 2em;
    background-color:$offset_color;
    margin-right:.5em;
    width:grid-width(4);
  }
  #stats > div > h2 {
    font-size:.85em;
    @include text;
  }
  #stats > div > p {
    margin:.4em 0 0 0;
    font-size:1.5em;
    @include header_text;
  }
  #stats > div > p > span {
    padding:0 1em 0 0;
    line-height:1em;
  }
  #stats > div > p > span:before {
    content:"$";
  }
  #stats > div > p > button {
    @include copper_button;
    font-size:.75em;
    padding:0 .25em;
    vertical-align:top;
    border:none;
  }
  #stats > div:nth-child(2) {
    padding-left:0;
    @include right_width($offset_color)
  }
  #stats > footer {
    padding-top:1em;
    background-color: $offset_color;
    @include left_width($offset_color)
  }
  #stats > footer > a {
    display:inline-block;
    margin: 1.75em 3em;
    width:12em;
    font-family: 'Doppio One', sans-serif;
    font-size:.75em;
    @include settings_pointer
  }
  #tips {}
  #tips > header > h1 {
    font-size:1.5em;
  }
  #tips > header > nav {
    margin-bottom:grid-width(1);
  }
  #tips > header > nav > h2,
  #tips > header > nav > a {
    display:inline-block;
    margin-right:1em;
    @include text;
  }
  #tips > header > nav > h2:after{
    content: ":";
  }
  #tips > header > nav > a.selected {
    color:$darkness;
  }

  #tips > aside {
    padding:grid-width(1);
    background-color:$offset_color;
  }
  #tips > aside * {
//    outline:1px solid red;
  }
  #tips > aside > figure {
    display:inline-block;
    position:relative;
    width:grid-width(8);
    margin-right:grid-width(1);
  }
  #tips > aside > figure > img {
    width:grid-width(8);
    height:grid-width(5);
  }
  #tips > aside > dl {
    vertical-align:top;
    display:inline-block;
    width:grid-width(7.25);
    margin-right:grid-width(1);
    height:grid-width(5);
  }
  #tips > aside > dl > dt {}
  #tips > aside > dl > dd {
    -webkit-margin-start: 0;
    @include header_text;
    font-size:1.2em;
    margin-bottom:1.5em;
  }
  #tips > aside > dl > dd:nth-child(6) {
    margin-bottom:0;
    color:$button_color;
  }
  #tips > aside > nav {
    @include box-sizing(border-box);
    padding-top:1em;
    height:grid-width(5);
    vertical-align:top;
    display:inline-block;
    width:grid-width(4);
    height:grid-width(5);
  }
  #tips > aside > nav > a {
    float:right;
    display:block;

    color:#f1f1f1;
    background-color:#d5d1c8;
    padding: 0.25em 0.5em;
    margin-bottom:3em;

    border: 1px solid darken(#d5d1c8, 2%);
    border-radius:.15em;
    font-size:0.85em;
    font-family: 'Cantarell', sans-serif;
    @include background-image( linear-gradient(#d5d1c8 25%, darken(#d5d1c8, 15%) 100%));
  }
  #tips > aside > nav > a:after {
    content: ">>";
    font-size:0.75em;
    padding-left:.5em;
    vertical-align:middle;
  }
  #tips > aside > figure > figcaption {
    text-align:center;
    vertical-align:middle;
    position:absolute;
    top:0;
    right:0.25em;
    @include ribbon;
    min-width:1em;
    min-height:1em;
    padding:0.5em 0.5em 0.75em 0.5em;
    @include header_text;
    color:white;
    font-size:2em;
  }
  #tips > aside > figure > figcaption:before {
    content: "$";
  }
  #tips > aside > footer {
    margin-top:2em;
  }
  #tips > aside > footer > nav {
    display:inline-block;
  }
  #tips > aside > footer > time {
    float:right;
  }
  #tips > ol {
    min-height:20em;
  }
}