<menu>
  <h6>Tips</h6>
  <a href="/pages/trending">Trending</a>
  <a href="/pages/recent">Recent</a>
  <a class="fan" href="#tips_i_have_given">Given</a>
  <a class="fan" href="#tips_i_have_recieved">Recieved</a>

  <h6>Me</h6>
  <a class="guest" href="/auth/facebook">Sign In</a>
  <a class="fan" href="/signout">Sign Out</a>

  <a class="fan" href="#settings">Settings</a>
  <a class="fan" href="#authorized_providers">Providers</a>

</menu>
