<menu>
  <a href="/pages/trending">trending</a>
  <a href="/pages/recent">Recent</a>
  <a class="guest" href="/auth/facebook">Sign In</a>
  <a class="fan" href="#settings">Settings</a>
  <a class="fan" href="#authorized_providers">Providers</a>
  <a class="fan" href="/signout">Sign Out</a>
  <a class="fan" href="#tips_i_have_given">Given</a>
  <a class="fan" href="#tips_i_have_recieved">Recieved</a>
</menu>
