<menu>
  <menu class="guest">
    <a href="/pages/trending">trending</a>
    <a href="/pages/recent">Recent</a>
    <a href="/about">About</a>
    <a href="/auth/facebook">Sign In</a>
  </menu>
  <menu class='fan'>
    me
    <a href="#settings">Settings</a>
    <a href="#authorized_providers">Providers</a>
    <a href="/signout">Sign Out</a>
  </menu>
  <menu class=fan>
    tips
    <a href="#tips_i_have_given">Given</a>
    <a href="#tips_i_have_recieved">Recieved</a>
    <a href="/pages/trending">trending</a>
    <a href="/pages/recent">Recent</a>
  </menu>
  <menu class='admin'>

  </menu>
</menu>
