@import url("../design/index.css");
body > section > form {
  margin-right: 13em;
}
  body > section > form > a {
    font-size:1.25em;
    display:inline-block;
  }
  body > section > form input[type="submit"] {
    margin: 1em 1em 0 2em;
    width:7em;
  }
    body > section > form fieldset legend{
      padding-top:.5em;
    }
    body > section > form fieldset label[for="registered_no"],
    body > section > form fieldset label[for="registered_yes"],
    body > section > form fieldset label[for="remember_me"] {
      font-size:1.25em;
      margin-left:0em;
    }

    body > section > form fieldset label[for="registered_yes"]{
      margin-bottom:1em;
    }

    body > section > form fieldset input[id=rememeber_me],
    body > section > form fieldset input[id=registered_no],
    body > section > form fieldset input[id=registered_yes] {
      display:inline-box;
      width:.75em;
      margin:.7em 0 0 1.5em;
    }

    body > section > form fieldset label[for="password"],
    body > section > form fieldset label[for="confirm_password"],
    body > section > form fieldset input[id=confirm_password] {
      display:none;
    }

/* registration form display */
    body > section > form.register label[for="password"],
    body > section > form.register label[for="confirm_password"],
    body > section > form.register input[id="confirm_password"]{
      display:inline-block;
    }
    body  > section > form.register > a {
      display:none;
    }
    body > section > form.register fieldset input[id=password] {
      margin-bottom:1.5em;
    }
    body > section > form.register fieldset label[for="remember_me"],
    body > section > form.register fieldset input[id="remember_me"] {
      display:none;
    }

    body > section > form.register input[type="submit"] {
      width:10em;
    }