<% title "Log in or create an account" %>

<style>
  @import url("/design/login_register.css");
</style>
<script src="/behavior/login_register.js"></script>
<h1>Login or create a new account</h1>
<form action="/user_sessions" method="POST" accept-charset="utf-8">

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token"/>
  <fieldset>
    <label for="email">Enter your email address</label>
    <input type="text" name="user[email]" id="email" value=""/>
  </fieldset>

  <fieldset>
    <legend>Do you have a weave password?</legend>
    <input type="radio" name="registered" value="no" id="registered_no"/>
    <label for="registered_no">No, I need an account</label><br/>

    <input type="radio" name="registered" value="yes" checked="true" id="registered_yes"/>
    <label for="registered_yes">Yes, I have a password:</label>
  </fieldset>

  <fieldset>
    <label for="password">Enter a password</label>
    <input type="password" name="user[password]" value="" id="password"/>
    <input type="checkbox" name="keep_me" value="true" id="keep_me"/>
    <label for="keep_me" >Keep me logged in</label>
    <label for="password_confirmation">Confirm your password</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation" value=""/>
    
  </fieldset>

  <input type="submit" name="login" value="Log in"/>
  <a href="/password">Forgot my password</a>
</form>
