<section>
  <% title "Sign in or create an account" %>
  <style>
    @import url("/login_register/design.css");
  </style>
  <script src="/login_register/behavior.js"></script>
  <h1>Sign in or create a new account</h1>

  <%= form_tag authenticate_path, :method => :post %>

    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token"/>
    <fieldset>
      <label for="email">Email address</label>
      <input type="text" tabindex="1" name="user[email]" id="email" value="<%=@user_session.email%>"/>
    </fieldset>

    <fieldset>
      <legend>Do you have a weave password?</legend>
      <input type="radio" name="registered" tabindex="4" value="no" id="registered_no"/>
      <label for="registered_no">No, I need an account</label><br/>

      <input type="radio" name="registered" value="yes" checked="true" id="registered_yes"/>
      <label for="registered_yes">Yes, I have a password:</label>
    </fieldset>

    <fieldset>
      <label for="password">Enter a password</label>
      <input type="password"  tabindex="2" name="user[password]" value="" id="password"/>
      <input type="checkbox" name="user[remember_me]" value="1" id="remember_me"/>
      <label for="remember_me" >Keep me signed in</label>
      <label for="password_confirmation">Confirm your password</label>
      <input type="password" name="user[password_confirmation]" id="password_confirmation" value=""/>
    </fieldset>

    <input type="submit" tabindex="3" name="login" value="Sign in" id="submit"/>

    <%= link_to "Forgot my password", password_reset_new_path %>

  </form>
</section>
