<meta name="event_trigger" content="login_display">
<header>
  <h1>Sign in to Weave.us</h1>
  <span class="close">x</span>
  <a href="/login">need an account?</a>
</header>
<%= form_tag authenticate_path, :method => :post %>
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token"/>
  <fieldset>
    <label for="email">Email address</label>
    <input type="text" tabindex="1" name="user[email]" id="email" value="<%=@user_session.email%>"/>
  </fieldset>

  <fieldset>
    <label for="password">Password</label>
    <input type="password"  tabindex="2" name="user[password]" value="" id="password"/>

  </fieldset>
  
  <fieldset>
    <input type="checkbox" name="user[remember_me]" value="1" id="remember_me"/>
    <label for="remember_me" >Keep me signed in</label>
  </fieldset>
  <input type="hidden" name="registered" value="yes">
  <input type="submit" tabindex="3" name="login" value="Sign in" id="submit"/>
</form>
