<%-cache tip do-%>
<tr itemscope itemtype='tips' itemid='<%=tip.id%>'>
  <td><time datetime="<%=tip.created_at.getutc.iso8601%>" /></td>
  <td>
    <span itemprop='amount_in_cents' data-cents='<%=tip.amount_in_cents%>'></span>
  </td>
</tr>
<%-end-%>