<%-cache tip do-%>
<li itemtype='tip' itemid='<%=link_to tip%>' >
  <time datetime="<%=tip.created_at.getutc.iso8601%>">
  <data itemprop='amount_in_cents' value='<%=tip.amount_in_cents%>'>
</li>
<%-end-%>
