<html>
  <head>
    <title>dirtywhitecouch.com</title>
    <style>
      @import url("/design/reset.css");
      @import url("/bookmarklet/design.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <script src="/behavior/message.en.js"></script>
    <script src="/bookmarklet/behavior.js?"></script>
  </head>
  <body>
    <section class="notify">
      <img src="/graphics/logo/nane/red.png">
    </section>
    <section class="alert">
      <header>
        <span>X</span>
        <img src="/graphics/logo/name/red.png">
        <h1>Damn!</h1>
        <p>
          There was something screwy with trying to tip this page.
        </p>
        <p>
          Engineers have been notified.
        </p>
        <p>
          Thanks!
        </p>
      </header>
      <ol></ol>
    </section>
  </body>
</html>