<html>
  <head>
    <title>dirtywhitecouch.com</title>
    <style>
      @import url("/design/reset.css");
      @import url("/bookmarklet/design.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <script src="/behavior/message.en.js"></script>
    <script src="/bookmarklet/behavior.js?"></script>
  </head>
  <body>

    <section class="notify">
      <img src="/graphics/main_logo.png">
    </section>
    <section class="alert">
      <header>
        <span>X</span>
        <h1>Alert</h1>
      </header>
      <ol></ol>
    </section>
  </body>
</html>