<meta name="event_trigger" content="notify"/>
<section class="alert">
  <header>
    <%= image_tag "logo/name/red.png" %>
    <h1>Damn!</h1>
    <p>here was something screwy with trying to tip this page.</p>
    <p>Engineers have been notified.</p>
    <p>Thanks!</p>
  </header>
  <%= render :partial => 'shared/flash', :object => flash %>
</section>