<meta name="event_trigger" content="tip_success"/>
<section class="notify" itemscope="true" itemtype="tip">
  <img src="/graphics/logo/name/red.png">
  <header>
    <h1>You've tipped</h1>
  </header>
  <p itemprop="description"><%= CGI::unescape(@tip.locator.page.description) %></p>
  <%= render :partial => 'shared/dashboard' %>
  <%= render :partial => 'shared/flash' %>
</section>

