<meta name="event_trigger" content="notify"/>
<section class="notify" itemscope="true" itemtype="tip">
  <%= image_tag "logo/name/red.png" %>
  <header>
    <h1>You've tipped</h1>
    <p itemprop="description"><%= CGI::unescape(@tip.locator.page.description) %></p>
  </header>
  <%= render :partial => 'shared/dashboard' %>
</section>
