<meta name="event_trigger" content="tip_success"/>
<section itemscope="true" itemtype="tip">
  <header>
    <h1>You've tipped</h1>
  </header>
  <p itemprop="description"><%= CGI::unescape(@tip.locator.page.description) %></p>
</section>
<%= render :partial => 'shared/dashboard' %>