<%-cache do-%>
<section class="sign_in">
  <header>
    <a href="/" target="blank"><%= image_tag "icons/logo_light.svg", :title => "Visit Copper.is" %></a>
    <h1>Pay Artists first!</h1>
  </header>
  <nav>
    <a id="learn" href="<%=request.scheme%>://<%=request.host%>" target="new">Learn more</a>
    <a id="close">Close</a>
  </nav>
</section>
<%-end-%>