<%-cache do-%>
<section class="sign_in">
  <a href="#close">X</a>
  <p itemprop="title"></p>
  <header> 
    <h1>Sign up with copper to tip this page</h1>
    <a href="<%=request.scheme%>://<%=request.host%>" target="new">Learn more</a>
  </header>
</section>
<%-end-%>