<%-cache do-%>
<section class="sign_in">
  <a href="#close">X</a>
  <header>
    <h1>You Can Tip</h1>
    <p itemprop="title"></p>
    <a href="<%=request.scheme%>://<%=request.host%>" target="new">Learn more</a>
  </header>
</section>
<%-end-%>