<% title "Pages" %>
<style>
  @import url("/design/page_report.css");
</style>
<section>
  <header>
    <h1>Pages</h1>
    <nav>
      <a href="#popular" class="selected">Popular</a>
      <a href="#profitable">Profitable</a>
      <a href="#search">Search</a>
    </nav>
  </header>

  <% @tips.each do |t| %>
  <ul itemscope="true" itemtype="http://weave.us/page">
    <li itemprop="domain"><%=h t.description %></li>
    <li itemprop="publisher"><a href="#">#publisher#</a></li>
    <li itemprop="earned">$<%=h t.revenue_earned %> <span>earned</span></li>
    <li itemprop="average">$<%=h t.revenue_earned/t.tips_earned %> <span>average tip</span></li>
    <li itemprop="tips"><%=h t.tips_earned %> <span>tips</span></li>
  </ul>
  <% end %>

</section>
