<section>
  <header>
    <p>Some information about</p>
    <h1>Publishers</h1>
  </header>
  <table>
    <thead>
      <tr>
        <th>header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>data</td>
      </tr>
    </tbody>
  </table>
  <footer>
    
  </footer>
</section>