<% title "Site" %>
<style>
  @import url("/design/site_report.css");
</style>
<section>
  <header>
    <h1>Sites</h1>
    <nav>
      <a href="#">Popular</a>
      <a href="#" class="selected">Profitable</a>
      <a href="#">Search</a>
    </nav>
  </header>

  <dl item="us.weave.sites">
    <% @tips.each do |t| %>
    <dt item="site" itemProp="domain"><%=h t.fqdn %></dt>
      <dd itemProp="publisher"><a href="#">#publisher-name#</a></dd>
      <dd itemProp="total_earned">$<%=h t.revenue_earned %> <span>earned</span></dd>
      <dd itemProp="average_tip">$<%=h t.revenue_earned/t.tips_earned %> <span>average tip</span></dd>
      <dd itemProp="total_tips"><%=h t.tips_earned %> <span>tips</span></dd>
    </dt>
    <% end %>
  </dl>
</section>
