<% title "Site" %>
<style>
  @import url("/design/site_report.css");
</style>
<section>
  <header>
    <h1>Sites</h1>
    <nav>
      <a href="#">Popular</a>
      <a href="#" class="selected">Profitable</a>
      <a href="#">Search</a>
    </nav>
  </header>
  <dl item="us.weave.sites">

    <dt item="site" itemProp="domain">www.example.com</dt>
      <dd itemProp="publisher"><a href="#">Gonzo publishing</a></dd>
      <dd itemProp="total_earned">$450,000 <span>earned</span></dd>
      <dd itemProp="average_tip">$0.18 average tip</dd>
      <dd itemProp="total_tips">400,000 <span>tips</span></dd>

    <dt item="site" itemProp="domain">www.example.com</dt>
      <dd itemProp="publisher"><a href="#">Gonzo publishing</a></dd>
      <dd itemProp="total_earned">$450,000 <span>earned</span></dd>
      <dd itemProp="average_tip">$0.18 average tip</dd>
      <dd itemProp="total_tips">400,000 <span>tips</span></dd>

    <dt item="site" itemProp="domain">www.example.com</dt>
      <dd itemProp="publisher"><a href="#">Gonzo publishing</a></dd>
      <dd itemProp="total_earned">$450,000 <span>earned</span></dd>
      <dd itemProp="average_tip">$0.18 average tip</dd>
      <dd itemProp="total_tips">400,000 <span>tips</span></dd>

    <dt item="site" itemProp="domain">www.example.com</dt>
      <dd itemProp="publisher"><a href="#">Gonzo publishing</a></dd>
      <dd itemProp="total_earned">$450,000 <span>earned</span></dd>
      <dd itemProp="average_tip">$0.18 average tip</dd>
      <dd itemProp="total_tips">400,000 <span>tips</span></dd>

    <dt item="site" itemProp="domain">www.example.com</dt>
      <dd itemProp="publisher"><a href="#">Gonzo publishing</a></dd>
      <dd itemProp="total_earned">$450,000 <span>earned</span></dd>
      <dd itemProp="average_tip">$0.18 average tip</dd>
      <dd itemProp="total_tips">400,000 <span>tips</span></dd>

    <dt item="site" itemProp="domain">www.example.com</dt>
      <dd itemProp="publisher"><a href="#">Gonzo publishing</a></dd>
      <dd itemProp="total_earned">$450,000 <span>earned</span></dd>
      <dd itemProp="average_tip">$0.18 average tip</dd>
      <dd itemProp="total_tips">400,000 <span>tips</span></dd>

  </dl>
</section>
