<% title "Admin home" %>
<style>
  @import url("/admin/design.css");
</style>
<section>
  <h1>Admin</h1>
    <table>
      <caption>Users: Recently added and active</caption>
      <thead>
        <tr>
          <th>email</th>
          <th>sign up date</th>
          <th>last online</th>
          <th>activation date</th>
          <th>role</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%=h user.email %></td>
            <td><%=h user.created_at %></td>
            <td><%=h user.last_login_at %></td>
            <td>#activation date</td>
            <td>#role</td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>