<header>
  <a href="/"><%= image_tag "icons/logo.svg", :title => "View your profile" %></a>
  <h1>Tips</h1>
  <figure>
    <img src="<%=current_user.authors.first.profile_image if current_user%>" class="author">
  </figure>
</header>

