<header>
  <menu class="guest">
    <a href="/auth/facebook">Sign In</a>
  </menu>
  <menu class='fan'>
    <a href="#settings">Settings</a>
    <a href="#authorized_accounts">Linked</a>
  </menu>
</header>
