<%-cache do-%>
<header>
  <a href="/"><%= image_tag "icons/logo_light.svg", :title => "View your profile" %></a>
  <nav>
    <a href="/getting_started">Getting started</a>
    <a href="/trending">Trending</a>
    <a href="/faq">FAQ</a>
  </nav>
  <hgroup >
    <nav id="fan_nav" >
      <a href="/author"><%= image_tag "noun_project/7719_light.svg", :title => "Tips you've earned" %></a>
      <a href="/settings"><%= image_tag "icons/gear_white.svg", :title => "Your account settings" %></a>
      <a href="/signout"><%= image_tag "noun_project/94_light.svg", :title => "Sign out of Copper" %></a>
    </nav>
    <nav id="guest_nav" >
      <a href="/auth/facebook">Sign in</a>
    </nav>
  </hgroup>
</header>
<%-end-%>