<header>
  <nav class="guest">
    <a href="/auth/facebook">Sign In</a>
  </nav>
  <menu class='fan'>
    <a href="#tips_i_have_given">Given</a>
    <a href="#tips_i_have_recieved">Recieved</a>
  </menu>
</header>

