<% title "Accounts" %>
<section>
  <header>
    <h1>Create an Account</h1>
    <nav>
      <%= link_to "Back to List", accounts_path %>
    </nav>    
  </header>
  <%= render :partial => 'form' %>    
  <footer>
    <nav>
      <%= link_to "Back to List", accounts_path %>
    </nav>    
  </footer>
</section>


