<% title "Create New Account" %>

<section>
  <header>
    <p>Edit</p>
    <h1>Account</h1>
    <nav>
      <%= link_to "Back to List", accounts_path %>
    </nav>    
  </header>
  <%= render :partial => 'form' %>    
  <footer>
    <nav>
      <%= link_to "Back to List", accounts_path %>
    </nav>    
  </footer>
</section>


